# Mixed PCA (MPCA) cars

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_carsacpm
cars = load_carsacpm()
cars.head(6)

     CONS  CYLI  VITE  VOLU  RP/P  LONG FISC  MARQ PRIX
NOM
AS2   6.2   998   140   955  23.2  3.40  4CV  ETRA  CP1
CI4   5.6   954   145  1170  19.4  3.50  4CV  FRAN  CP1
PE6   6.7   993   145  1151  20.8  3.61  4CV  FRAN  CP2
FI3   6.3   999   140  1088  21.8  3.64  4CV  ETRA  CP1
FI5   6.2   999   145   968  21.5  3.64  4CV  ETRA  CP2
FI8   8.9  1301   200   968  11.0  3.64  6CV  ETRA  CP4

In [3]:
from scientisttools import MPCA

res_mpca = MPCA(n_components=5)
res_mpca.fit(cars)

MPCA()

### fit_transform

In [4]:
res_mpca.fit_transform(cars).head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

### transform

In [5]:
res_mpca.transform(cars).head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

## Eigenvalues

In [6]:
res_mpca.eig_

        eigenvalue  difference  proportion  cumulative
Dim.1     6.153650    3.397784   41.024332   41.024332
Dim.2     2.755866    0.407014   18.372438   59.396770
Dim.3     2.348852    1.139269   15.659013   75.055783
Dim.4     1.209583    0.272588    8.063886   83.119668
Dim.5     0.936995    0.128760    6.246630   89.366299
Dim.6     0.808235    0.500608    5.388230   94.754529
Dim.7     0.307627    0.097812    2.050846   96.805375
Dim.8     0.209815    0.111817    1.398765   98.204140
Dim.9     0.097998    0.021374    0.653320   98.857460
Dim.10    0.076624    0.004898    0.510826   99.368286
Dim.11    0.071726    0.048695    0.478174   99.846461
Dim.12    0.023031         NaN    0.153539  100.000000

### Individuals informations

In [7]:
ind = res_mpca.ind_
ind.keys()

dict_keys(['coord', 'cos2', 'contrib', 'infos'])

#### Individuals coordinates

In [8]:
ind["coord"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

#### Individuals cos2

In [9]:
ind["cos2"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2  0.393628  0.164946  0.112423  0.007997  0.116879
CI4  0.394645  0.064096  0.212346  0.047075  0.120489
PE6  0.209410  0.397437  0.008552  0.025430  0.129572
FI3  0.549312  0.153441  0.088546  0.016287  0.020261
FI5  0.298589  0.001666  0.032092  0.156894  0.332887
FI8  0.685984  0.021192  0.088828  0.102522  0.000118

#### Individuals contributions

In [10]:
ind["contrib"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4      Dim.5
AS2  4.153171  3.886081  3.107601  0.429257   8.098913
CI4  3.458966  1.254427  4.875965  2.099066   6.935579
PE6  1.601535  6.787070  0.171347  0.989413   6.507955
FI3  2.620402  1.634419  1.106615  0.395266   0.634740
FI5  1.884963  0.023484  0.530761  5.038854  13.801318
FI8  8.537029  0.588894  2.896130  6.490956   0.009618

#### Additionals informations

In [11]:
ind["infos"].head(6)

       Weight  Sq. Dist.   Inertia
AS2  0.037037  17.530355  0.649272
CI4  0.037037  14.562517  0.539352
PE6  0.037037  12.706787  0.470622
FI3  0.037037   7.925836  0.293549
FI5  0.037037  10.488785  0.388474
FI8  0.037037  20.677079  0.765818

### Quantitatives variables informations

In [12]:
quanti_var = res_mpca.quanti_var_
quanti_var.keys()

dict_keys(['coord', 'contrib', 'cor', 'cos2'])

#### Quantitatives variables coordinates

In [13]:
quanti_var["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS  0.859012 -0.117609  0.345895  0.036224  0.167043
CYLI  0.950441  0.067598 -0.059370  0.029615 -0.073148
VITE  0.928352 -0.101186  0.103113 -0.225809 -0.101447
VOLU  0.151948  0.375336  0.476545  0.618212  0.279747
RP/P -0.864684  0.223102 -0.009520  0.234878  0.166710
LONG  0.292079  0.269671 -0.334891 -0.069933  0.506087

#### Quantitatives variables cos2

In [14]:
quanti_var["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS  0.737901  0.013832  0.119644  0.001312  0.027903
CYLI  0.903338  0.004569  0.003525  0.000877  0.005351
VITE  0.861837  0.010239  0.010632  0.050990  0.010292
VOLU  0.023088  0.140877  0.227095  0.382186  0.078259
RP/P  0.747678  0.049774  0.000091  0.055168  0.027792
LONG  0.085310  0.072722  0.112152  0.004891  0.256124

#### Quantitatives variables contrib

In [15]:
quanti_var["contrib"]

          Dim.1     Dim.2     Dim.3      Dim.4      Dim.5
CONS  11.991275  0.501903  5.093707   0.108482   2.977964
CYLI  14.679706  0.165810  0.150063   0.072508   0.571044
VITE  14.005294  0.371521  0.452659   4.215477   1.098357
VOLU   0.375193  5.111899  9.668361  31.596531   8.352085
RP/P  12.150162  1.806123  0.003859   4.560882   2.966116
LONG   1.386335  2.638820  4.774767   0.404328  27.334663

### Qualitatives variables informations

In [16]:
quali_var = res_mpca.quali_var_
quali_var.keys()

dict_keys(['coord', 'contrib', 'cos2', 'vtest'])

#### Qualitatives variables coordinates

In [17]:
quali_var["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -0.829601 -0.225533  0.400444 -0.169944  0.139799
5CV  -0.044295  0.377974 -0.791452  0.069307 -0.400827
6CV   0.915821 -0.072409  0.227730  0.123018  0.182113
ETRA  0.022882 -0.945880 -0.195347 -0.095776  0.140474
FRAN -0.022882  0.945880  0.195347  0.095776 -0.140474
CP1  -0.702382 -0.302027  0.504614  0.154892 -0.221186
CP2  -0.307164  0.450615 -0.361921 -0.455122  0.435591
CP3   0.489931 -0.299382 -0.593292  0.520044  0.017891
CP4   0.660909  0.302648  0.472400 -0.381343 -0.198629

#### Qualitatives variables cos2

In [18]:
quali_var["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV   0.688238  0.050865  0.160356  0.028881  0.019544
5CV   0.001962  0.142864  0.626396  0.004803  0.160663
6CV   0.838728  0.005243  0.051861  0.015133  0.033165
ETRA  0.000524  0.894690  0.038161  0.009173  0.019733
FRAN  0.000524  0.894690  0.038161  0.009173  0.019733
CP1   0.493340  0.091221  0.254635  0.023991  0.048923
CP2   0.094350  0.203054  0.130987  0.207136  0.189740
CP3   0.240033  0.089630  0.351995  0.270446  0.000320
CP4   0.436801  0.091596  0.223162  0.145422  0.039454

#### Qualitatives variables contrib

In [19]:
quali_var["contrib"]

          Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
4CV   11.184220   1.845703   6.826981   2.387666   2.085792
5CV    0.031884   5.184003  26.668183   0.397119  17.146591
6CV   13.629758   0.190251   2.207925   1.251127   3.539530
ETRA   0.008509  32.464927   1.624646   0.758357   2.105977
FRAN   0.008509  32.464927   1.624646   0.758357   2.105977
CP1    8.017031   3.310051  10.840822   1.983449   5.221275
CP2    1.533229   7.368060   5.576641  17.124606  20.249805
CP3    3.900656   3.252329  14.985851  22.358594   0.034162
CP4    7.098241   3.323673   9.500889  12.022516   4.210662

#### Qualitatives variables vtest

In [20]:
quali_var["vtest"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -1.643226 -0.667537  1.283833 -0.759244  0.709626
5CV  -0.043406  0.553469 -1.255328  0.153187 -1.006582
6CV   1.331116 -0.157266  0.535752  0.403295  0.678335
ETRA  0.061325 -3.788073 -0.847404 -0.578959  0.964801
FRAN -0.036074  2.228278  0.498473  0.340564 -0.567530
CP1  -1.107309 -0.711508  1.287637  0.550773 -0.893615
CP2  -0.300998  0.659837 -0.574046 -1.005937  1.093883
CP3   0.653467 -0.596695 -1.280842  1.564506  0.061154
CP4   0.566537  0.387670  0.655443 -0.737311 -0.436343

### Variables informations

In [21]:
var = res_mpca.var_
var.keys()

dict_keys(['coord', 'contrib', 'cos2'])

#### Variables coordinates

In [22]:
var["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS  0.737901  0.013832  0.119644  0.001312  0.027903
CYLI  0.903338  0.004569  0.003525  0.000877  0.005351
VITE  0.861837  0.010239  0.010632  0.050990  0.010292
VOLU  0.023088  0.140877  0.227095  0.382186  0.078259
RP/P  0.747678  0.049774  0.000091  0.055168  0.027792
LONG  0.085310  0.072722  0.112152  0.004891  0.256124
FISC  0.917614  0.146278  0.628118  0.028978  0.163154
MARQ  0.000524  0.894690  0.038161  0.009173  0.019733
PRIX  0.928500  0.363985  0.704857  0.498075  0.219240

#### Variables cos2

In [23]:
var["cos2"]

             Dim.1     Dim.2         Dim.3         Dim.4     Dim.5
CONS  5.444980e-01  0.000191  1.431460e-02  1.721820e-06  0.000779
CYLI  8.160190e-01  0.000021  1.242397e-05  7.691975e-07  0.000029
VITE  7.427625e-01  0.000105  1.130454e-04  2.599949e-03  0.000106
VOLU  5.330593e-04  0.019846  5.157236e-02  1.460663e-01  0.006124
RP/P  5.590230e-01  0.002477  8.215183e-09  3.043470e-03  0.000772
LONG  7.277832e-03  0.005289  1.257812e-02  2.391872e-05  0.065600
FISC  4.210081e-01  0.010699  1.972662e-01  4.198661e-04  0.013310
MARQ  2.741426e-07  0.800470  1.456225e-03  8.414302e-05  0.000389
PRIX  2.873710e-01  0.044162  1.656079e-01  8.269302e-02  0.016022

#### Variables contrib

In [24]:
var["contrib"]

          Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
CONS  11.991275   0.501903   5.093707   0.108482   2.977964
CYLI  14.679706   0.165810   0.150063   0.072508   0.571044
VITE  14.005294   0.371521   0.452659   4.215477   1.098357
VOLU   0.375193   5.111899   9.668361  31.596531   8.352085
RP/P  12.150162   1.806123   0.003859   4.560882   2.966116
LONG   1.386335   2.638820   4.774767   0.404328  27.334663
FISC  14.911710   5.307868  26.741497   2.395713  17.412504
MARQ   0.008509  32.464927   1.624646   0.758357   2.105977
PRIX  15.088613  13.207663  30.008582  41.177450  23.398211

In [25]:
# Concatenate
import pandas as pd
cars2 = cars.copy()
cars2.columns = [x+"2" for x in cars2.columns]
Cars = pd.concat((cars,cars2),axis=1)
Cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, AS2 to VW3
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CONS    27 non-null     float64
 1   CYLI    27 non-null     int64
 2   VITE    27 non-null     int64
 3   VOLU    27 non-null     int64
 4   RP/P    27 non-null     float64
 5   LONG    27 non-null     float64
 6   FISC    27 non-null     object
 7   MARQ    27 non-null     object
 8   PRIX    27 non-null     object
 9   CONS2   27 non-null     float64
 10  CYLI2   27 non-null     int64
 11  VITE2   27 non-null     int64
 12  VOLU2   27 non-null     int64
 13  RP/P2   27 non-null     float64
 14  LONG2   27 non-null     float64
 15  FISC2   27 non-null     object
 16  MARQ2   27 non-null     object
 17  PRIX2   27 non-null     object
dtypes: float64(6), int64(6), object(6)
memory usage: 5.1+ KB

In [26]:
res_mpca2 = MPCA(n_components= 5,quanti_sup=list(range(9,15)),quali_sup=[15,16,17])
res_mpca2.fit(Cars)

MPCA(quali_sup=[15, 16, 17], quanti_sup=[9, 10, 11, 12, 13, 14])

### Suppplementary quantitatives

In [27]:
quanti_sup = res_mpca2.quanti_sup_
quanti_sup.keys()

dict_keys(['coord', 'cor', 'cos2'])

#### Supplementary coordinates

In [28]:
quanti_sup["coord"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS2  0.859012 -0.117609  0.345895  0.036224  0.167043
CYLI2  0.950441  0.067598 -0.059370  0.029615 -0.073148
VITE2  0.928352 -0.101186  0.103113 -0.225809 -0.101447
VOLU2  0.151948  0.375336  0.476545  0.618212  0.279747
RP/P2 -0.864684  0.223102 -0.009520  0.234878  0.166710
LONG2  0.292079  0.269671 -0.334891 -0.069933  0.506087

#### Supplementary cos2

In [29]:
quanti_sup["cos2"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS2  0.737901  0.013832  0.119644  0.001312  0.027903
CYLI2  0.903338  0.004569  0.003525  0.000877  0.005351
VITE2  0.861837  0.010239  0.010632  0.050990  0.010292
VOLU2  0.023088  0.140877  0.227095  0.382186  0.078259
RP/P2  0.747678  0.049774  0.000091  0.055168  0.027792
LONG2  0.085310  0.072722  0.112152  0.004891  0.256124

### Supplementary qualitatives

In [30]:
quali_sup = res_mpca2.quali_sup_
quali_sup.keys()

dict_keys(['coord', 'cos2', 'vtest', 'dist', 'eta2'])

#### Qualitatives supplementary coordinates

In [31]:
quali_sup["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -2.135640 -0.388536  0.636887 -0.193961  0.140432
5CV  -0.230486  1.316185 -2.544361  0.159890 -0.813865
6CV   3.212860 -0.169995  0.493586  0.191338  0.249301
ETRA  0.043535 -1.204317 -0.229620 -0.080788  0.104289
FRAN -0.074009  2.047339  0.390355  0.137340 -0.177292
CP1  -2.271768 -0.653732  1.008350  0.222111 -0.279158
CP2  -1.598316  1.569137 -1.163505 -1.049959  0.884451
CP3   1.872981 -0.765926 -1.401290  0.881434  0.026689
CP4   3.931353  1.204762  1.736088 -1.005697 -0.461048

#### Qualitatives supplementary cos2

In [32]:
quali_sup["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV   0.878882  0.029090  0.078163  0.007249  0.003800
5CV   0.005888  0.191996  0.717490  0.002833  0.073411
6CV   0.963075  0.002696  0.022730  0.003416  0.005799
ETRA  0.001238  0.947619  0.034449  0.004264  0.007106
FRAN  0.001238  0.947619  0.034449  0.004264  0.007106
CP1   0.756059  0.062608  0.148953  0.007227  0.011416
CP2   0.288341  0.277909  0.152798  0.124430  0.088293
CP3   0.511028  0.085458  0.286045  0.113177  0.000104
CP4   0.727370  0.068308  0.141845  0.047600  0.010004

#### Qualitatives supplementary vtest

In [33]:
quali_sup["vtest"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -4.230151 -1.149997  2.041874 -0.866545  0.712838
6CV   4.669788 -0.369215  1.161199  0.627271  0.928599
5CV  -0.225859  1.927296 -4.035629  0.353399 -2.043827
ETRA  0.116676 -4.823063 -0.996079 -0.488361  0.716279
FRAN -0.116676  4.823063  0.996079  0.488361 -0.716279
CP1  -3.581458 -1.540044  2.573034  0.789796 -1.127830
CP3   2.498169 -1.526557 -3.025208  2.651714  0.091227
CP2  -1.566234  2.297694 -1.845444 -2.320677  2.221087
CP4   3.369988  1.543209  2.408777 -1.944474 -1.012816

#### Qualitatives variables eta2

In [34]:
quali_sup["eta2"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FISC2  0.917614  0.146278  0.628118  0.028978  0.163154
MARQ2  0.000524  0.894690  0.038161  0.009173  0.019733
PRIX2  0.928500  0.363985  0.704857  0.498075  0.219240

## MPCA with supplementary individuals

In [35]:
# Concatenate
cars3 = cars.copy()
cars3.index = [x+"2" for x in cars3.index]
Cars2 = pd.concat((cars,cars3),axis=0)
Cars2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, AS2 to VW32
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CONS    54 non-null     float64
 1   CYLI    54 non-null     int64
 2   VITE    54 non-null     int64
 3   VOLU    54 non-null     int64
 4   RP/P    54 non-null     float64
 5   LONG    54 non-null     float64
 6   FISC    54 non-null     object
 7   MARQ    54 non-null     object
 8   PRIX    54 non-null     object
dtypes: float64(3), int64(3), object(3)
memory usage: 4.2+ KB

In [36]:
res_mpca3 = MPCA(n_components=5,ind_sup=list(range(cars.shape[0],Cars2.shape[0])))
res_mpca3.fit(Cars2)

MPCA(ind_sup=[27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
              43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53])

### Supplementary individuals

In [37]:
ind_sup = res_mpca3.ind_sup_
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

#### Supplementary individuals coordinates

In [38]:
ind_sup["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS22 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI42 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE62 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI32 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI52 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI82  3.766185 -0.661957  1.355248 -1.455975 -0.049329

In [39]:
res_mpca3.ind_["coord"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

#### Supplementary individuals cos2

In [40]:
ind_sup["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS22  0.393628  0.164946  0.112423  0.007997  0.116879
CI42  0.394645  0.064096  0.212346  0.047075  0.120489
PE62  0.209410  0.397437  0.008552  0.025430  0.129572
FI32  0.549312  0.153441  0.088546  0.016287  0.020261
FI52  0.298589  0.001666  0.032092  0.156894  0.332887
FI82  0.685984  0.021192  0.088828  0.102522  0.000118

In [41]:
res_mpca3.ind_["cos2"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2  0.393628  0.164946  0.112423  0.007997  0.116879
CI4  0.394645  0.064096  0.212346  0.047075  0.120489
PE6  0.209410  0.397437  0.008552  0.025430  0.129572
FI3  0.549312  0.153441  0.088546  0.016287  0.020261
FI5  0.298589  0.001666  0.032092  0.156894  0.332887
FI8  0.685984  0.021192  0.088828  0.102522  0.000118

### Extractions functions

In [42]:
from scientisttools import get_eig, get_mpca, summaryMPCA
eig = get_eig(res_mpca)
ind = get_mpca(res_mpca,choice="ind")
quanti_var = get_mpca(res_mpca,choice="quanti_var")
quali_var = get_mpca(res_mpca,choice="quali_var")
summaryMPCA(res_mpca)

                Mixed Principal Component Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  6.154   2.756   2.349   1.210   0.937
Difference                3.398   0.407   1.139   0.273   0.129
% of var.                41.024  18.372  15.659   8.064   6.247
Cumulative of % of var.  41.024  59.397  75.056  83.120  89.366

Individuals (the 10 first)

     Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  \
AS2   0.037     17.530    0.649 -2.627  4.153  0.394 -1.700  3.886  0.165
CI4   0.037     14.563    0.539 -2.397  3.459  0.395  0.966  1.254  0.064
PE6   0.037     12.707    0.471 -1.631  1.602  0.209  2.247  6.787  0.397
FI3   0.037      7.926    0.294 -2.087  2.620  0.549 -1.103  1.634  0.153
FI5   0.037     10.489    0.388 -1.770  1.885  0.299 -0.132  0.023  0.002
FI8   0.037     20.677    0.766  3.766  8.537  0.686 -0.662  0.589  0.021
FID   0.037      8.978    0.333  2.161  2.811  0.520 -1.273  2.177  0.180
FO1   0.037      6.807    0.252 -1.796  1.941  0.474 -1.234  2.046  0.224
RE7   0.037     24.727    0.916  4.003  9.643  0.648  1.816  4.431  0.133
NI1   0.037     10.308    0.382 -1.913  2.202  0.355 -1.765  4.185  0.302

     Dim.3    ctr   cos2
AS2  1.404  3.108  0.112
CI4  1.758  4.876  0.212
PE6  0.330  0.171  0.009
FI3  0.838  1.107  0.089
FI5 -0.580  0.531  0.032
FI8  1.355  2.896  0.089
FID -0.715  0.807  0.057
FO1  0.752  0.893  0.083
RE7  1.850  5.398  0.138
NI1  0.131  0.027  0.002

Continuous variables

      Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3    ctr   cos2
CONS  0.859  11.991  0.738 -0.118  0.502  0.014  0.346  5.094  0.120
CYLI  0.950  14.680  0.903  0.068  0.166  0.005 -0.059  0.150  0.004
VITE  0.928  14.005  0.862 -0.101  0.372  0.010  0.103  0.453  0.011
VOLU  0.152   0.375  0.023  0.375  5.112  0.141  0.477  9.668  0.227
RP/P -0.865  12.150  0.748  0.223  1.806  0.050 -0.010  0.004  0.000
LONG  0.292   1.386  0.085  0.270  2.639  0.073 -0.335  4.775  0.112

Categories

      Dim.1     ctr   cos2  vtest  Dim.2     ctr   cos2  vtest  Dim.3     ctr  \
4CV  -0.830  11.184  0.688 -1.643 -0.226   1.846  0.051 -0.668  0.400   6.827
5CV  -0.044   0.032  0.002 -0.043  0.378   5.184  0.143  0.553 -0.791  26.668
6CV   0.916  13.630  0.839  1.331 -0.072   0.190  0.005 -0.157  0.228   2.208
ETRA  0.023   0.009  0.001  0.061 -0.946  32.465  0.895 -3.788 -0.195   1.625
FRAN -0.023   0.009  0.001 -0.036  0.946  32.465  0.895  2.228  0.195   1.625
CP1  -0.702   8.017  0.493 -1.107 -0.302   3.310  0.091 -0.712  0.505  10.841
CP2  -0.307   1.533  0.094 -0.301  0.451   7.368  0.203  0.660 -0.362   5.577
CP3   0.490   3.901  0.240  0.653 -0.299   3.252  0.090 -0.597 -0.593  14.986
CP4   0.661   7.098  0.437  0.567  0.303   3.324  0.092  0.388  0.472   9.501

       cos2  vtest
4CV   0.160  1.284
5CV   0.626 -1.255
6CV   0.052  0.536
ETRA  0.038 -0.847
FRAN  0.038  0.498
CP1   0.255  1.288
CP2   0.131 -0.574
CP3   0.352 -1.281
CP4   0.223  0.655

Categoricals variables (eta2)

      Dim.1  Dim.2  Dim.3
FISC  0.918  0.146  0.628
MARQ  0.001  0.895  0.038
PRIX  0.929  0.364  0.705

In [43]:
summaryMPCA(res_mpca2)

                Mixed Principal Component Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  6.154   2.756   2.349   1.210   0.937
Difference                3.398   0.407   1.139   0.273   0.129
% of var.                41.024  18.372  15.659   8.064   6.247
Cumulative of % of var.  41.024  59.397  75.056  83.120  89.366

Individuals (the 10 first)

     Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  \
AS2   0.037     17.530    0.649 -2.627  4.153  0.394 -1.700  3.886  0.165
CI4   0.037     14.563    0.539 -2.397  3.459  0.395  0.966  1.254  0.064
PE6   0.037     12.707    0.471 -1.631  1.602  0.209  2.247  6.787  0.397
FI3   0.037      7.926    0.294 -2.087  2.620  0.549 -1.103  1.634  0.153
FI5   0.037     10.489    0.388 -1.770  1.885  0.299 -0.132  0.023  0.002
FI8   0.037     20.677    0.766  3.766  8.537  0.686 -0.662  0.589  0.021
FID   0.037      8.978    0.333  2.161  2.811  0.520 -1.273  2.177  0.180
FO1   0.037      6.807    0.252 -1.796  1.941  0.474 -1.234  2.046  0.224
RE7   0.037     24.727    0.916  4.003  9.643  0.648  1.816  4.431  0.133
NI1   0.037     10.308    0.382 -1.913  2.202  0.355 -1.765  4.185  0.302

     Dim.3    ctr   cos2
AS2  1.404  3.108  0.112
CI4  1.758  4.876  0.212
PE6  0.330  0.171  0.009
FI3  0.838  1.107  0.089
FI5 -0.580  0.531  0.032
FI8  1.355  2.896  0.089
FID -0.715  0.807  0.057
FO1  0.752  0.893  0.083
RE7  1.850  5.398  0.138
NI1  0.131  0.027  0.002

Continuous variables

      Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3    ctr   cos2
CONS  0.859  11.991  0.738 -0.118  0.502  0.014  0.346  5.094  0.120
CYLI  0.950  14.680  0.903  0.068  0.166  0.005 -0.059  0.150  0.004
VITE  0.928  14.005  0.862 -0.101  0.372  0.010  0.103  0.453  0.011
VOLU  0.152   0.375  0.023  0.375  5.112  0.141  0.477  9.668  0.227
RP/P -0.865  12.150  0.748  0.223  1.806  0.050 -0.010  0.004  0.000
LONG  0.292   1.386  0.085  0.270  2.639  0.073 -0.335  4.775  0.112

Supplementary continuous variables

       Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
CONS2  0.859  0.738 -0.118  0.014  0.346  0.120
CYLI2  0.950  0.903  0.068  0.005 -0.059  0.004
VITE2  0.928  0.862 -0.101  0.010  0.103  0.011
VOLU2  0.152  0.023  0.375  0.141  0.477  0.227
RP/P2 -0.865  0.748  0.223  0.050 -0.010  0.000
LONG2  0.292  0.085  0.270  0.073 -0.335  0.112

Categories

      Dim.1     ctr   cos2  vtest  Dim.2     ctr   cos2  vtest  Dim.3     ctr  \
4CV  -0.830  11.184  0.688 -1.643 -0.226   1.846  0.051 -0.668  0.400   6.827
5CV  -0.044   0.032  0.002 -0.043  0.378   5.184  0.143  0.553 -0.791  26.668
6CV   0.916  13.630  0.839  1.331 -0.072   0.190  0.005 -0.157  0.228   2.208
ETRA  0.023   0.009  0.001  0.061 -0.946  32.465  0.895 -3.788 -0.195   1.625
FRAN -0.023   0.009  0.001 -0.036  0.946  32.465  0.895  2.228  0.195   1.625
CP1  -0.702   8.017  0.493 -1.107 -0.302   3.310  0.091 -0.712  0.505  10.841
CP2  -0.307   1.533  0.094 -0.301  0.451   7.368  0.203  0.660 -0.362   5.577
CP3   0.490   3.901  0.240  0.653 -0.299   3.252  0.090 -0.597 -0.593  14.986
CP4   0.661   7.098  0.437  0.567  0.303   3.324  0.092  0.388  0.472   9.501

       cos2  vtest
4CV   0.160  1.284
5CV   0.626 -1.255
6CV   0.052  0.536
ETRA  0.038 -0.847
FRAN  0.038  0.498
CP1   0.255  1.288
CP2   0.131 -0.574
CP3   0.352 -1.281
CP4   0.223  0.655

Categoricals variables (eta2)

      Dim.1  Dim.2  Dim.3
FISC  0.918  0.146  0.628
MARQ  0.001  0.895  0.038
PRIX  0.929  0.364  0.705

Supplementary categories

      Sq. Dist.  Dim.1   cos2  v.test  Dim.2   cos2  v.test  Dim.3   cos2  \
4CV       5.189 -2.136  0.879  -4.230 -0.389  0.029  -1.150  0.637  0.078
5CV       9.023 -0.230  0.006  -0.226  1.316  0.192   1.927 -2.544  0.717
6CV      10.718  3.213  0.963   4.670 -0.170  0.003  -0.369  0.494  0.023
ETRA      1.531  0.044  0.001   0.117 -1.204  0.948  -4.823 -0.230  0.034
FRAN      4.423 -0.074  0.001  -0.117  2.047  0.948   4.823  0.390  0.034
CP1       6.826 -2.272  0.756  -3.581 -0.654  0.063  -1.540  1.008  0.149
CP2       8.860 -1.598  0.288  -1.566  1.569  0.278   2.298 -1.164  0.153
CP3       6.865  1.873  0.511   2.498 -0.766  0.085  -1.527 -1.401  0.286
CP4      21.249  3.931  0.727   3.370  1.205  0.068   1.543  1.736  0.142

      v.test
4CV    2.042
5CV   -4.036
6CV    1.161
ETRA  -0.996
FRAN   0.996
CP1    2.573
CP2   -1.845
CP3   -3.025
CP4    2.409

Supplementary categorical variables (eta2)

       Dim.1  Dim.2  Dim.3
FISC2  0.918  0.146  0.628
MARQ2  0.001  0.895  0.038
PRIX2  0.929  0.364  0.705

In [44]:
summaryMPCA(res_mpca3)

                Mixed Principal Component Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  6.154   2.756   2.349   1.210   0.937
Difference                3.398   0.407   1.139   0.273   0.129
% of var.                41.024  18.372  15.659   8.064   6.247
Cumulative of % of var.  41.024  59.397  75.056  83.120  89.366

Individuals (the 10 first)

     Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  \
AS2   0.037     17.530    0.649 -2.627  4.153  0.394 -1.700  3.886  0.165
CI4   0.037     14.563    0.539 -2.397  3.459  0.395  0.966  1.254  0.064
PE6   0.037     12.707    0.471 -1.631  1.602  0.209  2.247  6.787  0.397
FI3   0.037      7.926    0.294 -2.087  2.620  0.549 -1.103  1.634  0.153
FI5   0.037     10.489    0.388 -1.770  1.885  0.299 -0.132  0.023  0.002
FI8   0.037     20.677    0.766  3.766  8.537  0.686 -0.662  0.589  0.021
FID   0.037      8.978    0.333  2.161  2.811  0.520 -1.273  2.177  0.180
FO1   0.037      6.807    0.252 -1.796  1.941  0.474 -1.234  2.046  0.224
RE7   0.037     24.727    0.916  4.003  9.643  0.648  1.816  4.431  0.133
NI1   0.037     10.308    0.382 -1.913  2.202  0.355 -1.765  4.185  0.302

     Dim.3    ctr   cos2
AS2  1.404  3.108  0.112
CI4  1.758  4.876  0.212
PE6  0.330  0.171  0.009
FI3  0.838  1.107  0.089
FI5 -0.580  0.531  0.032
FI8  1.355  2.896  0.089
FID -0.715  0.807  0.057
FO1  0.752  0.893  0.083
RE7  1.850  5.398  0.138
NI1  0.131  0.027  0.002

Supplementary individuals (the 10 first)

      Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
AS22     17.530 -2.627  0.394 -1.700  0.165  1.404  0.112
CI42     14.563 -2.397  0.395  0.966  0.064  1.758  0.212
PE62     12.707 -1.631  0.209  2.247  0.397  0.330  0.009
FI32      7.926 -2.087  0.549 -1.103  0.153  0.838  0.089
FI52     10.489 -1.770  0.299 -0.132  0.002 -0.580  0.032
FI82     20.677  3.766  0.686 -0.662  0.021  1.355  0.089
FID2      8.978  2.161  0.520 -1.273  0.180 -0.715  0.057
FO12      6.807 -1.796  0.474 -1.234  0.224  0.752  0.083
RE72     24.727  4.003  0.648  1.816  0.133  1.850  0.138
NI12     10.308 -1.913  0.355 -1.765  0.302  0.131  0.002

Continuous variables

      Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3    ctr   cos2
CONS  0.859  11.991  0.738 -0.118  0.502  0.014  0.346  5.094  0.120
CYLI  0.950  14.680  0.903  0.068  0.166  0.005 -0.059  0.150  0.004
VITE  0.928  14.005  0.862 -0.101  0.372  0.010  0.103  0.453  0.011
VOLU  0.152   0.375  0.023  0.375  5.112  0.141  0.477  9.668  0.227
RP/P -0.865  12.150  0.748  0.223  1.806  0.050 -0.010  0.004  0.000
LONG  0.292   1.386  0.085  0.270  2.639  0.073 -0.335  4.775  0.112

Categories

      Dim.1     ctr   cos2  vtest  Dim.2     ctr   cos2  vtest  Dim.3     ctr  \
4CV  -0.830  11.184  0.688 -1.643 -0.226   1.846  0.051 -0.668  0.400   6.827
5CV  -0.044   0.032  0.002 -0.043  0.378   5.184  0.143  0.553 -0.791  26.668
6CV   0.916  13.630  0.839  1.331 -0.072   0.190  0.005 -0.157  0.228   2.208
ETRA  0.023   0.009  0.001  0.061 -0.946  32.465  0.895 -3.788 -0.195   1.625
FRAN -0.023   0.009  0.001 -0.036  0.946  32.465  0.895  2.228  0.195   1.625
CP1  -0.702   8.017  0.493 -1.107 -0.302   3.310  0.091 -0.712  0.505  10.841
CP2  -0.307   1.533  0.094 -0.301  0.451   7.368  0.203  0.660 -0.362   5.577
CP3   0.490   3.901  0.240  0.653 -0.299   3.252  0.090 -0.597 -0.593  14.986
CP4   0.661   7.098  0.437  0.567  0.303   3.324  0.092  0.388  0.472   9.501

       cos2  vtest
4CV   0.160  1.284
5CV   0.626 -1.255
6CV   0.052  0.536
ETRA  0.038 -0.847
FRAN  0.038  0.498
CP1   0.255  1.288
CP2   0.131 -0.574
CP3   0.352 -1.281
CP4   0.223  0.655

Categoricals variables (eta2)

      Dim.1  Dim.2  Dim.3
FISC  0.918  0.146  0.628
MARQ  0.001  0.895  0.038
PRIX  0.929  0.364  0.705

In [45]:
from scientisttools import dimdesc
Dimdesc = dimdesc(res_mpca)
Dimdesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [46]:
Dimdesc["Dim.1"]

{'quanti':       correlation        pvalue
 CYLI     0.950441  3.419487e-14
 VITE     0.928352  3.042899e-12
 CONS     0.859012  9.770004e-09
 RP/P    -0.864684  6.038377e-09,
 'quali':             R2        pvalue
 PRIX  0.928500  2.548496e-13
 FISC  0.917614  9.777230e-14,
 'category':           Estimate        pvalue
 FISC=4CV -4.118733  8.821245e-08
 FISC=6CV  4.819291  2.129487e-11
 PRIX=CP1 -3.608102  4.423265e-05
 PRIX=CP3  2.661605  9.484244e-03
 PRIX=CP4  4.615067  1.749563e-04}

In [47]:
Dimdesc2 = dimdesc(res_mpca2)
Dimdesc2.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [48]:
Dimdesc3 = dimdesc(res_mpca3)
Dimdesc3.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])