# DMFA - `gironde` dataset

In [1]:
#disable warnings
from warnings import simplefilter, filterwarnings
simplefilter(action='ignore', category=FutureWarning)
filterwarnings("ignore")
from great_tables import GT, html
def print_dt(data,title=None,subtitle=None,rowname=None,digits=4):
    dt = (GT(data=data.round(digits).rename_axis(rowname).reset_index())
          .tab_header(title=title, subtitle=subtitle))
    return dt

## `gironde` dataset

In [2]:
#gironde dataset
from scientisttools.datasets import load_gironde
gironde = load_gironde()
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

## Instanciation & training

In [3]:
#instanciation
from scientisttools import DMFA 
res_dmfa = DMFA(group=22,ind_sup=list(range(530,542)),sup_var=list(range(11,22))+[23,24,25,26])

### `fit` function

In [4]:
#fit function
res_dmfa.fit(gironde)

<class 'pandas.core.frame.DataFrame'>
Index: 530 entries, ABZAC to VERDELAIS
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     530 non-null    float64
 1   tradesmen   530 non-null    float64
 2   managers    530 non-null    float64
 3   workers     530 non-null    float64
 4   unemployed  530 non-null    float64
 5   middleempl  530 non-null    float64
 6   retired     530 non-null    float64
 7   employrate  530 non-null    float64
 8   income      530 non-null    float64
 9   density     530 non-null    float64
 10  primaryres  530 non-null    float64
 11  restaurant  530 non-null    category
dtypes: category(1), float64(11)
memory usage: 50.4+ KB
None

ValueError: Type names and field names must be valid identifiers: 'restaurant_3 or +'