# CA children

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
import pandas as pd
result = pyreadr.read_r('./data/children.rda')
children = result["children"]

In [3]:
children["group"] = ["A"]*4 + ["B"]*5 + ["C"]*5 +["D"]*4

In [4]:
from scientisttools.decomposition import CA
res_ca = CA(n_components=None,row_sup=list(range(14,18)),col_sup=list(range(5,8)),quali_sup=8)
res_ca.fit(children)

CA(col_sup={'coord':                Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.105413 -0.059696 -0.103226  0.069780
fifty      -0.017064  0.049077 -0.015689 -0.013061
more_fifty -0.177068 -0.048138  0.100773 -0.085175,
            'cos2':                Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.137560  0.044115  0.131911  0.060278
fifty       0.010870  0.089903  0.009188  0.006368
more_fifty  0.286099  0.021145  0.092667  0.066201,
            'dist': thirty        0.284217
fifty         0.163677
more_...
50           university          2      2
51           university          9      2
52           university         17      1
53           university         22      1
54           university          4      1
55           university          7      1
56           university          1      1
57           university          5      1
58           university         13      1
59           university         12      1,
              'vtest':       Dim.1     Dim.2     Dim.3     Dim.4
A -0.870975 -2.004171  0.058216  0.122506
B  0.085968  1.782850  0.468242  0.039425
C  0.875353  0.673057 -0.459577 -0.166714},
   row_sup=[14, 15, 16, 17],
   row_weights=array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]))

In [5]:
dir(res_ca)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_check_feature_names',
 '_check_n_features',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_sklearn_auto_wrap_output_keys',
 '_validate_data',
 '_validate_params',
 'call',
 'col',
 'col_sup',
 'eig',
 'fit',
 'fit_transform',
 'get_params',
 'model',
 'n_components',
 'n_workers',
 'others',
 'parallelize',
 'quali_sup',
 'quanti_sup',
 'row',
 'row_sup',
 'row_weights',
 'rowsup',
 'set_output',
 'set_params',
 'svd',
 'transform']

## Eigenvalues

In [6]:
eig = res_ca.eig
eig

       eigenvalue  difference  proportion  cumulative
Dim.1    0.035402    0.022287   57.042856   57.042856
Dim.2    0.013115    0.005814   21.131905   78.174761
Dim.3    0.007301    0.001057   11.764358   89.939119
Dim.4    0.006244         NaN   10.060881  100.000000

## Row informations

In [7]:
row = res_ca.row
row.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Row coordinates

In [8]:
row["coord"].head(6)

                  Dim.1     Dim.2     Dim.3     Dim.4
money         -0.115267  0.020046  0.100837  0.084583
future         0.176449 -0.097863 -0.052594 -0.005372
unemployment  -0.212228 -0.070718 -0.004350 -0.037671
circumstances  0.400922  0.330987 -0.015637 -0.068690
hard          -0.249984  0.067650  0.060320 -0.003176
economic       0.353964  0.320724  0.084022  0.154444

### Row contributions

In [9]:
row["contrib"].head(6)

                   Dim.1      Dim.2      Dim.3      Dim.4
money           4.549939   0.371463  16.883571  13.890815
future         17.567192  14.586929   7.567800   0.092336
unemployment   22.616497   6.778601   0.046080   4.040257
circumstances   6.274473  11.543600   0.046281   1.044260
hard            2.993810   0.591838   0.845179   0.002740
economic       12.004568  26.604422   3.279789  12.957996

### Row Cos2

In [10]:
row["cos2"].head(6)

                  Dim.1     Dim.2     Dim.3     Dim.4
money          0.428449  0.012958  0.327888  0.230705
future         0.715624  0.220132  0.063580  0.000663
unemployment   0.874920  0.097145  0.000368  0.027567
circumstances  0.583965  0.398005  0.000888  0.017142
hard           0.883690  0.064717  0.051451  0.000143
economic       0.483622  0.397055  0.027250  0.092073

### Row additionals informations

In [11]:
row["infos"].head(6)

                   dist     marge   inertia
money          0.176099  0.121231  0.003759
future         0.208582  0.199749  0.008690
unemployment   0.226891  0.177764  0.009151
circumstances  0.524646  0.013819  0.003804
hard           0.265927  0.016960  0.001199
economic       0.508986  0.033920  0.008787

## Columns informations

In [12]:
col = res_ca.col
col.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Columns coordinates

In [13]:
col["coord"].head(6)

                        Dim.1     Dim.2     Dim.3     Dim.4
unqualified         -0.209318 -0.080727  0.072630  0.095862
cep                 -0.138577  0.056047 -0.018139 -0.084279
bepc                 0.108758 -0.028483 -0.147013  0.060587
high_school_diploma  0.274039 -0.121344  0.076653 -0.057914
university           0.231233  0.317858  0.094188  0.090330

### Columns contributions

In [14]:
col["contrib"].head(6)

                         Dim.1      Dim.2      Dim.3      Dim.4
unqualified          25.110193  10.081893  14.658839  29.860130
cep                  18.297373   8.079359   1.520060  38.372052
bepc                  6.757893   1.251193  59.873926  11.890857
high_school_diploma  37.975661  20.099117  14.406774   9.616438
university           11.858880  60.488438   9.540400  10.260524

### Columns Cos2

In [15]:
col["cos2"].head(6)

                        Dim.1     Dim.2     Dim.3     Dim.4
unqualified          0.676189  0.100577  0.081411  0.141822
cep                  0.644915  0.105494  0.011049  0.238541
bepc                 0.311900  0.021393  0.569913  0.096795
high_school_diploma  0.758166  0.148653  0.059319  0.033862
university           0.311711  0.589004  0.051718  0.047568

### Columns additionals informations

In [16]:
col["infos"].head(6)

                         dist     marge   inertia
unqualified          0.254549  0.202889  0.013146
cep                  0.172559  0.337312  0.010044
bepc                 0.194739  0.202261  0.007670
high_school_diploma  0.314725  0.179020  0.017732
university           0.414165  0.078518  0.013468

## Supplementary columns

In [17]:
col_sup = res_ca.col_sup
col_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

### Supplementary columns coordinates

In [18]:
col_sup["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.105413 -0.059696 -0.103226  0.069780
fifty      -0.017064  0.049077 -0.015689 -0.013061
more_fifty -0.177068 -0.048138  0.100773 -0.085175

### Supplementary columns Cos2

In [19]:
col_sup["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.137560  0.044115  0.131911  0.060278
fifty       0.010870  0.089903  0.009188  0.006368
more_fifty  0.286099  0.021145  0.092667  0.066201

### Supplementary dist

In [20]:
col_sup["dist"].head(6)

thirty        0.284217
fifty         0.163677
more_fifty    0.331041
Name: dist, dtype: float64

## Supplementary qualitatives

In [21]:
quali_sup = res_ca.quali_sup
quali_sup.keys()

dict_keys(['coord', 'cos2', 'vtest', 'eta2', 'dist', 'summary_quali'])

### Supplementary qualitatives coordinates

In [22]:
quali_sup["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A -0.021294 -0.048999  0.001423  0.002995
B  0.004519  0.093721  0.024615  0.002073
C  0.033353  0.025645 -0.017511 -0.006352

### Supplementary qualitatives cos2

In [23]:
quali_sup["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A  0.158249  0.837913  0.000707  0.003131
B  0.002169  0.933017  0.064358  0.000456
C  0.525452  0.310650  0.144839  0.019059

### Supplementary qualitatives dist

In [24]:
quali_sup["dist"]

A    0.053529
B    0.097027
C    0.046011
Name: dist, dtype: float64

### supplementary qualitatives vtest

In [25]:
quali_sup["vtest"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A -0.870975 -2.004171  0.058216  0.122506
B  0.085968  1.782850  0.468242  0.039425
C  0.875353  0.673057 -0.459577 -0.166714

### Supplementary qualitatives eta2

In [26]:
quali_sup["eta2"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4
group  0.016166  0.233092  0.028208  0.002816