# MCA : predictMCA & supvarMCA

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_poison
poison = load_poison()
poison.head(6)

,Age,Time,Sick,Sex,Nausea,Vomiting,Abdominals,Fever,Diarrhae,Potato,Fish,Mayo,Courgette,Cheese,Icecream
rownames,,,,,,,,,,,,,,,
1,9,22,Sick_y,F,Nausea_y,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
2,5,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_n,Icecream_y
3,6,16,Sick_y,F,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
4,9,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_n,Courg_y,Cheese_y,Icecream_y
5,7,14,Sick_y,M,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
6,72,9,Sick_y,M,Nausea_n,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_n,Mayo_y,Courg_y,Cheese_y,Icecream_y

In [3]:
from scientisttools import MCA
res_mca = MCA(n_components=5,quali_sup = [2,3],quanti_sup =[0,1])
res_mca.fit(poison)

MCA(quali_sup=[2, 3], quanti_sup=[0, 1])

In [4]:
res_mca.quali_sup_["coord"]

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.409834 -0.057809  0.035350 -0.122991 -0.056449
Sick_y -0.630715  0.025862 -0.015815  0.055022  0.025254
F       0.027364  0.118397  0.089207 -0.036625 -0.039657
M      -0.028377 -0.122782 -0.092511  0.037981  0.041126

In [5]:
res_mca.quanti_sup_["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.011986 -0.021414 -0.258664  0.205875  0.017252
Time -0.842148 -0.038940 -0.052267 -0.046364  0.027436

In [6]:
from scientisttools import supvarMCA
X_quanti_sup = poison.iloc[:,[0,1]]
X_quali_sup =  poison.iloc[:,[2,3]]
supvar = supvarMCA(res_mca,X_quanti_sup=X_quanti_sup,X_quali_sup=X_quali_sup)
supvar["quanti"]["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.011986 -0.021414 -0.258664  0.205875  0.017252
Time -0.842148 -0.038940 -0.052267 -0.046364  0.027436

In [7]:
supvar["quali"]["coord"]

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.409834 -0.057809  0.035350 -0.122991 -0.056449
Sick_y -0.630715  0.025862 -0.015815  0.055022  0.025254
F       0.027364  0.118397  0.089207 -0.036625 -0.039657
M      -0.028377 -0.122782 -0.092511  0.037981  0.041126

In [8]:
res_mca.ind_["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.452581 -0.264151  0.171516  0.013693 -0.116968
2  0.836170 -0.031935 -0.072082 -0.085504  0.519787
3 -0.448189  0.135387 -0.224840 -0.141702 -0.050048
4  0.880369 -0.085362 -0.020520 -0.072759 -0.229350
5 -0.448189  0.135387 -0.224840 -0.141702 -0.050048
6 -0.359432 -0.436044 -1.209322  1.724646  0.043482

In [9]:
from scientisttools import predictMCA
predict = predictMCA(res_mca,poison.iloc[:,4:])
predict["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.452581 -0.264151  0.171516  0.013693 -0.116968
2  0.836170 -0.031935 -0.072082 -0.085504  0.519787
3 -0.448189  0.135387 -0.224840 -0.141702 -0.050048
4  0.880369 -0.085362 -0.020520 -0.072759 -0.229350
5 -0.448189  0.135387 -0.224840 -0.141702 -0.050048
6 -0.359432 -0.436044 -1.209322  1.724646  0.043482

In [10]:
predict["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.346526  0.118045  0.049768  0.000317  0.023146
2  0.555896  0.000811  0.004131  0.005813  0.214810
3  0.548139  0.050018  0.137948  0.054792  0.006835
4  0.747740  0.007030  0.000406  0.005107  0.050748
5  0.548139  0.050018  0.137948  0.054792  0.006835
6  0.024854  0.036578  0.281344  0.572208  0.000364

In [11]:
predict["dist"].to_frame().head(6)

   Sq. Dist.
1   0.591095
2   1.257754
3   0.366465
4   1.036524
5   0.366465
6   5.198114