In [10]:
import pandas as pd

data = pd.DataFrame({
    "V1" : [1,1,1,1,-1,-1,-1,-1],
    "v2" : [1,1,-1,-1,1,1,-1,-1],
    "V3" : [1,-1,1,-1,1,-1,1,-1],
    "V4" : [1,0,0,1,-1,0,0,-1],
    "V5" : [1,0,0,1,-1,0,0,-1]
})
data

   V1  v2  V3  V4  V5
0   1   1   1   1   1
1   1   1  -1   0   0
2   1  -1   1   0   0
3   1  -1  -1   1   1
4  -1   1   1  -1  -1
5  -1   1  -1   0   0
6  -1  -1   1   0   0
7  -1  -1  -1  -1  -1

In [12]:
data.corr(method="pearson").round(2)

      V1   v2   V3    V4    V5
V1  1.00 -0.0  0.0  0.71  0.71
v2 -0.00  1.0 -0.0  0.00  0.00
V3  0.00 -0.0  1.0  0.00  0.00
V4  0.71  0.0  0.0  1.00  1.00
V5  0.71  0.0  0.0  1.00  1.00

In [15]:
from scientisttools.decomposition import PCA

res_pca = PCA(row_labels=data.index,col_labels=data.columns).fit(data)
res_pca.col_coord_[:,:2].round(3)

array([[-0.851,  0.   ],
       [ 0.   ,  0.686],
       [ 0.   ,  0.728],
       [-0.973, -0.   ],
       [-0.973, -0.   ]])

In [17]:
res_pca.col_contrib_[:,:2].round(3)

array([[27.639,  0.   ],
       [ 0.   , 47.059],
       [ 0.   , 52.941],
       [36.18 ,  0.   ],
       [36.18 ,  0.   ]])