In [1]:
import pandas as pd

data = pd.DataFrame({
    "V1" : [1,1,1,1,-1,-1,-1,-1],
    "v2" : [1,1,-1,-1,1,1,-1,-1],
    "V3" : [1,-1,1,-1,1,-1,1,-1],
    "V4" : [1,0,0,1,-1,0,0,-1],
    "V5" : [1,0,0,1,-1,0,0,-1]
})
data

   V1  v2  V3  V4  V5
0   1   1   1   1   1
1   1   1  -1   0   0
2   1  -1   1   0   0
3   1  -1  -1   1   1
4  -1   1   1  -1  -1
5  -1   1  -1   0   0
6  -1  -1   1   0   0
7  -1  -1  -1  -1  -1

In [2]:
data.corr(method="pearson").round(2)

      V1   v2   V3    V4    V5
V1  1.00 -0.0  0.0  0.71  0.71
v2 -0.00  1.0 -0.0  0.00  0.00
V3  0.00 -0.0  1.0  0.00  0.00
V4  0.71  0.0  0.0  1.00  1.00
V5  0.71  0.0  0.0  1.00  1.00

In [3]:
from scientisttools.decomposition import PCA

res_pca = PCA().fit(data)
res_pca.var_["coord"].iloc[:,:2]

       Dim.1         Dim.2
V1  0.850651  0.000000e+00
v2  0.000000  9.045340e-01
V3  0.000000 -4.264014e-01
V4  0.973249 -1.120234e-16
V5  0.973249 -1.120234e-16

In [5]:
res_pca.var_["contrib"].iloc[:,:2].round(3)

     Dim.1   Dim.2
V1  27.639   0.000
v2   0.000  81.818
V3   0.000  18.182
V4  36.180   0.000
V5  36.180   0.000