# MFA with Prince

In [1]:
import prince 

dataset = prince.datasets.load_burgundy_wines()
dataset

expert Oak type Expert 1               Expert 2                         \
aspect            Fruity Woody Coffee Red fruit Roasted Vanillin Woody
Wine 1        1        1     6      7         2       5        7     6
Wine 2        2        5     3      2         4       4        4     2
Wine 3        2        6     1      1         5       2        1     1
Wine 4        2        7     1      2         7       2        1     2
Wine 5        1        2     5      4         3       5        6     5
Wine 6        1        3     4      4         3       5        4     5

expert Expert 3
aspect   Fruity Butter Woody
Wine 1        3      6     7
Wine 2        4      4     3
Wine 3        7      1     1
Wine 4        2      2     2
Wine 5        2      6     6
Wine 6        1      7     5

In [2]:
type(dataset)

pandas.core.frame.DataFrame

In [3]:
groups = dataset.columns.levels[0].drop("Oak type").tolist()
groups

['Expert 1', 'Expert 2', 'Expert 3']

In [4]:
dataset["Expert 2"]

aspect  Red fruit  Roasted  Vanillin  Woody
Wine 1          2        5         7      6
Wine 2          4        4         4      2
Wine 3          5        2         1      1
Wine 4          7        2         1      2
Wine 5          3        5         6      5
Wine 6          3        5         4      5

In [5]:
mfa = prince.MFA(
    n_components=2,
    n_iter=3,
    copy=True,
    check_input=True,
    engine='sklearn',
    random_state=42
)
mfa = mfa.fit(dataset, groups=groups)

In [6]:
mfa.eigenvalues_summary

          eigenvalue % of variance % of variance (cumulative)
component
0              2.835        88.82%                     88.82%
1              0.357        11.18%                    100.00%

In [7]:
mfa.row_coordinates(dataset)

               0         1
Wine 1 -2.172155 -0.508596
Wine 2  0.557017 -0.197408
Wine 3  2.317663 -0.830259
Wine 4  1.832557  0.905046
Wine 5 -1.403787  0.054977
Wine 6 -1.131296  0.576241