# MFAMIX

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde
gironde = load_gironde()
gironde.info()

<class 'pandas.core.frame.DataFrame'>
Index: 542 entries, ABZAC to MARCHEPRIME
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   farmers     542 non-null    float64
 1   tradesmen   542 non-null    float64
 2   managers    542 non-null    float64
 3   workers     542 non-null    float64
 4   unemployed  542 non-null    float64
 5   middleempl  542 non-null    float64
 6   retired     542 non-null    float64
 7   employrate  542 non-null    float64
 8   income      540 non-null    float64
 9   density     542 non-null    float64
 10  primaryres  542 non-null    float64
 11  houses      542 non-null    category
 12  owners      542 non-null    float64
 13  council     542 non-null    category
 14  butcher     542 non-null    category
 15  baker       542 non-null    category
 16  postoffice  542 non-null    category
 17  dentist     542 non-null    category
 18  grocery     542 non-null    category
 19  nursery     542 non-null    category
 20  doctor      542 non-null    category
 21  chemist     542 non-null    category
 22  restaurant  542 non-null    category
 23  building    542 non-null    float64
 24  water       542 non-null    float64
 25  vegetation  542 non-null    float64
 26  agricul     542 non-null    float64
dtypes: category(11), float64(16)
memory usage: 79.3+ KB

In [3]:
# Fill NA by mean in income
gironde.loc[:,"income"] = gironde.loc[:,"income"].fillna(gironde.loc[:,"income"].mean())

## MFAMIX with supplementary individuals

In [4]:
from scientisttools import MFAMIX
name = ["employment","housing","services","environment"] 
group_type = ["s","m","n","s"]
res_mfamix = MFAMIX(n_components=5,group=[9,5,9,4],name_group=name,group_type=group_type,ind_sup=list(range(500,542)))
res_mfamix.fit(gironde)

MFAMIX(group=[9, 5, 9, 4], group_type=['s', 'm', 'n', 's'],
       ind_sup=[500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512,
                513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525,
                526, 527, 528, 529, ...],
       name_group=['employment', 'housing', 'services', 'environment'])

### Eigenvalues

In [5]:
# Eigenvalues
res_mfamix.eig_.round(4)

        eigenvalue  difference  proportion  cumulative
Dim.1       2.3107      1.1350     21.5666     21.5666
Dim.2       1.1757      0.1569     10.9735     32.5402
Dim.3       1.0189      0.2273      9.5094     42.0496
Dim.4       0.7916      0.1585      7.3878     49.4374
Dim.5       0.6331      0.1215      5.9090     55.3464
Dim.6       0.5116      0.0685      4.7745     60.1209
Dim.7       0.4431      0.0110      4.1352     64.2561
Dim.8       0.4320      0.0494      4.0324     68.2885
Dim.9       0.3826      0.0605      3.5710     71.8595
Dim.10      0.3221      0.0394      3.0063     74.8658
Dim.11      0.2827      0.0345      2.6385     77.5044
Dim.12      0.2482      0.0315      2.3163     79.8207
Dim.13      0.2166      0.0056      2.0218     81.8425
Dim.14      0.2110      0.0195      1.9697     83.8122
Dim.15      0.1915      0.0135      1.7877     85.5999
Dim.16      0.1781      0.0097      1.6619     87.2618
Dim.17      0.1683      0.0062      1.5712     88.8330
Dim.18      0.1621      0.0067      1.5133     90.3463
Dim.19      0.1554      0.0248      1.4506     91.7969
Dim.20      0.1306      0.0114      1.2189     93.0157
Dim.21      0.1192      0.0150      1.1127     94.1284
Dim.22      0.1042      0.0050      0.9728     95.1012
Dim.23      0.0992      0.0099      0.9261     96.0273
Dim.24      0.0893      0.0203      0.8336     96.8609
Dim.25      0.0690      0.0118      0.6443     97.5052
Dim.26      0.0572      0.0056      0.5343     98.0395
Dim.27      0.0516      0.0079      0.4820     98.5215
Dim.28      0.0438      0.0071      0.4085     98.9300
Dim.29      0.0366      0.0066      0.3419     99.2719
Dim.30      0.0300      0.0068      0.2801     99.5520
Dim.31      0.0232      0.0087      0.2164     99.7684
Dim.32      0.0145      0.0042      0.1354     99.9038
Dim.33      0.0103      0.0103      0.0962    100.0000
Dim.34      0.0000      0.0000      0.0000    100.0000

### Individuals informations

In [6]:
# Individuals informations
ind = res_mfamix.ind_
ind.keys()

dict_keys(['coord', 'cos2', 'contrib', 'infos', 'coord_partiel', 'within_inertia', 'within_partial_inertia'])

In [7]:
# Coordinates
ind["coord"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.906329 -0.731864 -0.238237 -0.815812  0.351751
AILLAS             -0.547788  0.123460 -0.577540  0.869271  0.263265
AMBARES-ET-LAGRAVE  3.032015  0.000112  0.831993 -0.528723 -0.233897
AMBES               1.425596 -0.974669  0.259723 -2.383751  1.572750
ANDERNOS-LES-BAINS  2.612991  0.489410 -1.416651  2.421394  0.968393
ANGLADE            -0.963624 -1.367992 -0.187527 -0.757876 -0.069881

In [8]:
# Square cosinus
ind["cos2"].head(6)

                       Dim.1         Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.121160  7.900423e-02  0.008372  0.098168  0.018250
AILLAS              0.058191  2.955863e-03  0.064684  0.146536  0.013441
AMBARES-ET-LAGRAVE  0.556831  7.619091e-10  0.041928  0.016932  0.003314
AMBES               0.100519  4.698624e-02  0.003336  0.281046  0.122342
ANDERNOS-LES-BAINS  0.350608  1.229961e-02  0.103056  0.301077  0.048156
ANGLADE             0.128170  2.583082e-01  0.004854  0.079281  0.000674

In [9]:
# Relative contributions
ind["contrib"].head(6).round(4)

                     Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
ABZAC               0.0711  0.0911  0.0111  0.1682  0.0391
AILLAS              0.0260  0.0026  0.0655  0.1909  0.0219
AMBARES-ET-LAGRAVE  0.7957  0.0000  0.1359  0.0706  0.0173
AMBES               0.1759  0.1616  0.0132  1.4357  0.7814
ANDERNOS-LES-BAINS  0.5910  0.0407  0.3939  1.4814  0.2962
ANGLADE             0.0804  0.3183  0.0069  0.1451  0.0015

In [10]:
# Partial coordinates
ind["coord_partiel"].head(6).round(4)

                   employment                                 housing          \
                        Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2
ABZAC                 -0.0723 -1.6128 -1.5007 -1.6552 -1.0165  3.5413 -1.0988
AILLAS                -0.2478 -1.4375 -0.8506  3.1638  1.7947 -1.2762  0.5683
AMBARES-ET-LAGRAVE     1.0080  1.6612  1.0628 -2.2630 -1.2295  4.1007 -0.9433
AMBES                  0.4515 -2.0123 -1.8395 -3.2666 -1.9467  1.4350 -0.1248
ANDERNOS-LES-BAINS     1.0446  0.5351  0.1037  5.6052  3.6927  1.6770 -1.8372
ANGLADE               -0.5266 -3.4647 -2.9388 -2.2075 -1.5086 -1.4857  0.4188

                                           services                          \
                     Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4
ABZAC              -0.0682 -0.5925  0.8571   0.3268  0.3089 -0.0486 -0.6382
AILLAS              0.0587 -0.0608 -0.0004  -0.3787  0.0507  0.0854  0.1292
AMBARES-ET-LAGRAVE  0.7091 -0.6974 -0.1552   5.6965  0.3645  0.1801  0.8815
AMBES               0.4386 -0.9235 -0.1511   2.1714  0.4005 -0.3708 -1.7206
ANDERNOS-LES-BAINS -1.8064  1.8702  1.2034   4.9597  0.2722 -0.2937  0.6925
ANGLADE            -0.4218  0.4168  0.2579  -0.8743 -0.2974 -0.0316 -0.6642

                           environment
                     Dim.5       Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
ABZAC               0.9648     -0.1705 -0.5248  0.6646 -0.3774  0.6016
AILLAS             -0.5356     -0.2885  1.3123 -1.6037  0.2449 -0.2056
AMBARES-ET-LAGRAVE  0.8002      1.3228 -1.0819  1.3760 -0.0360 -0.3510
AMBES               3.2916      1.6445 -2.1621  2.8106 -3.6243  5.0972
ANDERNOS-LES-BAINS  1.8509      2.7707  2.9876 -3.6702  1.5177 -2.8733
ANGLADE            -0.0394     -0.9680 -2.1287  2.6421 -0.5767  1.0105

In [11]:
# Within inertia
ind["within_inertia"].head(6)

                       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
ABZAC               0.380283  0.039376  0.049053  0.028507  0.074456
AILLAS              0.028994  0.078362  0.039099  0.205974  0.094988
AMBARES-ET-LAGRAVE  0.617592  0.095761  0.015651  0.153521  0.060383
AMBES               0.062858  0.098603  0.224931  0.142528  0.891954
ANDERNOS-LES-BAINS  0.358891  0.226276  0.174558  0.415200  0.667918
ANGLADE             0.019083  0.180076  0.310439  0.102666  0.097089

In [12]:
# Within partial inertia
ind["within_partial_inertia"].head(6).round(4)

                   employment                                 housing          \
                        Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2
ABZAC                  0.0388  0.0150  0.0316  0.0205  0.0543  0.2810  0.0026
AILLAS                 0.0036  0.0471  0.0015  0.1534  0.0681  0.0215  0.0038
AMBARES-ET-LAGRAVE     0.1658  0.0533  0.0011  0.0877  0.0288  0.0462  0.0172
AMBES                  0.0384  0.0208  0.0874  0.0227  0.3595  0.0000  0.0140
ANDERNOS-LES-BAINS     0.0995  0.0000  0.0458  0.2954  0.2154  0.0355  0.1047
ANGLADE                0.0077  0.0850  0.1501  0.0612  0.0601  0.0110  0.0617

                                           services                          \
                     Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4
ABZAC               0.0006  0.0015  0.0074   0.0136  0.0209  0.0007  0.0009
AILLAS              0.0080  0.0252  0.0020   0.0012  0.0001  0.0087  0.0160
AMBARES-ET-LAGRAVE  0.0003  0.0008  0.0002   0.2873  0.0026  0.0084  0.0580
AMBES               0.0006  0.0621  0.0862   0.0225  0.0366  0.0079  0.0128
ANDERNOS-LES-BAINS  0.0030  0.0089  0.0016   0.2229  0.0009  0.0250  0.0871
ANGLADE             0.0011  0.0402  0.0031   0.0003  0.0222  0.0005  0.0003

                           environment
                     Dim.5       Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
ABZAC               0.0109      0.0469  0.0008  0.0162  0.0056  0.0018
AILLAS              0.0185      0.0027  0.0273  0.0209  0.0114  0.0064
AMBARES-ET-LAGRAVE  0.0310      0.1182  0.0226  0.0059  0.0071  0.0004
AMBES               0.0857      0.0019  0.0273  0.1290  0.0449  0.3605
ANDERNOS-LES-BAINS  0.0226      0.0010  0.1207  0.1007  0.0238  0.4283
ANGLADE             0.0000      0.0000  0.0112  0.1588  0.0010  0.0339

### Supplementary individuals

In [13]:
ind_sup_dataset = gironde.iloc[500:,:]
res_mfamix.transform(ind_sup_dataset).head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  2.182140 -1.771019 -2.591091  2.080005  2.072666
SOULIGNAC      -1.133328  0.020610  0.511896  0.299920 -0.259306
SOUSSAC        -1.332777 -1.667303  0.198034 -0.716615 -0.438295
SOUSSANS       -0.440128  0.047435  0.289402 -0.966908 -0.348941
TABANAC        -0.545072  1.157462  1.003087  0.889831  0.410594
TAILLAN-MEDOC   2.329851  2.133785  0.883372  1.014662  0.077025

In [14]:
ind_sup = res_mfamix.ind_sup_
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist', 'coord_partiel'])

In [15]:
# Factor coordinates
ind_sup["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  2.182140 -1.771019 -2.591091  2.080005  2.072666
SOULIGNAC      -1.133328  0.020610  0.511896  0.299920 -0.259306
SOUSSAC        -1.332777 -1.667303  0.198034 -0.716615 -0.438295
SOUSSANS       -0.440128  0.047435  0.289402 -0.966908 -0.348941
TABANAC        -0.545072  1.157462  1.003087  0.889831  0.410594
TAILLAN-MEDOC   2.329851  2.133785  0.883372  1.014662  0.077025

In [16]:
# Square cosinus
ind_sup["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
SOULAC-SUR-MER  0.148085  0.097542  0.208791  0.134548  0.133600
SOULIGNAC       0.459411  0.000152  0.093725  0.032174  0.024050
SOUSSAC         0.166118  0.259975  0.003668  0.048026  0.017965
SOUSSANS        0.040103  0.000466  0.017339  0.193549  0.025207
TABANAC         0.040050  0.180595  0.135634  0.106735  0.022726
TAILLAN-MEDOC   0.346918  0.290986  0.049872  0.065798  0.000379

In [17]:
# Square distance to origin
ind_sup["dist"].head(6)

SOULAC-SUR-MER    32.155330
SOULIGNAC          2.795822
SOUSSAC           10.692963
SOUSSANS           4.830357
TABANAC            7.418345
TAILLAN-MEDOC     15.646961
Name: Sq. Dist., dtype: float64

### Quantitatives variables

In [18]:
# Quantitatives variables
quanti_var = res_mfamix.quanti_var_
quanti_var.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2'])

In [19]:
# Coordinates
quanti_var["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.443466 -0.313590  0.177213  0.406661  0.062603
tradesmen  -0.140246  0.127775 -0.206521  0.075404  0.141301
managers    0.289854  0.529700  0.414728  0.296419  0.102380
workers    -0.104673 -0.011721 -0.145538 -0.795259 -0.369684
unemployed  0.301990 -0.089226  0.096924 -0.025072 -0.100664
middleempl  0.243500  0.569231  0.346828 -0.109077  0.021173

In [20]:
# Square cosinus
quanti_var["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers     0.196662  0.098339  0.031404  0.165373  0.003919
tradesmen   0.019669  0.016327  0.042651  0.005686  0.019966
managers    0.084015  0.280582  0.171999  0.087864  0.010482
workers     0.010956  0.000137  0.021181  0.632437  0.136666
unemployed  0.091198  0.007961  0.009394  0.000629  0.010133
middleempl  0.059292  0.324024  0.120290  0.011898  0.000448

In [21]:
# Relative contributions
quanti_var["contrib"].head(6)

               Dim.1      Dim.2     Dim.3      Dim.4     Dim.5
farmers     3.619732   3.557256  1.310917   8.885606  0.263281
tradesmen   0.362022   0.590590  1.780375   0.305497  1.341269
managers    1.546371  10.149656  7.179757   4.720997  0.704140
workers     0.201662   0.004970  0.884172  33.981294  9.180967
unemployed  1.678571   0.287988  0.392143   0.033775  0.680736
middleempl  1.091320  11.721092  5.021251   0.639279  0.030115

### Qualitatives variables

In [22]:
# Qualitatives variables
quali_var = res_mfamix.quali_var_
quali_var.keys()

dict_keys(['barycentre', 'coord', 'cos2', 'vtest', 'dist', 'eta2', 'contrib', 'coord_partiel'])

In [23]:
# Factor coordinates
quali_var["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   2.290308 -0.354691 -0.052085  0.005863  0.257898
 sup 90%  -0.558334  0.086467  0.012697 -0.001429 -0.062871
 inf 5%   -0.538714  0.055958  0.014737  0.041148 -0.023920
 sup 5%    2.154855 -0.223832 -0.058947 -0.164591  0.095679
butcher_0 -0.624396 -0.007789  0.037484  0.039536 -0.110693
butcher_1  0.561885  0.107670 -0.111413 -0.349149  0.311062

In [24]:
# Square cosinus
quali_var["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.902688  0.021650  0.000467  0.000006  0.011446
 sup 90%   0.902688  0.021650  0.000467  0.000006  0.011446
 inf 5%    0.892922  0.009634  0.000668  0.005209  0.001760
 sup 5%    0.892922  0.009634  0.000668  0.005209  0.001760
butcher_0  0.876923  0.000136  0.003160  0.003516  0.027560
butcher_1  0.234804  0.008622  0.009232  0.090663  0.071962

In [25]:
# Relative contributions
quali_var["contrib"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   7.574637  0.701690  0.020149  0.000423  1.279423
 sup 90%   1.846553  0.171059  0.004912  0.000103  0.311899
 inf 5%    1.710504  0.071286  0.006584  0.085042  0.044922
 sup 5%    6.842015  0.285145  0.026334  0.340168  0.179690
butcher_0  0.878096  0.000528  0.016276  0.030001  0.367623
butcher_1  0.179813  0.025503  0.036363  0.591671  0.734114

In [26]:
# Value - test
quali_var["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   16.617648 -3.607807 -0.569114  0.072681  3.574866
 sup 90%  -16.617648  3.607807  0.569114 -0.072681 -3.574866
 inf 5%   -15.833017  2.305613  0.652257  2.066260 -1.343066
 sup 5%    15.833017 -2.305613 -0.652257 -2.066260  1.343066
butcher_0 -13.883640 -0.242803  1.255158  1.501987 -4.702165
butcher_1   3.816065  1.025133 -1.139515 -4.051466  4.036002

In [27]:
# Square correlation ratio
quali_var["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.553399  0.026085  0.000649  0.000011  0.025611
council     0.502374  0.010653  0.000853  0.008556  0.003615
butcher     0.522465  0.002987  0.003426  0.039844  0.046502
baker       0.579137  0.006154  0.005614  0.122949  0.130668
postoffice  0.470356  0.004104  0.006691  0.049392  0.120831
dentist     0.657163  0.014428  0.002532  0.114768  0.204673

In [28]:
# Square distance
quali_var["dist"].head(6)

 inf 90%     5.810993
 sup 90%     0.345343
 inf 5%      0.325014
 sup 5%      5.200229
butcher_0    0.444588
butcher_1    1.344591
Name: Sq. Dist., dtype: float64

In [29]:
# Partial coordinates
quali_var["coord_partiel"].head(6).round(4)

          employment                                           housing  \
               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1
 inf 90%    0.715223  0.081929 -0.157602 -0.154228  0.030547  3.932329
 sup 90%   -0.174358 -0.019973   0.03842  0.037598 -0.007447 -0.958628
 inf 5%    -0.178188 -0.013811  0.024872  0.124271   0.05684 -0.930813
 sup 5%     0.712752  0.055243 -0.099487 -0.497086 -0.227361  3.723252
butcher_0  -0.249897 -0.132729  -0.01807    0.0634 -0.011507 -0.795189
butcher_1   0.321356  0.123804 -0.079857 -0.419691 -0.151696  0.629602

                                                   services            \
              Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
 inf 90%  -1.667738 -0.031887  0.047505  0.113275  3.164726  0.296061
 sup 90%   0.406563  0.007773 -0.011581 -0.027614   -0.7715 -0.072174
 inf 5%    0.337327 -0.041442  0.070227  0.037159 -0.729855 -0.069333
 sup 5%    -1.34931  0.165769 -0.280908 -0.148636  2.919421   0.27733
butcher_0  0.310831 -0.034509   0.01984  0.045385 -1.109694 -0.113551
butcher_1 -0.147945  0.102771 -0.171482  0.026352   1.18826  0.241696

                                        environment                      \
              Dim.3     Dim.4     Dim.5       Dim.1     Dim.2     Dim.3
 inf 90%  -0.167041 -0.177552  1.736205    1.348955 -0.129015  0.148191
 sup 90%   0.040721  0.043284 -0.423254    -0.32885  0.031451 -0.036126
 inf 5%    0.035982  0.060171 -0.411912   -0.315999 -0.030352  0.039535
 sup 5%   -0.143929 -0.240685  1.647648    1.263995  0.121407 -0.158141
butcher_0  0.083679  0.186016 -0.733472   -0.342802 -0.095708  0.118835
butcher_1 -0.212336 -0.880037  1.496205    0.108322  0.213124 -0.256231


              Dim.4     Dim.5
 inf 90%   0.307727 -0.848435
 sup 90%  -0.075018  0.206832
 inf 5%   -0.090079  0.222234
 sup 5%    0.360314 -0.888937
butcher_0 -0.111113  0.256824
butcher_1  0.074616 -0.126613

### Group

In [30]:
groups = res_mfamix.group_
groups.keys()

dict_keys(['coord', 'contrib', 'cos2', 'correlation', 'Lg', 'dist2', 'RV'])

In [31]:
# Factor coordinates
groups["coord"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment   0.255615  0.638083  0.382100  0.529849  0.139603
housing      0.814068  0.127458  0.110823  0.061986  0.106899
services     0.791487  0.012038  0.010936  0.116219  0.194273
environment  0.449560  0.398168  0.515017  0.083503  0.192332

In [32]:
# Square cosinus
groups["cos2"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment   0.027899  0.173847  0.062340  0.119872  0.008322
housing      0.518013  0.012698  0.009600  0.003003  0.008932
services     0.456686  0.000106  0.000087  0.009847  0.027514
environment  0.121863  0.095593  0.159933  0.004204  0.022305

In [33]:
# Relative contributions
groups["contrib"].head(6)

                 Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
employment   11.062073  54.270482  37.502147  66.937536  22.050494
housing      35.229917  10.840575  10.876955   7.830908  16.884794
services     34.252684   1.023841   1.073317  14.682361  30.685713
environment  19.455326  33.865102  50.547581  10.549195  30.378999

In [34]:
# Correlation
groups["correlation"].head(6)

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
employment   0.656032  0.810833  0.645795  0.869876  0.459621
housing      0.905214  0.418917  0.523536  0.440460  0.573493
services     0.895548  0.155020  0.185948  0.494407  0.533048
environment  0.811540  0.639346  0.725844  0.373172  0.571988

In [35]:
# Square distance
groups["dist2"]

employment     2.342002
housing        1.279327
services       1.371735
environment    1.658462
Name: Sq. Dist., dtype: float64

In [36]:
# Lg coefficients
groups["Lg"]

             employment   housing  services  environment       MFA
employment     2.342002  0.215195  0.189646     0.144899  1.251440
housing        0.215195  1.279327  0.553457     0.394572  1.057047
services       0.189646  0.553457  1.371735     0.245464  1.021453
environment    0.144899  0.394572  0.245464     1.658462  1.057413
MFA            1.251440  1.057047  1.021453     1.057413  1.898686

In [37]:
# RV coefficients
groups["RV"]

             employment   housing  services  environment       MFA
employment     1.000000  0.124322  0.105807     0.073522  0.593458
housing        0.124322  1.000000  0.417790     0.270884  0.678230
services       0.105807  0.417790  1.000000     0.162742  0.632931
environment    0.073522  0.270884  0.162742     1.000000  0.595889
MFA            0.593458  0.678230  0.632931     0.595889  1.000000

### Inertia ratio

In [38]:
# Inertia ratio
res_mfamix.inertia_ratio_

Dim.1    0.651615
Dim.2    0.312548
Dim.3    0.287789
Dim.4    0.315715
Dim.5    0.268726
Name: inertia_ratio, dtype: float64

### Partial axes

In [39]:
# Partial axes
partial_axes = res_mfamix.partial_axes_
partial_axes.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2', 'cor_between'])

In [40]:
# Coordinates
partial_axes["coord"].head(6).round(4)

      employment                                 housing                  \
           Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2   Dim.3
Dim.1     0.1687 -0.1696 -0.5652  0.1255 -0.1668  0.8982  0.0851  0.0869
Dim.2     0.7719 -0.1518  0.1065  0.1963 -0.0201 -0.2707  0.3151 -0.1344
Dim.3     0.5669  0.0606  0.0547 -0.3397  0.0598  0.0256  0.4974  0.1581
Dim.4     0.1218  0.8554 -0.1063  0.0288  0.0137  0.0033 -0.2752  0.3120
Dim.5     0.0897  0.3886 -0.0350  0.2101 -0.0612 -0.0467 -0.3202 -0.4889

                      services                                 environment  \
        Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4   Dim.5       Dim.1
Dim.1  0.0216  0.1326   0.8799 -0.1755  0.0910 -0.0410  0.0013     -0.2377
Dim.2 -0.0188  0.2496   0.0651  0.0677 -0.0506 -0.1347 -0.0385     -0.6107
Dim.3 -0.0987  0.0002  -0.0378 -0.0801  0.0237  0.0006 -0.0201      0.6973
Dim.4  0.0796  0.2031  -0.0783 -0.4881 -0.0316 -0.0055 -0.0065     -0.1354
Dim.5 -0.1433  0.0329   0.3010  0.4393 -0.2282  0.0333 -0.0567      0.1883


        Dim.2   Dim.3   Dim.4
Dim.1  0.7539 -0.2172 -0.2713
Dim.2 -0.1619  0.1266 -0.1354
Dim.3  0.1801 -0.1222 -0.1529
Dim.4 -0.0013 -0.3657  0.0332
Dim.5 -0.1131  0.5517 -0.1251

In [41]:
# Square cosinus
partial_axes["cos2"].head(6).round(4)

      employment                                 housing                  \
           Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2   Dim.3
Dim.1     0.0285  0.0288  0.3195  0.0158  0.0278  0.8067  0.0072  0.0075
Dim.2     0.5958  0.0230  0.0113  0.0385  0.0004  0.0733  0.0993  0.0181
Dim.3     0.3213  0.0037  0.0030  0.1154  0.0036  0.0007  0.2474  0.0250
Dim.4     0.0148  0.7317  0.0113  0.0008  0.0002  0.0000  0.0757  0.0973
Dim.5     0.0080  0.1510  0.0012  0.0442  0.0037  0.0022  0.1025  0.2390

                      services                                 environment  \
        Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4   Dim.5       Dim.1
Dim.1  0.0005  0.0176   0.7743  0.0308  0.0083  0.0017  0.0000      0.0565
Dim.2  0.0004  0.0623   0.0042  0.0046  0.0026  0.0182  0.0015      0.3730
Dim.3  0.0097  0.0000   0.0014  0.0064  0.0006  0.0000  0.0004      0.4862
Dim.4  0.0063  0.0412   0.0061  0.2382  0.0010  0.0000  0.0000      0.0183
Dim.5  0.0205  0.0011   0.0906  0.1930  0.0521  0.0011  0.0032      0.0354


        Dim.2   Dim.3   Dim.4
Dim.1  0.5683  0.0472  0.0736
Dim.2  0.0262  0.0160  0.0183
Dim.3  0.0324  0.0149  0.0234
Dim.4  0.0000  0.1337  0.0011
Dim.5  0.0128  0.3044  0.0156

In [42]:
# Relative contributions
partial_axes["contrib"].head(6).round(4)

      employment                                   housing                   \
           Dim.1    Dim.2   Dim.3   Dim.4   Dim.5    Dim.1    Dim.2   Dim.3
Dim.1     1.2379   0.8682  7.7415  0.3198  0.4923  35.0932   0.1303  0.0806
Dim.2    50.8303   1.3638  0.5390  1.5347  0.0140   6.2525   3.5053  0.3784
Dim.3    31.7770   0.2522  0.1650  5.3265  0.1439   0.0650  10.1239  0.6068
Dim.4     1.8800  64.3448  0.7979  0.0489  0.0097   0.0014   3.9704  3.0267
Dim.5     1.2903  16.8060  0.1095  3.3044  0.2443   0.3496   6.8018  9.4069

                      services                                  environment  \
        Dim.4   Dim.5    Dim.1    Dim.2   Dim.3   Dim.4   Dim.5       Dim.1
Dim.1  0.0035  0.1054  33.6820   0.6072  0.0689  0.0129  0.0000      2.4570
Dim.2  0.0051  0.7329   0.3614   0.1773  0.0418  0.2729  0.0207     31.8237
Dim.3  0.1636  0.0000   0.1410   0.2876  0.0106  0.0000  0.0065     48.0852
Dim.4  0.1362  0.7203   0.7773  13.6787  0.0242  0.0007  0.0009      2.3241
Dim.5  0.5595  0.0239  14.5245  14.0245  1.5978  0.0314  0.0844      5.6839


         Dim.2    Dim.3   Dim.4
Dim.1  16.0384   0.9993  0.0617
Dim.2   1.4501   0.6661  0.0301
Dim.3   2.0809   0.7196  0.0446
Dim.4   0.0001   8.2549  0.0027
Dim.5   1.3312  23.7779  0.0483

In [43]:
# Correlation between
partial_axes["cor_between"].head(6).round(4)

                 employment                                 housing          \
                      Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2
employment Dim.1      1.000 -0.0000  0.0000 -0.0000  0.0000 -0.0260  0.3713
           Dim.2     -0.000  1.0000  0.0000 -0.0000  0.0000 -0.1139 -0.2637
           Dim.3      0.000  0.0000  1.0000 -0.0000  0.0000 -0.4165 -0.0073
           Dim.4     -0.000  0.0000 -0.0000  1.0000 -0.0000  0.0303 -0.0864
           Dim.5      0.000  0.0000  0.0000 -0.0000  1.0000 -0.1119 -0.0154
housing    Dim.1     -0.026 -0.1139 -0.4165  0.0303 -0.1119  1.0000 -0.0000

                                         services                          \
                   Dim.3   Dim.4   Dim.5    Dim.1   Dim.2   Dim.3   Dim.4
employment Dim.1  0.0022 -0.0677  0.2124   0.1673 -0.0373 -0.0212 -0.0979
           Dim.2  0.0826  0.0294  0.0745  -0.1160 -0.1529 -0.0850  0.0271
           Dim.3 -0.0877 -0.0584 -0.0636  -0.4364  0.0671 -0.0783  0.0592
           Dim.4 -0.0120 -0.0381  0.1266   0.1466  0.0640  0.0259 -0.0484
           Dim.5  0.0248  0.0144 -0.0586  -0.1249  0.0057  0.0028  0.0015
housing    Dim.1 -0.0000  0.0000  0.0000   0.7140 -0.1921  0.0807 -0.0232

                         environment
                   Dim.5       Dim.1   Dim.2   Dim.3   Dim.4
employment Dim.1 -0.0530     -0.1115  0.0982 -0.0042 -0.2044
           Dim.2 -0.0042      0.1054 -0.1171 -0.0797  0.0419
           Dim.3 -0.0010      0.1095 -0.3751  0.1182  0.0705
           Dim.4 -0.0276     -0.2369  0.0623  0.0482  0.0347
           Dim.5 -0.0074      0.0818 -0.1858 -0.0347 -0.0625
housing    Dim.1  0.0229     -0.0517  0.6685 -0.2835 -0.2258

### Summary

In [44]:
# Summary quantitatives
res_mfamix.summary_quanti_

,group,group name,variable,count,mean,std,min,25%,50%,75%,max
0,0,employment,farmers,500,3.539040,4.625035,0.000000,0.517500,1.990000,4.715000,33.330000
1,0,employment,tradesmen,500,4.169240,2.390789,0.000000,2.750000,3.985000,5.260000,16.130000
2,0,employment,managers,500,5.248400,3.552593,0.000000,2.722500,4.650000,7.140000,22.730000
3,0,employment,workers,500,33.627240,7.599683,0.000000,28.722500,33.695000,38.430000,57.140000
4,0,employment,unemployed,500,13.369020,4.086133,0.000000,11.232500,13.590000,15.632500,33.330000
5,0,employment,middleempl,500,11.967780,4.835190,0.000000,8.547500,11.715000,15.400000,31.580000
6,0,employment,retired,500,28.079140,7.073770,9.330000,23.140000,27.450000,32.140000,51.280000
7,0,employment,employrate,500,90.359960,3.355223,75.080000,88.345000,90.685000,92.760000,100.000000
8,0,employment,income,500,20993.183342,4641.330110,12187.160000,18356.525000,19934.505000,22732.917500,70061.620000
9,1,housing,density,500,184.037280,491.005909,1.860000,35.705000,68.020000,132.480000,4988.240000
10,1,housing,primaryres,500,86.362000,9.231836,23.390000,83.360000,87.715000,91.775000,98.240000
11,1,housing,owners,500,72.851400,10.658054,29.160000,68.307500,74.655000,80.115000,95.730000
12,3,environment,building,500,1.628714,2.845606,0.032839,0.594598,0.953998,1.516481,30.585612
13,3,environment,water,500,2.558615,6.413053,0.000000,0.085627,0.265947,2.044930,53.175072
14,3,environment,vegetation,500,35.374320,23.075524,2.107581,19.054566,27.996413,44.783881,98.085493
15,3,environment,agricul,500,52.118949,25.315030,0.000000,36.229709,59.041565,71.693435,94.551011

In [45]:
# Summary qualitatives
res_mfamix.summary_quali_

    group group name    variable          categorie  count
0       1    housing      houses            sup 90%    402
1       1    housing      houses            inf 90%     98
2       1    housing     council             inf 5%    400
3       1    housing     council             sup 5%    100
4       2   services     butcher          butcher_0    348
5       2   services     butcher          butcher_1     88
6       2   services     butcher     butcher_2 or +     64
7       2   services       baker            baker_0    275
8       2   services       baker            baker_1    114
9       2   services       baker       baker_2 or +    111
10      2   services  postoffice       postoffice_0    321
11      2   services  postoffice  postoffice_1 or +    179
12      2   services     dentist          dentist_0    352
13      2   services     dentist     dentist_1 to 2     84
14      2   services     dentist     dentist_3 or +     64
15      2   services     grocery          grocery_0    343
16      2   services     grocery     grocery_1 or +    157
17      2   services     nursery          nursery_0    481
18      2   services     nursery     nursery_1 or +     19
19      2   services      doctor           doctor_0    303
20      2   services      doctor      doctor_3 or +    113
21      2   services      doctor      doctor_1 to 2     84
22      2   services     chemist          chemist_0    331
23      2   services     chemist          chemist_1     99
24      2   services     chemist     chemist_2 or +     70
25      2   services  restaurant       restaurant_0    229
26      2   services  restaurant       restaurant_1    114
27      2   services  restaurant  restaurant_3 or +    108
28      2   services  restaurant       restaurant_2     49

### Extraction

In [46]:
from scientisttools import get_mfa, get_eig
eig = get_eig(res_mfamix)
ind = get_mfa(res_mfamix,choice="ind")
quanti_var = get_mfa(res_mfamix,choice="quanti_var")
quali_var = get_mfa(res_mfamix,choice="quali_var")
groups = get_mfa(res_mfamix,choice="group")
partial_axes = get_mfa(res_mfamix,choice="partial_axes")

In [47]:
from scientisttools import summaryMFA
summaryMFA(res_mfamix)

                     Multiple Factor Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  2.311   1.176   1.019   0.792   0.633
Difference                1.135   0.157   0.227   0.158   0.122
% of var.                21.567  10.974   9.509   7.388   5.909
Cumulative of % of var.  21.567  32.540  42.050  49.437  55.346

Groups

             Sq. Dist.  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3  \
employment       2.342  0.256  11.062  0.028  0.638  54.270  0.174  0.382
housing          1.279  0.814  35.230  0.518  0.127  10.841  0.013  0.111
services         1.372  0.791  34.253  0.457  0.012   1.024  0.000  0.011
environment      1.658  0.450  19.455  0.122  0.398  33.865  0.096  0.515

                ctr   cos2
employment   37.502  0.062
housing      10.877  0.010
services      1.073  0.000
environment  50.548  0.160

Individuals (the 10 first)

                    Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2  \
ABZAC                0.002      6.780    0.014  0.906  0.071  0.121 -0.732
AILLAS               0.002      5.157    0.010 -0.548  0.026  0.058  0.123
AMBARES-ET-LAGRAVE   0.002     16.510    0.033  3.032  0.796  0.557  0.000
AMBES                0.002     20.218    0.040  1.426  0.176  0.101 -0.975
ANDERNOS-LES-BAINS   0.002     19.474    0.039  2.613  0.591  0.351  0.489
ANGLADE              0.002      7.245    0.014 -0.964  0.080  0.128 -1.368
ARBANATS             0.002      5.241    0.010 -0.335  0.010  0.021  0.835
ARBIS                0.002      8.202    0.016 -0.866  0.065  0.091 -0.435
ARCACHON             0.002     46.166    0.092  4.588  1.822  0.456 -1.477
ARCINS               0.002     10.007    0.020 -0.770  0.051  0.059  0.156

                      ctr   cos2  Dim.3    ctr   cos2
ABZAC               0.091  0.079 -0.238  0.011  0.008
AILLAS              0.003  0.003 -0.578  0.065  0.065
AMBARES-ET-LAGRAVE  0.000  0.000  0.832  0.136  0.042
AMBES               0.162  0.047  0.260  0.013  0.003
ANDERNOS-LES-BAINS  0.041  0.012 -1.417  0.394  0.103
ANGLADE             0.318  0.258 -0.188  0.007  0.005
ARBANATS            0.119  0.133  0.293  0.017  0.016
ARBIS               0.032  0.023 -0.111  0.002  0.002
ARCACHON            0.371  0.047 -2.010  0.793  0.088
ARCINS              0.004  0.002  0.228  0.010  0.005

Supplementary individuals (the 10 first)

                    Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2  \
ABZAC                0.002      6.780    0.014  0.906  0.071  0.121 -0.732
AILLAS               0.002      5.157    0.010 -0.548  0.026  0.058  0.123
AMBARES-ET-LAGRAVE   0.002     16.510    0.033  3.032  0.796  0.557  0.000
AMBES                0.002     20.218    0.040  1.426  0.176  0.101 -0.975
ANDERNOS-LES-BAINS   0.002     19.474    0.039  2.613  0.591  0.351  0.489
ANGLADE              0.002      7.245    0.014 -0.964  0.080  0.128 -1.368
ARBANATS             0.002      5.241    0.010 -0.335  0.010  0.021  0.835
ARBIS                0.002      8.202    0.016 -0.866  0.065  0.091 -0.435
ARCACHON             0.002     46.166    0.092  4.588  1.822  0.456 -1.477
ARCINS               0.002     10.007    0.020 -0.770  0.051  0.059  0.156

                      ctr   cos2  Dim.3    ctr   cos2
ABZAC               0.091  0.079 -0.238  0.011  0.008
AILLAS              0.003  0.003 -0.578  0.065  0.065
AMBARES-ET-LAGRAVE  0.000  0.000  0.832  0.136  0.042
AMBES               0.162  0.047  0.260  0.013  0.003
ANDERNOS-LES-BAINS  0.041  0.012 -1.417  0.394  0.103
ANGLADE             0.318  0.258 -0.188  0.007  0.005
ARBANATS            0.119  0.133  0.293  0.017  0.016
ARBIS               0.032  0.023 -0.111  0.002  0.002
ARCACHON            0.371  0.047 -2.010  0.793  0.088
ARCINS              0.004  0.002  0.228  0.010  0.005

Continuous variables (the 10 first)

            Dim.1    ctr   cos2  Dim.2     ctr   cos2  Dim.3    ctr   cos2
farmers    -0.443  3.620  0.197 -0.314   3.557  0.098  0.177  1.311  0.031
tradesmen  -0.140  0.362  0.020  0.128   0.591  0.016 -0.207  1.780  0.043
managers    0.290  1.546  0.084  0.530  10.150  0.281  0.415  7.180  0.172
workers    -0.105  0.202  0.011 -0.012   0.005  0.000 -0.146  0.884  0.021
unemployed  0.302  1.679  0.091 -0.089   0.288  0.008  0.097  0.392  0.009
middleempl  0.243  1.091  0.059  0.569  11.721  0.324  0.347  5.021  0.120
retired    -0.037  0.025  0.001 -0.429   6.659  0.184 -0.391  6.383  0.153
employrate -0.352  2.277  0.124  0.507   9.285  0.257  0.439  8.032  0.192
income      0.119  0.261  0.014  0.576  12.015  0.332  0.395  6.518  0.156
density     0.731  9.093  0.534 -0.187   1.165  0.035  0.208  1.675  0.043

Categories (the 10 first)

                Sq. Dist.  Dim.1    ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
 inf 90%            5.811  2.290  7.575  0.903 -0.355  0.702  0.022 -0.052
 sup 90%            0.345 -0.558  1.847  0.903  0.086  0.171  0.022  0.013
 inf 5%             0.325 -0.539  1.711  0.893  0.056  0.071  0.010  0.015
 sup 5%             5.200  2.155  6.842  0.893 -0.224  0.285  0.010 -0.059
butcher_0           0.445 -0.624  0.878  0.877 -0.008  0.001  0.000  0.037
butcher_1           1.345  0.562  0.180  0.235  0.108  0.026  0.009 -0.111
butcher_2 or +      7.541  2.623  2.849  0.912 -0.106  0.018  0.001 -0.051
baker_0             0.905 -0.856  1.305  0.811 -0.052  0.018  0.003  0.068
baker_1             1.004  0.069  0.003  0.005 -0.030  0.003  0.001 -0.099
baker_2 or +        4.586  2.051  3.022  0.917  0.158  0.070  0.005 -0.066

                  ctr   cos2
 inf 90%        0.020  0.000
 sup 90%        0.005  0.000
 inf 5%         0.007  0.001
 sup 5%         0.026  0.001
butcher_0       0.016  0.003
butcher_1       0.036  0.009
butcher_2 or +  0.005  0.000
baker_0         0.042  0.005
baker_1         0.037  0.010
baker_2 or +    0.016  0.001

Categories eta2 (the 10 first)

            Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
houses      0.553  0.026  0.001  0.000  0.026
council     0.502  0.011  0.001  0.009  0.004
butcher     0.522  0.003  0.003  0.040  0.047
baker       0.579  0.006  0.006  0.123  0.131
postoffice  0.470  0.004  0.007  0.049  0.121
dentist     0.657  0.014  0.003  0.115  0.205
grocery     0.139  0.002  0.006  0.009  0.014
nursery     0.324  0.000  0.021  0.032  0.070
doctor      0.626  0.011  0.010  0.106  0.167
chemist     0.703  0.007  0.001  0.104  0.253

## MFAMIX with supplementary quantitative variables

In [48]:
res_mfamix2 = MFAMIX(n_components=5,group=[9,5,9,4],name_group=name,group_type=group_type,num_group_sup=3)
res_mfamix2.fit(gironde)

MFAMIX(group=[9, 5, 9, 4], group_type=['s', 'm', 'n', 's'],
       name_group=['employment', 'housing', 'services', 'environment'],
       num_group_sup=3)

### Eigenvalues

In [49]:
# Eigenvalues
res_mfamix2.eig_.round(4)

        eigenvalue  difference  proportion  cumulative
Dim.1       1.9295      0.7996     22.6635     22.6635
Dim.2       1.1299      0.3840     13.2717     35.9352
Dim.3       0.7459      0.1716      8.7617     44.6969
Dim.4       0.5744      0.1318      6.7463     51.4432
Dim.5       0.4425      0.0264      5.1978     56.6410
Dim.6       0.4162      0.0533      4.8882     61.5292
Dim.7       0.3629      0.0710      4.2628     65.7919
Dim.8       0.2919      0.0112      3.4282     69.2202
Dim.9       0.2807      0.0230      3.2970     72.5172
Dim.10      0.2577      0.0491      3.0270     75.5442
Dim.11      0.2086      0.0069      2.4507     77.9949
Dim.12      0.2017      0.0147      2.3697     80.3646
Dim.13      0.1870      0.0097      2.1968     82.5614
Dim.14      0.1773      0.0162      2.0826     84.6440
Dim.15      0.1611      0.0004      1.8926     86.5365
Dim.16      0.1608      0.0092      1.8883     88.4248
Dim.17      0.1515      0.0183      1.7801     90.2049
Dim.18      0.1333      0.0156      1.5652     91.7701
Dim.19      0.1177      0.0079      1.3820     93.1521
Dim.20      0.1097      0.0128      1.2891     94.4412
Dim.21      0.0970      0.0190      1.1392     95.5804
Dim.22      0.0780      0.0105      0.9166     96.4969
Dim.23      0.0676      0.0071      0.7937     97.2907
Dim.24      0.0604      0.0082      0.7099     98.0006
Dim.25      0.0522      0.0077      0.6132     98.6138
Dim.26      0.0445      0.0079      0.5226     99.1364
Dim.27      0.0366      0.0139      0.4300     99.5664
Dim.28      0.0227      0.0085      0.2667     99.8331
Dim.29      0.0142      0.0142      0.1669    100.0000
Dim.30      0.0000      0.0000      0.0000    100.0000

### Supplementary quantitatives variables

In [50]:
quanti_var_sup = res_mfamix2.quanti_var_sup_
quanti_var_sup.keys()

dict_keys(['coord', 'cor', 'cos2'])

In [51]:
# Coordinates
quanti_var_sup["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.625747 -0.011546  0.072700 -0.370136  0.013643
water       0.167547 -0.038049 -0.074294  0.021777 -0.020429
vegetation  0.009428  0.038631 -0.001850  0.258913  0.088889
agricul    -0.438645 -0.072213 -0.018117 -0.113173 -0.067700

In [52]:
# Square cosinus
quanti_var_sup["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
building    0.391559  0.000133  0.005285  0.137001  0.000186
water       0.028072  0.001448  0.005520  0.000474  0.000417
vegetation  0.000089  0.001492  0.000003  0.067036  0.007901
agricul     0.192409  0.005215  0.000328  0.012808  0.004583

### Groups

In [53]:
groups2 = res_mfamix2.group_

In [54]:
# Lg coefficients
groups2["Lg"]

             employment   housing  services  environment       MFA
employment     2.289392  0.233158  0.187857     0.151500  1.404729
housing        0.233158  1.288556  0.566243     0.397627  1.082131
services       0.187857  0.566243  1.364093     0.252755  1.097801
environment    0.151500  0.397627  0.252755     1.658268  0.415594
MFA            1.404729  1.082131  1.097801     0.415594  1.857832

In [55]:
# Sup coord
groups2["coord_sup"]

                Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
environment  0.329938  0.004467  0.006003  0.117135  0.007054

## MFAMIX with supplementary qualitative variables

In [56]:
res_mfamix3 = MFAMIX(n_components=5,group=[9,5,9,4],name_group=name,group_type=group_type,num_group_sup=2)
res_mfamix3.fit(gironde)

MFAMIX(group=[9, 5, 9, 4], group_type=['s', 'm', 'n', 's'],
       name_group=['employment', 'housing', 'services', 'environment'],
       num_group_sup=2)

### Eigenvalues

In [57]:
# Eigenvalues
res_mfamix3.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    1.633988    0.468882   20.655326   20.655326
Dim.2    1.165106    0.128727   14.728164   35.383490
Dim.3    1.036379    0.312777   13.100915   48.484405
Dim.4    0.723602    0.175088    9.147086   57.631491
Dim.5    0.548514    0.112804    6.933791   64.565282
Dim.6    0.435709    0.016804    5.507823   70.073105

### Supplementary qualitatives

In [58]:
quali_var_sup = res_mfamix3.quali_var_sup_
quali_var_sup.keys()

dict_keys(['barycentre', 'coord', 'cos2', 'vtest', 'dist', 'eta2', 'coord_partiel'])

In [59]:
# Factor coordinates
quali_var_sup["coord"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0      -0.432932 -0.006683  0.046453 -0.009890 -0.013477
butcher_1       0.244923  0.052860 -0.060949 -0.126739 -0.015809
butcher_2 or +  1.807240 -0.033453 -0.150580  0.206705  0.085551
baker_0        -0.575098 -0.033707  0.072816  0.055212 -0.077111
baker_1        -0.033685 -0.059622 -0.024186 -0.236659  0.067965
baker_2 or +    1.395653  0.141792 -0.147102  0.115655  0.111707

In [60]:
# Square cosinus
quali_var_sup["cos2"].head(6)

                   Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0       0.933010  0.000222  0.010742  0.000487  0.000904
butcher_1       0.455781  0.021230  0.028225  0.122046  0.001899
butcher_2 or +  0.950905  0.000326  0.006601  0.012440  0.002131
baker_0         0.884600  0.003039  0.014181  0.008153  0.015904
baker_1         0.012855  0.040272  0.006627  0.634500  0.052330
baker_2 or +    0.924195  0.009539  0.010267  0.006347  0.005921

In [61]:
#  Square distance
quali_var_sup["dist"].head(6)

butcher_0         0.200888
butcher_1         0.131614
butcher_2 or +    3.434747
baker_0           0.373884
baker_1           0.088270
baker_2 or +      2.107615
Name: Sq. Dist., dtype: float64

In [62]:
# Vtest
quali_var_sup["vtest"].head(6)

                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher_0      -11.603341 -0.212104  1.563314 -0.398337 -0.623444
butcher_1        2.054523  0.525107 -0.641966 -1.597603 -0.228879
butcher_2 or +  13.280177 -0.291115 -1.389380  2.282515  1.085039
baker_0        -11.267457 -0.782070  1.791323  1.625522 -2.607553
baker_1         -0.340811 -0.714378 -0.307267 -3.598128  1.186844
baker_2 or +    13.759323  1.655435 -1.820968  1.713407  1.900771

In [63]:
# Square correlation ratio (eta2)
quali_var_sup["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
butcher     0.365235  0.000581  0.005121  0.012263  0.002178
baker       0.379366  0.005160  0.007618  0.024736  0.012972
postoffice  0.296720  0.002192  0.007483  0.004449  0.010339
dentist     0.463614  0.011765  0.000029  0.016810  0.026084
grocery     0.096069  0.004780  0.009745  0.002101  0.005988
nursery     0.329047  0.001372  0.009868  0.006635  0.013054

In [64]:
# Partial coordinates
quali_var_sup["coord_partiel"].head(6).round(4)

               employment                                           housing  \
                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1
butcher_0       -0.227393 -0.117593  0.009848   -0.0064 -0.088557 -0.728886
butcher_1        0.248516  0.081919  -0.06384 -0.295318  0.055558  0.425692
butcher_2 or +   0.799394  0.471643  0.031727  0.400389  0.362852  3.026001
baker_0          -0.33623 -0.210776   0.01222  0.137842 -0.117038 -0.955127
baker_1          0.093709 -0.133867 -0.178347 -0.569368  -0.06194 -0.042924
baker_2 or +     0.697952  0.637974  0.156686    0.2664  0.341353  2.304359

                                                       environment            \
                   Dim.2     Dim.3     Dim.4     Dim.5       Dim.1     Dim.2
butcher_0       0.201345  0.001457  0.000328  0.040709   -0.342517   -0.1038
butcher_1      -0.053833  0.056918 -0.095555 -0.026317     0.06056  0.130493
butcher_2 or + -0.915593  -0.07826  0.117842 -0.165827    1.596326  0.343591
baker_0         0.263038  0.004217  0.016536  0.040017   -0.433938 -0.153383
baker_1         0.029096  0.021012 -0.074384  0.015948    -0.15184 -0.074096
baker_2 or +   -0.652588 -0.031842  0.038285 -0.111272    1.184647  0.439989


                   Dim.3     Dim.4     Dim.5
butcher_0       0.128056 -0.023599  0.007416
butcher_1      -0.175925  0.010654 -0.076666
butcher_2 or + -0.405208  0.101884   0.05963
baker_0          0.20201  0.011258 -0.154314
baker_1         0.084775 -0.066224  0.249886
baker_2 or +   -0.566149  0.042281  0.105039