# MFAQUAL predict & supvar

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_poison
poison = load_poison()
poison.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 1 to 55
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         55 non-null     int32
 1   Time        55 non-null     int32
 2   Sick        55 non-null     category
 3   Sex         55 non-null     category
 4   Nausea      55 non-null     category
 5   Vomiting    55 non-null     category
 6   Abdominals  55 non-null     category
 7   Fever       55 non-null     category
 8   Diarrhae    55 non-null     category
 9   Potato      55 non-null     category
 10  Fish        55 non-null     category
 11  Mayo        55 non-null     category
 12  Courgette   55 non-null     category
 13  Cheese      55 non-null     category
 14  Icecream    55 non-null     category
dtypes: category(13), int32(2)
memory usage: 3.1+ KB

In [3]:
group_name = ["desc","desc2","symptom","eat"]
group = [2,2,5,6]
group_type = ["s"]+["n"]*3
num_group_sup = [0,1]

In [4]:
from scientisttools import MFAQUAL
res_mfaqual = MFAQUAL(group=group,name_group=group_name,group_type=group_type,var_weights_mfa=None,num_group_sup=[0,1],ind_sup=list(range(50,55)),parallelize=True)
res_mfaqual.fit(poison)

MFAQUAL(group=[2, 2, 5, 6], group_type=['s', 'n', 'n', 'n'],
        ind_sup=[50, 51, 52, 53, 54],
        name_group=['desc', 'desc2', 'symptom', 'eat'], num_group_sup=[0, 1],
        parallelize=True)

## predict

In [5]:
# Supplementary individuals
ind_sup = poison.iloc[50:,4:]
ind_sup.shape

(5, 11)

In [6]:
from scientisttools import predictMFA
predict = predictMFA(res_mfaqual,X=ind_sup)
predict.keys()

dict_keys(['coord', 'cos2', 'dist', 'coord_partiel'])

In [7]:
# transform function
res_mfaqual.transform(ind_sup).head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  1.984653 -0.261655  0.346274  0.752054 -0.393798
52 -0.529673 -0.253422 -0.185506 -0.018746 -0.352761
53  3.108303  1.725302  0.978507  1.334885  0.987622
54 -0.325224 -0.090527 -0.259939 -0.186965 -0.632778
55 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772

In [8]:
# Factor coordinates with MFAQUAL function
res_mfaqual.ind_sup_["coord"].head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  1.984653 -0.261655  0.346274  0.752054 -0.393798
52 -0.529673 -0.253422 -0.185506 -0.018746 -0.352761
53  3.108303  1.725302  0.978507  1.334885  0.987622
54 -0.325224 -0.090527 -0.259939 -0.186965 -0.632778
55 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772

In [9]:
# Factor coordinates with predictMFA function
predict["coord"].head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  1.984653 -0.261655  0.346274  0.752054 -0.393798
52 -0.529673 -0.253422 -0.185506 -0.018746 -0.352761
53  3.108303  1.725302  0.978507  1.334885  0.987622
54 -0.325224 -0.090527 -0.259939 -0.186965 -0.632778
55 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772

In [10]:
# Square cosinus with MFA function
res_mfaqual.ind_sup_["cos2"].head(6)

       Dim.1         Dim.2     Dim.3     Dim.4     Dim.5
51  0.630066  1.095154e-02  0.019180  0.090472  0.024806
52  0.230523  5.277020e-02  0.028276  0.000289  0.102250
53  0.421852  1.299700e-01  0.041806  0.077804  0.042589
54  0.055047  4.265009e-03  0.035165  0.018192  0.208386
55  0.416896  5.245652e-07  0.059934  0.041996  0.198012

In [11]:
# Square cosinus with predictMFA function
predict["cos2"].head(6)

       Dim.1         Dim.2     Dim.3     Dim.4     Dim.5
51  0.630066  1.095154e-02  0.019180  0.090472  0.024806
52  0.230523  5.277020e-02  0.028276  0.000289  0.102250
53  0.421852  1.299700e-01  0.041806  0.077804  0.042589
54  0.055047  4.265009e-03  0.035165  0.018192  0.208386
55  0.416896  5.245652e-07  0.059934  0.041996  0.198012

In [12]:
# Square distance to origin with MFAQUAL function
res_mfaqual.ind_sup_["dist"].head(6)

51     6.251478
52     1.217029
53    22.902710
54     1.921474
55     1.476854
Name: Sq. Dist., dtype: float64

In [13]:
# Square distance to origin with predictMFAQUAL function
predict["dist"].head(6)

51     6.251478
52     1.217029
53    22.902710
54     1.921474
55     1.476854
Name: Sq. Dist., dtype: float64

In [14]:
# Partiel coordinates with MFAQUAL function
res_mfaqual.ind_sup_['coord_partiel'].head(6)

     symptom                                               eat            \
       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
51  2.147479 -0.607842  0.244450  0.457383 -0.082445  1.821827  0.084532
52 -0.564066  0.016829 -0.160385  0.057848  0.254739 -0.495279 -0.523674
53  2.147479 -0.607842  0.244450  0.457383 -0.082445  4.069126  4.058446
54 -0.155170  0.342620 -0.309252 -0.278589 -0.305295 -0.495279 -0.523674
55 -1.074045  0.521913 -0.384399 -0.402746 -0.121282 -0.495279 -0.523674


       Dim.3     Dim.4     Dim.5
51  0.448098  1.046725 -0.705150
52 -0.210627 -0.095341 -0.960262
53  1.712563  2.212387  2.057690
54 -0.210627 -0.095341 -0.960262
55 -0.210627 -0.095341 -0.960262

In [15]:
# Partiel coordinates with predictMFA function
predict["coord_partiel"].head(6)

     symptom                                               eat            \
       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
51  2.147479 -0.607842  0.244450  0.457383 -0.082445  1.821827  0.084532
52 -0.564066  0.016829 -0.160385  0.057848  0.254739 -0.495279 -0.523674
53  2.147479 -0.607842  0.244450  0.457383 -0.082445  4.069126  4.058446
54 -0.155170  0.342620 -0.309252 -0.278589 -0.305295 -0.495279 -0.523674
55 -1.074045  0.521913 -0.384399 -0.402746 -0.121282 -0.495279 -0.523674


       Dim.3     Dim.4     Dim.5
51  0.448098  1.046725 -0.705150
52 -0.210627 -0.095341 -0.960262
53  1.712563  2.212387  2.057690
54 -0.210627 -0.095341 -0.960262
55 -0.210627 -0.095341 -0.960262

## supvar function

In [16]:
from scientisttools import supvarMFA
X_group_sup = poison.iloc[:50,:4]
supvar = supvarMFA(res_mfaqual,X_group_sup=X_group_sup,group_sup=[2,2],name_group_sup=["desc","desc2"],group_sup_type=["s","n"])
supvar.keys()

dict_keys(['group', 'partial_axes', 'quanti', 'quali'])

### Supplementary groups

In [17]:
# Factor coordinates with MFAQUAL function
res_mfaqual.group_["coord_sup"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.601879  0.001511  0.083907  0.046296  0.010219
desc2  0.738310  0.026960  0.007214  0.013254  0.022117

In [18]:
# Factor coordinates with supvarMFA function
supvar["group"]["coord"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.601879  0.001511  0.083907  0.046296  0.010219
desc2  0.738310  0.026960  0.007214  0.013254  0.022117

In [19]:
# Square cosinus with MFAQUAL function
res_mfaqual.group_["cos2_sup"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.195868  0.000001  0.003807  0.001159  0.000056
desc2  0.277324  0.000370  0.000026  0.000089  0.000249

In [20]:
# Square cosinus supvarMFA function
supvar["group"]["cos2"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.195868  0.000001  0.003807  0.001159  0.000056
desc2  0.277324  0.000370  0.000026  0.000089  0.000249

In [21]:
# Square distance to origin with MFAQUAL function
res_mfaqual.group_["dist2_sup"].head(6)

desc     1.849508
desc2    1.965578
Name: Sq. Dist., dtype: float64

In [22]:
# Square distance to origin with supvarMFA function
supvar["group"]["dist2"]

desc     1.849508
desc2    1.965578
Name: Sq. Dist., dtype: float64

In [23]:
# Lg coefficients with MFAQUAL function
res_mfaqual.group_["Lg"]

             desc     desc2   symptom       eat       MFA
desc     1.849508  0.721128  0.668235  0.338643  0.717689
desc2    0.721128  1.965578  0.908515  0.257359  0.831019
symptom  0.668235  0.908515  1.115142  0.261917  0.981549
eat      0.338643  0.257359  0.261917  3.353523  2.577035
MFA      0.717689  0.831019  0.981549  2.577035  2.536510

In [24]:
# Lg coeffcients with supvarMFA function
supvar["group"]["Lg"]

          symptom       eat      desc     desc2
symptom  1.115142  0.261917  0.668235  0.908515
eat      0.261917  3.353523  0.338643  0.257359
desc     0.668235  0.338643  1.849508  0.721128
desc2    0.908515  0.257359  0.721128  1.965578

In [25]:
# RV coefficients with MFAQUAL function
res_mfaqual.group_["RV"]

             desc     desc2   symptom       eat       MFA
desc     1.000000  0.378216  0.465303  0.135976  0.331352
desc2    0.378216  1.000000  0.613652  0.100241  0.372175
symptom  0.465303  0.613652  1.000000  0.135440  0.583618
eat      0.135976  0.100241  0.135440  1.000000  0.883591
MFA      0.331352  0.372175  0.583618  0.883591  1.000000

In [26]:
# RV coefficients with supvarMFA function
supvar["group"]["RV"]

          symptom       eat      desc     desc2
symptom  1.000000  0.135440  0.465303  0.613652
eat      0.135440  1.000000  0.135976  0.100241
desc     0.465303  0.135976  1.000000  0.378216
desc2    0.613652  0.100241  0.378216  1.000000

### Supplementary partial axes

In [27]:
# Factor coordinates with MFAQUAL function
res_mfaqual.partial_axes_["coord"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.541201 -0.578994  0.606324  0.614191  0.876404 -0.081229  0.038272
Dim.2 -0.038696 -0.003818 -0.163884 -0.010165 -0.205157 -0.230917  0.253445
Dim.3 -0.184067 -0.232975  0.018162  0.083703  0.062583  0.378263  0.022537
Dim.4  0.214308 -0.019994  0.111574  0.028619  0.137908  0.137826 -0.250281
Dim.5  0.100574  0.010613  0.066004 -0.134442 -0.017625  0.109803 -0.296190

                                eat
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.079892  0.012664  0.591609 -0.513744 -0.012885 -0.295631  0.075352
Dim.2  0.151139  0.023629  0.771066  0.538398  0.060613  0.233993 -0.125695
Dim.3 -0.136232 -0.091921  0.006136  0.278095 -0.901900 -0.268399  0.131004
Dim.4 -0.025583  0.027013 -0.080379  0.497835  0.415070 -0.679898  0.276236
Dim.5 -0.131791 -0.114976  0.063103 -0.029391  0.020013  0.367294  0.919537

In [28]:
# Factor coordinates with supvarMFA function
supvar["partial_axes"]["coord"].head(6)

           desc               desc2
          Dim.1     Dim.2     Dim.1     Dim.2
Dim.1  0.541201 -0.578994  0.606324  0.614191
Dim.2 -0.038696 -0.003818 -0.163884 -0.010165
Dim.3 -0.184067 -0.232975  0.018162  0.083703
Dim.4  0.214308 -0.019994  0.111574  0.028619
Dim.5  0.100574  0.010613  0.066004 -0.134442

In [29]:
# Square cosinus with MFAQUAL function
res_mfaqual.partial_axes_["cos2"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.292899  0.335234  0.367628  0.377231  0.768084  0.006598  0.001465
Dim.2  0.001497  0.000015  0.026858  0.000103  0.042090  0.053323  0.064234
Dim.3  0.033881  0.054277  0.000330  0.007006  0.003917  0.143083  0.000508
Dim.4  0.045928  0.000400  0.012449  0.000819  0.019019  0.018996  0.062641
Dim.5  0.010115  0.000113  0.004357  0.018075  0.000311  0.012057  0.087729

                                eat
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.006383  0.000160  0.350002  0.263933  0.000166  0.087398  0.005678
Dim.2  0.022843  0.000558  0.594543  0.289872  0.003674  0.054753  0.015799
Dim.3  0.018559  0.008449  0.000038  0.077337  0.813423  0.072038  0.017162
Dim.4  0.000654  0.000730  0.006461  0.247840  0.172283  0.462262  0.076306
Dim.5  0.017369  0.013219  0.003982  0.000864  0.000401  0.134905  0.845548

In [30]:
# Square cosinus with supvarMFA function
supvar["partial_axes"]["cos2"].head(6)

           desc               desc2
          Dim.1     Dim.2     Dim.1     Dim.2
Dim.1  0.292899  0.335234  0.367628  0.377231
Dim.2  0.001497  0.000015  0.026858  0.000103
Dim.3  0.033881  0.054277  0.000330  0.007006
Dim.4  0.045928  0.000400  0.012449  0.000819
Dim.5  0.010115  0.000113  0.004357  0.018075

### Supplementary quantitative variables

In [31]:
# Factor coordinates with MFAQUAL function
res_mfaqual.quanti_var_sup_["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.010575 -0.030558 -0.294127  0.140749  0.079901
Time -0.791388  0.025270 -0.028566 -0.168442 -0.065201

In [32]:
# Factor coordinates with supvarMFA function
supvar["quanti"]["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.010575 -0.030558 -0.294127  0.140749  0.079901
Time -0.791388  0.025270 -0.028566 -0.168442 -0.065201

In [33]:
# Square cosinus with MFAQUAL function
res_mfaqual.quanti_var_sup_["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.000112  0.000934  0.086511  0.019810  0.006384
Time  0.626295  0.000639  0.000816  0.028373  0.004251

In [34]:
# Square cosinus with supvarMFA function
supvar["quanti"]["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.000112  0.000934  0.086511  0.019810  0.006384
Time  0.626295  0.000639  0.000816  0.028373  0.004251

### Supplementary qualitative variables

In [35]:
# Barycenter with MFAQUAL function
res_mfaqual.quali_var_sup_["barycentre"].head(6)

,Nausea_n,Nausea_y,Vomit_n,Vomit_y,Abdo_n,Abdo_y,Fever_n,Fever_y,Diarrhea_n,Diarrhea_y,...,Fish_n,Fish_y,Mayo_n,Mayo_y,Courg_n,Courg_y,Cheese_n,Cheese_y,Icecream_n,Icecream_y
Sick_n,0.315789,-1.0,0.666667,-1.0,2.125,-1.0,1.777778,-1.0,1.941176,-1.0,...,-1.0,0.020408,1.5,-0.285714,-0.333333,0.037037,1.222222,-0.166667,0.111111,-0.007092
Sick_y,-0.135338,0.428571,-0.285714,0.428571,-0.910714,0.428571,-0.761905,0.428571,-0.831933,0.428571,...,0.428571,-0.008746,-0.642857,0.122449,0.142857,-0.015873,-0.52381,0.071429,-0.047619,0.00304
F,0.023392,-0.074074,-0.012346,0.018519,-0.074074,0.034858,-0.074074,0.041667,0.089325,-0.046016,...,-1.0,0.020408,-0.074074,0.014109,0.111111,-0.012346,-0.074074,0.010101,0.234568,-0.014972
M,-0.02746,0.086957,0.014493,-0.021739,0.086957,-0.040921,0.086957,-0.048913,-0.104859,0.054018,...,1.173913,-0.023957,0.086957,-0.016563,-0.130435,0.014493,0.086957,-0.011858,-0.275362,0.017576

In [36]:
# Barycenter with supvarMFA function
supvar["quali"]["barycentre"].head(6)

,Nausea_n,Nausea_y,Vomit_n,Vomit_y,Abdo_n,Abdo_y,Fever_n,Fever_y,Diarrhea_n,Diarrhea_y,...,Fish_n,Fish_y,Mayo_n,Mayo_y,Courg_n,Courg_y,Cheese_n,Cheese_y,Icecream_n,Icecream_y
Sick_n,0.315789,-1.0,0.666667,-1.0,2.125,-1.0,1.777778,-1.0,1.941176,-1.0,...,-1.0,0.020408,1.5,-0.285714,-0.333333,0.037037,1.222222,-0.166667,0.111111,-0.007092
Sick_y,-0.135338,0.428571,-0.285714,0.428571,-0.910714,0.428571,-0.761905,0.428571,-0.831933,0.428571,...,0.428571,-0.008746,-0.642857,0.122449,0.142857,-0.015873,-0.52381,0.071429,-0.047619,0.00304
F,0.023392,-0.074074,-0.012346,0.018519,-0.074074,0.034858,-0.074074,0.041667,0.089325,-0.046016,...,-1.0,0.020408,-0.074074,0.014109,0.111111,-0.012346,-0.074074,0.010101,0.234568,-0.014972
M,-0.02746,0.086957,0.014493,-0.021739,0.086957,-0.040921,0.086957,-0.048913,-0.104859,0.054018,...,1.173913,-0.023957,0.086957,-0.016563,-0.130435,0.014493,0.086957,-0.011858,-0.275362,0.017576

In [37]:
# Factor coordinates with MFAQUAL function
res_mfaqual.quali_var_sup_["coord"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.561423 -0.184630  0.096853  0.130673 -0.058954
Sick_y -0.669181  0.079127 -0.041508 -0.056003  0.025266
F       0.001951  0.098633  0.037502 -0.046943 -0.105527
M      -0.002290 -0.115787 -0.044024  0.055107  0.123880

In [38]:
# Factor coordinates with supvarMFA function
supvar["quali"]["coord"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.561423 -0.184630  0.096853  0.130673 -0.058954
Sick_y -0.669181  0.079127 -0.041508 -0.056003  0.025266
F       0.001951  0.098633  0.037502 -0.046943 -0.105527
M      -0.002290 -0.115787 -0.044024  0.055107  0.123880

In [39]:
# Square cosinus with MFAQUAL function
res_mfaqual.quali_var_sup_["cos2"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  0.916114  0.012809  0.003525  0.006416  0.001306
Sick_y  0.916114  0.012809  0.003525  0.006416  0.001306
F       0.000126  0.321395  0.046461  0.072801  0.367895
M       0.000126  0.321395  0.046461  0.072801  0.367895

In [40]:
# Square cosinus with supvarMFA function
supvar["quali"]["cos2"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  0.916114  0.012809  0.003525  0.006416  0.001306
Sick_y  0.916114  0.012809  0.003525  0.006416  0.001306
F       0.000126  0.321395  0.046461  0.072801  0.367895
M       0.000126  0.321395  0.046461  0.072801  0.367895

In [41]:
# Square distance to origin with MFAQUAL function
res_mfaqual.quali_var_sup_["dist"].head(6)

Sick_n    2.661284
Sick_y    0.488807
F         0.030269
M         0.041714
Name: Sq. Dist., dtype: float64

In [42]:
# Square distance to orgin with supvarMFA function
supvar["quali"]["dist"].head(6)

Sick_n    2.661284
Sick_y    0.488807
F         0.030269
M         0.041714
Name: Sq. Dist., dtype: float64

In [43]:
# v-test with MFAQUAL function
res_mfaqual.quali_var_sup_["vtest"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_y -6.041013  0.864825 -0.502781 -0.695714  0.334401
Sick_n  6.041013 -0.864825  0.502781  0.695714 -0.334401
F       0.012491  0.764634  0.322197 -0.413642 -0.990665
M      -0.012491 -0.764634 -0.322197  0.413642  0.990665

In [44]:
# v-test with supvarMFA function
supvar["quali"]["vtest"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_y -6.041013  0.864825 -0.502781 -0.695714  0.334401
Sick_n  6.041013 -0.864825  0.502781  0.695714 -0.334401
F       0.012491  0.764634  0.322197 -0.413642 -0.990665
M      -0.012491 -0.764634 -0.322197  0.413642  0.990665

In [45]:
# Square correlation ratio with MFAQUAL function
res_mfaqual.quali_var_sup_["eta2"].head(2)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick  0.744772  0.015264  0.005159  0.009878  0.002282
Sex   0.000003  0.011932  0.002119  0.003492  0.020029

In [46]:
# Square correlation ratio with supvarMFA function
supvar["quali"]["eta2"].head(2)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick  0.744772  0.015264  0.005159  0.009878  0.002282
Sex   0.000003  0.011932  0.002119  0.003492  0.020029

In [47]:
# Partiel coordinates with MFAQUAL function
res_mfaqual.quali_var_sup_["coord_partiel"].head(6)

         symptom                                               eat            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Sick_n  2.147479 -0.607842   0.24445  0.457383 -0.082445  0.975367  0.238582
Sick_y -0.920348  0.260504 -0.104764 -0.196021  0.035334 -0.418014 -0.102249
F      -0.009622  0.009993 -0.016002 -0.005876  -0.00528  0.013524  0.187273
M       0.011296 -0.011731  0.018785  0.006898  0.006198 -0.015876 -0.219843


           Dim.3     Dim.4     Dim.5
Sick_n -0.050744 -0.196037 -0.035462
Sick_y  0.021748  0.084016  0.015198
F       0.091005  -0.08801 -0.205774
M      -0.106832  0.103316  0.241561

In [48]:
# Partiel coordinates with supvarMFA function
supvar["quali"]["coord_partiel"].head(6)

         symptom                                               eat            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Sick_n  2.147479 -0.607842   0.24445  0.457383 -0.082445  0.975367  0.238582
Sick_y -0.920348  0.260504 -0.104764 -0.196021  0.035334 -0.418014 -0.102249
F      -0.009622  0.009993 -0.016002 -0.005876  -0.00528  0.013524  0.187273
M       0.011296 -0.011731  0.018785  0.006898  0.006198 -0.015876 -0.219843


           Dim.3     Dim.4     Dim.5
Sick_n -0.050744 -0.196037 -0.035462
Sick_y  0.021748  0.084016  0.015198
F       0.091005  -0.08801 -0.205774
M      -0.106832  0.103316  0.241561