# MFAQUAL - MFA for Qualitatives Variables

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
import pandas as pd
result = pyreadr.read_r('./data/poison.rda')
poison = result["poison"]
poison.head(6)

,Age,Time,Sick,Sex,Nausea,Vomiting,Abdominals,Fever,Diarrhae,Potato,Fish,Mayo,Courgette,Cheese,Icecream
rownames,,,,,,,,,,,,,,,
1,9,22,Sick_y,F,Nausea_y,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
2,5,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_n,Icecream_y
3,6,16,Sick_y,F,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
4,9,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_n,Courg_y,Cheese_y,Icecream_y
5,7,14,Sick_y,M,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
6,72,9,Sick_y,M,Nausea_n,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_n,Mayo_y,Courg_y,Cheese_y,Icecream_y

In [3]:
group_name = ["desc","desc2","symptom","eat"]
group = [2,2,5,6]
group_type = ["s","n","n","n"]
num_group_sup = [0,1]

In [4]:
# Set variables weights in each groups
var_weights_mfa = {
    "symptom" : pd.Series([1/5]*5,index=["Nausea","Vomiting","Abdominals","Fever","Diarrhae"]),
    "eat" : pd.Series([1/6]*6,index=["Potato","Fish","Mayo","Courgette","Cheese","Icecream"])
}
var_weights_mfa

{'symptom': Nausea        0.2
 Vomiting      0.2
 Abdominals    0.2
 Fever         0.2
 Diarrhae      0.2
 dtype: float64,
 'eat': Potato       0.166667
 Fish         0.166667
 Mayo         0.166667
 Courgette    0.166667
 Cheese       0.166667
 Icecream     0.166667
 dtype: float64}

In [5]:
from scientisttools import MFAQUAL

res_mfaqual = MFAQUAL(group=group,name_group=group_name,group_type=group_type,var_weights_mfa=None,num_group_sup=[0,1],parallelize=True)
res_mfaqual.fit(poison)

MFAQUAL(group=[2, 2, 5, 6], group_type=['s', 'n', 'n', 'n'],
        name_group=['desc', 'desc2', 'symptom', 'eat'], num_group_sup=[0, 1],
        parallelize=True)

## Eigenvalues

In [6]:
eig = res_mfaqual.eig_
eig

        eigenvalue  difference  proportion  cumulative
Dim.1     1.455358    0.611491   26.202587   26.202587
Dim.2     0.843867    0.134476   15.193174   41.395761
Dim.3     0.709392    0.062963   12.772046   54.167807
Dim.4     0.646428    0.077603   11.638441   65.806248
Dim.5     0.568825    0.087579   10.241261   76.047509
Dim.6     0.481247    0.111016    8.664477   84.711986
Dim.7     0.370231    0.146821    6.665717   91.377703
Dim.8     0.223410    0.056158    4.022315   95.400018
Dim.9     0.167252    0.121990    3.011237   98.411255
Dim.10    0.045261    0.002280    0.814894   99.226149
Dim.11    0.042982    0.042982    0.773851  100.000000

## Individuals informations

In [7]:
ind = res_mfaqual.ind_
ind.keys()

dict_keys(['coord', 'cos2', 'contrib', 'dist', 'infos', 'coord_partiel', 'within_inertia', 'within_partial_inertia'])

### Individuals coordinates

In [8]:
ind["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.898029 -0.199683  0.105271 -0.063760 -0.246878
2  1.655044 -0.410953 -0.166068 -0.493356  1.441421
3 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
4  1.783917 -0.568569 -0.041795 -0.098292 -0.620324
5 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
6 -1.122910 -1.074409 -4.269195  3.896475  0.949817

### Individuals cos2

In [9]:
ind["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.356510  0.017627  0.004899  0.001797  0.026944
2  0.396311  0.024434  0.003990  0.035216  0.300607
3  0.506517  0.006609  0.049548  0.121162  0.034117
4  0.600826  0.061033  0.000330  0.001824  0.072650
5  0.506517  0.006609  0.049548  0.121162  0.034117
6  0.034035  0.031158  0.491954  0.409805  0.024351

### Individuals contrib

In [10]:
ind["contrib"].head(6)

      Dim.1     Dim.2      Dim.3      Dim.4     Dim.5
1  1.007508  0.085910   0.028403   0.011434  0.194815
2  3.422052  0.363872   0.070684   0.684602  6.641104
3  0.939745  0.021147   0.188593   0.506094  0.161947
4  3.975730  0.696515   0.004477   0.027174  1.229971
5  0.939745  0.021147   0.188593   0.506094  0.161947
6  1.575279  2.487155  46.713593  42.703234  2.883622

### Individuals partiel coordinates

In [11]:
ind["coord_partiel"].head(6)

           symptom                                               eat  \
             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1
rownames
1        -1.187047  0.106538  0.525875  0.540771 -0.020547 -0.609012
2         2.073822 -0.870356 -0.064761 -0.157236 -0.023960  1.236266
3        -1.125595  0.704043 -0.227189 -0.180083  0.023028 -0.609012
4         2.073822 -0.870356 -0.064761 -0.157236 -0.023960  1.494012
5        -1.125595  0.704043 -0.227189 -0.180083  0.023028 -0.609012
6        -0.593728  0.078312 -0.087217  0.312435  0.115469 -1.652092


             Dim.2     Dim.3     Dim.4     Dim.5
rownames
1        -0.505904 -0.315333 -0.668290 -0.473209
2         0.048449 -0.267375 -0.829477  2.906803
3        -0.505904 -0.315333 -0.668290 -0.473209
4        -0.266783 -0.018830 -0.039348 -1.216687
5        -0.505904 -0.315333 -0.668290 -0.473209
6        -2.227131 -8.451173  7.480516  1.784165

### Individuals within inertia

In [12]:
ind["within_inertia"].head(6)

      Dim.1     Dim.2      Dim.3      Dim.4     Dim.5
1  0.312312  0.210327   0.530616   1.228134  0.166573
2  0.655706  0.473383   0.030783   0.379664  6.982625
3  0.249437  0.820916   0.005826   0.200243  0.200187
4  0.314233  0.204280   0.001582   0.011676  1.156484
5  0.249437  0.820916   0.005826   0.200243  0.200187
6  1.047010  2.980401  52.456214  43.167298  2.263662

### Individuals within partial inertia

In [13]:
ind["within_partial_inertia"].head(6)

           symptom                                                 eat  \
             Dim.1     Dim.2      Dim.3      Dim.4     Dim.5     Dim.1
rownames
1         0.156156  0.105164   0.265308   0.614067  0.083287  0.156156
2         0.327853  0.236692   0.015392   0.189832  3.491313  0.327853
3         0.124719  0.410458   0.002913   0.100121  0.100093  0.124719
4         0.157117  0.102140   0.000791   0.005838  0.578242  0.157117
5         0.124719  0.410458   0.002913   0.100121  0.100093  0.124719
6         0.523505  1.490201  26.228107  21.583649  1.131831  0.523505


             Dim.2      Dim.3      Dim.4     Dim.5
rownames
1         0.105164   0.265308   0.614067  0.083287
2         0.236692   0.015392   0.189832  3.491313
3         0.410458   0.002913   0.100121  0.100093
4         0.102140   0.000791   0.005838  0.578242
5         0.410458   0.002913   0.100121  0.100093
6         1.490201  26.228107  21.583649  1.131831

## Qualitatives variables informations

In [14]:
quali_var = res_mfaqual.quali_var_
quali_var.keys()

dict_keys(['coord', 'cos2', 'vtest', 'dist', 'eta2', 'barycentre', 'contrib', 'coord_partiel'])

### Qualitatives variables coordinates

In [15]:
quali_var["coord"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.299556 -0.008263 -0.150880 -0.051205  0.026840
Nausea_y -1.073409  0.029610  0.540653  0.183486 -0.096178
Vomit_n   0.492305 -0.335833  0.063152  0.202490  0.033443
Vomit_y  -0.738458  0.503750 -0.094728 -0.303735 -0.050165
Abdo_n    1.459472 -0.253369 -0.026592 -0.105396 -0.031540
Abdo_y   -0.710013  0.123261  0.012937  0.051274  0.015344

### Qualitatives variables cos2

In [16]:
quali_var["cos2"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.567532  0.000432  0.143978  0.016583  0.004556
Nausea_y  0.567532  0.000432  0.143978  0.016583  0.004556
Vomit_n   0.533554  0.248288  0.008780  0.090264  0.002462
Vomit_y   0.533554  0.248288  0.008780  0.090264  0.002462
Abdo_n    0.916312  0.027616  0.000304  0.004779  0.000428
Abdo_y    0.916312  0.027616  0.000304  0.004779  0.000428

### Qualitatives variables contrib

In [17]:
quali_var["contrib"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n   1.041575  0.002357  1.112156  0.154264  0.054739
Nausea_y   3.732310  0.008447  3.985224  0.552779  0.196148
Vomit_n    2.158985  2.988263  0.149529  1.851343  0.065219
Vomit_y    3.238478  4.482394  0.224293  2.777015  0.097828
Abdo_n    10.349759  0.927763  0.014461  0.273581  0.031640
Abdo_y     5.035018  0.451344  0.007035  0.133093  0.015392

### Qualitatives variables vtest

In [18]:
quali_var["vtest"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  3.454088 -0.125128 -2.491891 -0.885922  0.495040
Nausea_y -3.454088  0.125128  2.491891  0.885922 -0.495040
Vomit_n   3.672758 -3.290251  0.674820  2.266659  0.399079
Vomit_y  -3.672758  3.290251 -0.674820 -2.266659 -0.399079
Abdo_n    6.200733 -1.413672 -0.161824 -0.671887 -0.214338
Abdo_y   -6.200733  1.413672  0.161824  0.671887  0.214338

### Qualitatives variables partiel coordinates

In [19]:
quali_var["coord_partiel"].head(6)

           symptom                                               eat  \
             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1
Nausea_n  0.397998 -0.122651 -0.127005 -0.068801  0.020528  0.201114
Nausea_y -1.426160  0.439500  0.455100  0.246538 -0.073559 -0.720657
Vomit_n   0.716438 -0.417773  0.021198  0.102559  0.023365  0.268173
Vomit_y  -1.074657  0.626659 -0.031798 -0.153839 -0.035048 -0.402259
Abdo_n    1.948162 -0.798484 -0.075732 -0.166973 -0.024229  0.970781
Abdo_y   -0.947754  0.388451  0.036842  0.081230  0.011787 -0.472272


             Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.106125 -0.174755 -0.033609  0.033153
Nausea_y -0.380281  0.626207  0.120434 -0.118798
Vomit_n  -0.253893  0.105106  0.302421  0.043521
Vomit_y   0.380840 -0.157659 -0.453631 -0.065281
Abdo_n    0.291746  0.022547 -0.043819 -0.038850
Abdo_y   -0.141930 -0.010969  0.021317  0.018900

## Group informations

In [20]:
group = res_mfaqual.group_
group.keys()

dict_keys(['coord', 'contrib', 'cos2', 'correlation', 'Lg', 'dist2', 'RV', 'coord_sup', 'dist2_sup', 'cos2_sup'])

### Group coordinates

In [21]:
group["coord"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
symptom  0.772670  0.110200  0.041883  0.044457  0.003651
eat      0.682687  0.733667  0.667509  0.601972  0.565175

### Group contributions

In [22]:
group["contrib"].head(6)

             Dim.1     Dim.2      Dim.3      Dim.4      Dim.5
symptom  53.091442  13.05893   5.904012   6.877279   0.641811
eat      46.908558  86.94107  94.095988  93.122721  99.358189

### Group cos2

In [23]:
group["cos2"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
symptom  0.533205  0.010846  0.001567  0.001765  0.000012
eat      0.165576  0.191229  0.158296  0.128738  0.113480

### Group correlation

In [24]:
group["correlation"].head(6)

            Dim.1     Dim.2    Dim.3     Dim.4     Dim.5
symptom  0.879440  0.375828  0.39214  0.410891  0.138064
eat      0.852713  0.937751  0.98934  0.986839  0.998928

### Lg

In [25]:
group["Lg"]

             desc     desc2   symptom       eat       MFA
desc     1.872521  0.731403  0.679173  0.376324  0.725249
desc2    0.731403  1.896929  0.891771  0.301170  0.819690
symptom  0.679173  0.891771  1.119681  0.295415  0.972336
eat      0.376324  0.301170  0.295415  2.814785  2.137069
MFA      0.725249  0.819690  0.972336  2.137069  2.136523

### RV

In [26]:
group["RV"]

             desc     desc2   symptom       eat       MFA
desc     1.000000  0.388077  0.469051  0.163918  0.362594
desc2    0.388077  1.000000  0.611900  0.130336  0.407165
symptom  0.469051  0.611900  1.000000  0.166404  0.628659
eat      0.163918  0.130336  0.166404  1.000000  0.871449
MFA      0.362594  0.407165  0.628659  0.871449  1.000000

### Dist2

In [27]:
group["dist2"]

symptom    1.119681
eat        2.814785
Name: dist2, dtype: float64

### Supplementary group

#### Supplementary group coordintes

In [28]:
group["coord_sup"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.631028  0.010531  0.090319  0.019718  0.003374
desc2  0.739229  0.054142  0.004757  0.007716  0.003679

#### Supplementary group dist2

In [29]:
group["dist2_sup"]

desc     1.872521
desc2    1.896929
Name: dist2, dtype: float64

#### Supplementary group cos2

In [30]:
group["cos2_sup"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.212653  0.000059  0.004356  0.000208  0.000006
desc2  0.288076  0.001545  0.000012  0.000031  0.000007

## Partial axes

In [31]:
partial_axes = res_mfaqual.partial_axes_
partial_axes.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2', 'cor_between'])

### Partial axes coordinates

In [32]:
partial_axes["coord"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.531718 -0.610640  0.643889  0.585475  0.878500 -0.039250  0.031240
Dim.2 -0.090907  0.049267 -0.041061 -0.235346 -0.280454 -0.245198  0.259145
Dim.3 -0.235092 -0.193711  0.042187 -0.056067 -0.032483  0.387441  0.045685
Dim.4  0.134663  0.041184 -0.087487 -0.008104 -0.042906  0.243240 -0.350870
Dim.5  0.049151  0.032021 -0.052835  0.030603 -0.001832 -0.042317 -0.107016

                                eat                                          \
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.077429  0.007699  0.746829 -0.033724 -0.419456  0.000524  0.004061
Dim.2  0.158463  0.031540  0.602613  0.136701  0.711745 -0.144195 -0.028005
Dim.3 -0.134917  0.090248  0.076624 -0.944205  0.157702  0.239616 -0.001464
Dim.4 -0.084929  0.036758  0.089727  0.268609  0.055406  0.938943  0.101108
Dim.5 -0.070775  0.098938  0.006002 -0.027662  0.018411 -0.103461  0.993044


          Dim.6
Dim.1  0.108357
Dim.2 -0.073707
Dim.3 -0.035066
Dim.4 -0.056936
Dim.5 -0.000315

### Partial axes cor

In [33]:
partial_axes["cor"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.531718 -0.610640  0.643889  0.585475  0.878500 -0.039250  0.031240
Dim.2 -0.090907  0.049267 -0.041061 -0.235346 -0.280454 -0.245198  0.259145
Dim.3 -0.235092 -0.193711  0.042187 -0.056067 -0.032483  0.387441  0.045685
Dim.4  0.134663  0.041184 -0.087487 -0.008104 -0.042906  0.243240 -0.350870
Dim.5  0.049151  0.032021 -0.052835  0.030603 -0.001832 -0.042317 -0.107016

                                eat                                          \
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.077429  0.007699  0.746829 -0.033724 -0.419456  0.000524  0.004061
Dim.2  0.158463  0.031540  0.602613  0.136701  0.711745 -0.144195 -0.028005
Dim.3 -0.134917  0.090248  0.076624 -0.944205  0.157702  0.239616 -0.001464
Dim.4 -0.084929  0.036758  0.089727  0.268609  0.055406  0.938943  0.101108
Dim.5 -0.070775  0.098938  0.006002 -0.027662  0.018411 -0.103461  0.993044


          Dim.6
Dim.1  0.108357
Dim.2 -0.073707
Dim.3 -0.035066
Dim.4 -0.056936
Dim.5 -0.000315

### Partial axes contrib

In [34]:
partial_axes["contrib"].head(6)

       desc       desc2          symptom                                \
      Dim.1 Dim.2 Dim.1 Dim.2      Dim.1     Dim.2     Dim.3     Dim.4
Dim.1   0.0   0.0   0.0   0.0  53.222209  0.027686  0.014643  0.020118
Dim.2   0.0   0.0   0.0   0.0   9.347792  1.861970  1.736505  0.145218
Dim.3   0.0   0.0   0.0   0.0   0.148857  5.518473  0.064063  0.124958
Dim.4   0.0   0.0   0.0   0.0   0.285433  2.390479  4.152969  0.054419
Dim.5   0.0   0.0   0.0   0.0   0.000590  0.082036  0.438052  0.042851

                       eat
          Dim.5      Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
Dim.1  0.000186  38.463748   0.053613   8.197142   0.000012   0.000643
Dim.2  0.005378  43.158192   1.518147  40.673718   1.500347   0.052733
Dim.3  0.052269   0.828283  85.974583   2.370318   4.918026   0.000171
Dim.4  0.009530   1.248259   7.646896   0.321553  82.993779   0.896683
Dim.5  0.078281   0.006333   0.091954   0.040258   1.142564  98.077079

### Partial axes cor between

In [35]:
partial_axes["cor_between"].round(4)

                 desc           desc2         symptom                          \
                Dim.1   Dim.2   Dim.1   Dim.2   Dim.1   Dim.2   Dim.3   Dim.4
desc    Dim.1  1.0000 -0.0000  0.4676  0.4018  0.5844  0.0205  0.0209  0.1035
        Dim.2 -0.0000  1.0000 -0.4303 -0.4596 -0.5874 -0.0959 -0.2371 -0.0757
desc2   Dim.1  0.4676 -0.4303  1.0000  0.0000  0.6746  0.0800  0.0776  0.0843
        Dim.2  0.4018 -0.4596  0.0000  1.0000  0.6723  0.0929  0.0826  0.1118
symptom Dim.1  0.5844 -0.5874  0.6746  0.6723  1.0000 -0.0000  0.0000 -0.0000
        Dim.2  0.0205 -0.0959  0.0800  0.0929 -0.0000  1.0000  0.0000 -0.0000
        Dim.3  0.0209 -0.2371  0.0776  0.0826  0.0000  0.0000  1.0000 -0.0000
        Dim.4  0.1035 -0.0757  0.0843  0.1118 -0.0000 -0.0000 -0.0000  1.0000
        Dim.5  0.1024 -0.0680 -0.0869  0.1407  0.0000  0.0000 -0.0000 -0.0000
eat     Dim.1  0.2749 -0.4071  0.3933  0.2279  0.3844 -0.0987  0.1098  0.1553
        Dim.2  0.2497  0.2044 -0.0656  0.0227 -0.0325 -0.2354 -0.0549  0.1258
        Dim.3 -0.1836  0.2263 -0.1718 -0.2930 -0.3746 -0.0848  0.1617  0.0132
        Dim.4  0.0864 -0.0367 -0.0693  0.0219  0.0062  0.2589 -0.2624 -0.1471
        Dim.5  0.0720  0.0210 -0.0557  0.0453  0.0052  0.0007 -0.1028 -0.0797
        Dim.6  0.1695  0.0221  0.0142  0.1746  0.1231 -0.0566  0.0320 -0.0043

                          eat
                Dim.5   Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.6
desc    Dim.1  0.1024  0.2749  0.2497 -0.1836  0.0864  0.0720  0.1695
        Dim.2 -0.0680 -0.4071  0.2044  0.2263 -0.0367  0.0210  0.0221
desc2   Dim.1 -0.0869  0.3933 -0.0656 -0.1718 -0.0693 -0.0557  0.0142
        Dim.2  0.1407  0.2279  0.0227 -0.2930  0.0219  0.0453  0.1746
symptom Dim.1  0.0000  0.3844 -0.0325 -0.3746  0.0062  0.0052  0.1231
        Dim.2  0.0000 -0.0987 -0.2354 -0.0848  0.2589  0.0007 -0.0566
        Dim.3 -0.0000  0.1098 -0.0549  0.1617 -0.2624 -0.1028  0.0320
        Dim.4 -0.0000  0.1553  0.1258  0.0132 -0.1471 -0.0797 -0.0043
        Dim.5  1.0000  0.0265 -0.0724  0.0496  0.0482  0.0938  0.0656
eat     Dim.1  0.0265  1.0000  0.0000  0.0000 -0.0000  0.0000 -0.0000
        Dim.2 -0.0724  0.0000  1.0000 -0.0000 -0.0000 -0.0000 -0.0000
        Dim.3  0.0496  0.0000 -0.0000  1.0000 -0.0000  0.0000 -0.0000
        Dim.4  0.0482 -0.0000 -0.0000 -0.0000  1.0000 -0.0000  0.0000
        Dim.5  0.0938  0.0000 -0.0000  0.0000 -0.0000  1.0000 -0.0000
        Dim.6  0.0656 -0.0000 -0.0000 -0.0000  0.0000 -0.0000  1.0000

## Inertia ratio

In [36]:
res_mfaqual.inertia_ratio_

Dim.1    0.749547
Dim.2    0.510051
Dim.3    0.539226
Dim.4    0.544376
Dim.5    0.504294
Name: inertia_ratio, dtype: float64

## Supplementary qualitatives variables

In [37]:
quali_var_sup = res_mfaqual.quali_var_sup_
quali_var_sup.keys()

dict_keys(['coord', 'cos2', 'vtest', 'dist', 'eta2', 'barycentre', 'coord_partiel'])

### Supplementary qualitatives variables coordinates

In [38]:
quali_var_sup["coord"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.568766 -0.265845 -0.011169 -0.082160 -0.018630
Sick_y -0.701817  0.118931  0.004997  0.036756  0.008334
F       0.062928  0.121518  0.057346 -0.045039 -0.043850
M      -0.065258 -0.126018 -0.059470  0.046707  0.045474

### Supplementary qualitatives variables cos2

In [39]:
quali_var_sup["cos2"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  0.924694  0.026554  0.000047  0.002536  0.000130
Sick_y  0.924694  0.026554  0.000047  0.002536  0.000130
F       0.118258  0.440988  0.098211  0.060579  0.057424
M       0.118258  0.440988  0.098211  0.060579  0.057424

### Supplementary qualitatives variables vtest

In [40]:
quali_var_sup["vtest"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  6.391502 -1.422396 -0.065179 -0.502264 -0.121408
Sick_y -6.391502  1.422396  0.065179  0.502264  0.121408
F       0.390347  0.989911  0.509515 -0.419200 -0.435088
M      -0.390347 -0.989911 -0.509515  0.419200  0.435088

### Supplementary qualitatives variables partiel coordinates

In [41]:
quali_var_sup["coord_partiel"]

         symptom                                               eat            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Sick_n  2.073822 -0.870356 -0.064761 -0.157236 -0.023960  1.063711  0.338666
Sick_y -0.927763  0.389370  0.028972  0.070342  0.010719 -0.475870 -0.151509
F       0.020694 -0.008723 -0.004164 -0.002780 -0.001457  0.105161  0.251758
M      -0.021461  0.009046  0.004319  0.002883  0.001511 -0.109056 -0.261082


           Dim.3     Dim.4     Dim.5
Sick_n  0.042423 -0.007085 -0.013299
Sick_y -0.018979  0.003170  0.005950
F       0.118857 -0.087297 -0.086243
M      -0.123259  0.090531  0.089438

## Supplementary quantitatives variables

In [42]:
quanti_var_sup = res_mfaqual.quanti_var_sup_
quanti_var_sup.keys()

dict_keys(['coord', 'cor', 'cos2', 'weighted_corr'])

### Supplementary quantitatives variables coordinates

In [43]:
quanti_var_sup["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.042032 -0.031129 -0.303664  0.125451  0.057596
Time -0.806701  0.099605  0.034424 -0.068209 -0.013089

### Supplementary quantitatives variables cos2

In [44]:
quanti_var_sup["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.001767  0.000969  0.092212  0.015738  0.003317
Time  0.650766  0.009921  0.001185  0.004652  0.000171

### Supplementary quantitatives variables cor

In [45]:
quanti_var_sup["cor"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.042032 -0.031129 -0.303664  0.125451  0.057596
Time -0.806701  0.099605  0.034424 -0.068209 -0.013089

## Summary

In [46]:
res_mfaqual.summary_quali_

    group    variable    modalite  effectif
0       2      Nausea    Nausea_n        43
1       2      Nausea    Nausea_y        12
2       2    Vomiting     Vomit_n        33
3       2    Vomiting     Vomit_y        22
4       2  Abdominals      Abdo_y        37
5       2  Abdominals      Abdo_n        18
6       2       Fever     Fever_y        35
7       2       Fever     Fever_n        20
8       2    Diarrhae  Diarrhea_y        35
9       2    Diarrhae  Diarrhea_n        20
10      3      Potato    Potato_y        52
11      3      Potato    Potato_n         3
12      3        Fish      Fish_y        54
13      3        Fish      Fish_n         1
14      3        Mayo      Mayo_y        45
15      3        Mayo      Mayo_n        10
16      3   Courgette     Courg_y        50
17      3   Courgette     Courg_n         5
18      3      Cheese    Cheese_y        48
19      3      Cheese    Cheese_n         7
20      3    Icecream  Icecream_y        51
21      3    Icecream  Icecream_n         4

### Summary quantitatives variables

In [47]:
res_mfaqual.summary_quanti_

    group    variable    modalite  effectif
0       2      Nausea    Nausea_n        43
1       2      Nausea    Nausea_y        12
2       2    Vomiting     Vomit_n        33
3       2    Vomiting     Vomit_y        22
4       2  Abdominals      Abdo_y        37
5       2  Abdominals      Abdo_n        18
6       2       Fever     Fever_y        35
7       2       Fever     Fever_n        20
8       2    Diarrhae  Diarrhea_y        35
9       2    Diarrhae  Diarrhea_n        20
10      3      Potato    Potato_y        52
11      3      Potato    Potato_n         3
12      3        Fish      Fish_y        54
13      3        Fish      Fish_n         1
14      3        Mayo      Mayo_y        45
15      3        Mayo      Mayo_n        10
16      3   Courgette     Courg_y        50
17      3   Courgette     Courg_n         5
18      3      Cheese    Cheese_y        48
19      3      Cheese    Cheese_n         7
20      3    Icecream  Icecream_y        51
21      3    Icecream  Icecream_n         4
22      3        Sick      Sick_y        38
23      3        Sick      Sick_n        17
24      3         Sex           F        28
25      3         Sex           M        27

## Methods

### fit transform

In [48]:
##
res_mfaqual.fit_transform(poison).iloc[:6,:]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.898029 -0.199683  0.105271 -0.063760 -0.246878
2  1.655044 -0.410953 -0.166068 -0.493356  1.441421
3 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
4  1.783917 -0.568569 -0.041795 -0.098292 -0.620324
5 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
6 -1.122910 -1.074409 -4.269195  3.896475  0.949817

## Transform

In [49]:
result = pyreadr.read_r('./data/poison.rda')
poison = result["poison"]
active = poison.iloc[:,4:]
res_mfaqual.transform(active).iloc[:6,:]

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.898029 -0.199683  0.105271 -0.063760 -0.246878
2  1.655044 -0.410953 -0.166068 -0.493356  1.441421
3 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
4  1.783917 -0.568569 -0.041795 -0.098292 -0.620324
5 -0.867304  0.099070 -0.271261 -0.424187 -0.225090
6 -1.122910 -1.074409 -4.269195  3.896475  0.949817

## Extraction

In [50]:
from scientisttools import get_mfa, get_eig, summaryMFAQUAL
eig = get_eig(res_mfaqual)
ind = get_mfa(res_mfaqual,choice="ind")
quali_var = get_mfa(res_mfaqual,choice="quali_var")
quanti_var_sup = get_mfa(res_mfaqual,choice="quanti_var")
groups = get_mfa(res_mfaqual,choice="group")
partial_axes = get_mfa(res_mfaqual,choice = "partial_axes")

In [51]:
summaryMFAQUAL(res_mfaqual)

                  Multiple Factor Analysis for Qualitatives Variables - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.455   0.844   0.709   0.646   0.569
Difference                0.611   0.134   0.063   0.078   0.088
% of var.                26.203  15.193  12.772  11.638  10.241
Cumulative of % of var.  26.203  41.396  54.168  65.806  76.048

Groups

         dist2  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
symptom  1.120  0.773  53.091  0.533  0.110  13.059  0.011  0.042   5.904
eat      2.815  0.683  46.909  0.166  0.734  86.941  0.191  0.668  94.096

          cos2
symptom  0.002
eat      0.158

Supplementary groups

       dist2  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
desc   1.873  0.631  0.213  0.011  0.000  0.090  0.004
desc2  1.897  0.739  0.288  0.054  0.002  0.005  0.000

Individuals (the 10 first)

     dist  weight  inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
1   1.504   0.018    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018  0.105
2   2.629   0.018    0.126  1.655  3.422  0.396 -0.411  0.364  0.024 -0.166
3   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
4   2.301   0.018    0.096  1.784  3.976  0.601 -0.569  0.697  0.061 -0.042
5   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
6   6.087   0.018    0.674 -1.123  1.575  0.034 -1.074  2.487  0.031 -4.269
7   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
8   1.589   0.018    0.046 -1.164  1.693  0.537  0.113  0.028  0.005  0.035
9   1.504   0.018    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018  0.105
10  1.407   0.018    0.036 -0.399  0.198  0.080 -0.041  0.004  0.001 -0.289

       ctr   cos2
1    0.028  0.005
2    0.071  0.004
3    0.189  0.050
4    0.004  0.000
5    0.189  0.050
6   46.714  0.492
7    0.189  0.050
8    0.003  0.000
9    0.028  0.005
10   0.214  0.042

Categories (the 10 first)

            Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3    ctr   cos2
Nausea_n    0.300   1.042  0.568 -0.008  0.002  0.000 -0.151  1.112  0.144
Nausea_y   -1.073   3.732  0.568  0.030  0.008  0.000  0.541  3.985  0.144
Vomit_n     0.492   2.159  0.534 -0.336  2.988  0.248  0.063  0.150  0.009
Vomit_y    -0.738   3.238  0.534  0.504  4.482  0.248 -0.095  0.224  0.009
Abdo_n      1.459  10.350  0.916 -0.253  0.928  0.028 -0.027  0.014  0.000
Abdo_y     -0.710   5.035  0.916  0.123  0.451  0.028  0.013  0.007  0.000
Fever_n     1.257   8.532  0.860 -0.328  1.731  0.059  0.094  0.199  0.005
Fever_y    -0.718   4.876  0.860  0.188  0.989  0.059 -0.054  0.114  0.005
Diarrhea_n  1.290   8.990  0.888 -0.242  0.940  0.031 -0.052  0.062  0.001
Diarrhea_y -0.737   5.137  0.888  0.138  0.537  0.031  0.030  0.036  0.001

Categories eta2 (the 10 first)

            Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Nausea      0.221  0.000  0.115  0.015  0.005
Vomiting    0.250  0.200  0.008  0.095  0.003
Abdominals  0.712  0.037  0.000  0.008  0.001
Fever       0.621  0.073  0.007  0.003  0.000
Diarrhae    0.654  0.040  0.002  0.021  0.003
Potato      0.064  0.174  0.455  0.162  0.092
Fish        0.016  0.025  0.476  0.435  0.029
Mayo        0.543  0.004  0.005  0.022  0.027
Courgette   0.002  0.622  0.005  0.001  0.136
Cheese      0.312  0.016  0.000  0.001  0.410

Supplementary categories

         dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Sick_n  1.631  1.569  0.925 -0.266  0.027 -0.011  0.000
Sick_y  0.730 -0.702  0.925  0.119  0.027  0.005  0.000
F       0.183  0.063  0.118  0.122  0.441  0.057  0.098
M       0.190 -0.065  0.118 -0.126  0.441 -0.059  0.098

Supplementary categories (eta2)

      Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Sick  0.757  0.037  0.000  0.005  0.000
Sex   0.003  0.018  0.005  0.003  0.004

Supplementary Continuous variables

      Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Age  -0.042  0.002 -0.031  0.001 -0.304  0.092
Time -0.807  0.651  0.100  0.010  0.034  0.001

In [52]:
res_mfaqual2 = MFAQUAL(group=[1]*4+[5,6],group_type=["s"]*2+["n"]*4,var_weights_mfa=None,num_group_sup=[0,1,2,3],parallelize=True)
res_mfaqual2.fit(poison)

MFAQUAL(group=[1, 1, 1, 1, 5, 6], group_type=['s', 's', 'n', 'n', 'n', 'n'],
        num_group_sup=[0, 1, 2, 3], parallelize=True)

In [53]:
summaryMFAQUAL(res_mfaqual2)

                  Multiple Factor Analysis for Qualitatives Variables - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.455   0.844   0.709   0.646   0.569
Difference                0.611   0.134   0.063   0.078   0.088
% of var.                26.203  15.193  12.772  11.638  10.241
Cumulative of % of var.  26.203  41.396  54.168  65.806  76.048

Groups

     dist2  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr   cos2
Gr5  1.120  0.773  53.091  0.533  0.110  13.059  0.011  0.042   5.904  0.002
Gr6  2.815  0.683  46.909  0.166  0.734  86.941  0.191  0.668  94.096  0.158

Supplementary groups

     dist2  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Gr1    1.0  0.002  0.000  0.001  0.000  0.092  0.009
Gr2    1.0  0.651  0.423  0.010  0.000  0.001  0.000
Gr3    1.0  0.757  0.572  0.037  0.001  0.000  0.000
Gr4    1.0  0.003  0.000  0.018  0.000  0.005  0.000

Individuals (the 10 first)

     dist  weight  inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
1   1.504   0.018    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018  0.105
2   2.629   0.018    0.126  1.655  3.422  0.396 -0.411  0.364  0.024 -0.166
3   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
4   2.301   0.018    0.096  1.784  3.976  0.601 -0.569  0.697  0.061 -0.042
5   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
6   6.087   0.018    0.674 -1.123  1.575  0.034 -1.074  2.487  0.031 -4.269
7   1.219   0.018    0.027 -0.867  0.940  0.507  0.099  0.021  0.007 -0.271
8   1.589   0.018    0.046 -1.164  1.693  0.537  0.113  0.028  0.005  0.035
9   1.504   0.018    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018  0.105
10  1.407   0.018    0.036 -0.399  0.198  0.080 -0.041  0.004  0.001 -0.289

       ctr   cos2
1    0.028  0.005
2    0.071  0.004
3    0.189  0.050
4    0.004  0.000
5    0.189  0.050
6   46.714  0.492
7    0.189  0.050
8    0.003  0.000
9    0.028  0.005
10   0.214  0.042

Categories (the 10 first)

            Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3    ctr   cos2
Nausea_n    0.300   1.042  0.568 -0.008  0.002  0.000 -0.151  1.112  0.144
Nausea_y   -1.073   3.732  0.568  0.030  0.008  0.000  0.541  3.985  0.144
Vomit_n     0.492   2.159  0.534 -0.336  2.988  0.248  0.063  0.150  0.009
Vomit_y    -0.738   3.238  0.534  0.504  4.482  0.248 -0.095  0.224  0.009
Abdo_n      1.459  10.350  0.916 -0.253  0.928  0.028 -0.027  0.014  0.000
Abdo_y     -0.710   5.035  0.916  0.123  0.451  0.028  0.013  0.007  0.000
Fever_n     1.257   8.532  0.860 -0.328  1.731  0.059  0.094  0.199  0.005
Fever_y    -0.718   4.876  0.860  0.188  0.989  0.059 -0.054  0.114  0.005
Diarrhea_n  1.290   8.990  0.888 -0.242  0.940  0.031 -0.052  0.062  0.001
Diarrhea_y -0.737   5.137  0.888  0.138  0.537  0.031  0.030  0.036  0.001

Categories eta2 (the 10 first)

            Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Nausea      0.221  0.000  0.115  0.015  0.005
Vomiting    0.250  0.200  0.008  0.095  0.003
Abdominals  0.712  0.037  0.000  0.008  0.001
Fever       0.621  0.073  0.007  0.003  0.000
Diarrhae    0.654  0.040  0.002  0.021  0.003
Potato      0.064  0.174  0.455  0.162  0.092
Fish        0.016  0.025  0.476  0.435  0.029
Mayo        0.543  0.004  0.005  0.022  0.027
Courgette   0.002  0.622  0.005  0.001  0.136
Cheese      0.312  0.016  0.000  0.001  0.410

Supplementary categories

         dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Sick_n  1.631  1.569  0.925 -0.266  0.027 -0.011  0.000
Sick_y  0.730 -0.702  0.925  0.119  0.027  0.005  0.000
F       0.183  0.063  0.118  0.122  0.441  0.057  0.098
M       0.190 -0.065  0.118 -0.126  0.441 -0.059  0.098

Supplementary categories (eta2)

      Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Sick  0.757  0.037  0.000  0.005  0.000
Sex   0.003  0.018  0.005  0.003  0.004

Supplementary Continuous variables

      Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Age  -0.042  0.002 -0.031  0.001 -0.304  0.092
Time -0.807  0.651  0.100  0.010  0.034  0.001