# Partial PCA

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import os
os.chdir("d:/Bureau/PythonProject/packages/scientisttools/data/")

# Chargement des données
import pandas as pd
D = pd.read_excel("Data_Methodes_Factorielles.xlsx",index_col=0,sheet_name="DATA_ACP_ACTIF")
D.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Alfasud TI to Lada 1300
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CYL     18 non-null     int64
 1   PUISS   18 non-null     int64
 2   LONG    18 non-null     int64
 3   LARG    18 non-null     int64
 4   POIDS   18 non-null     int64
 5   VMAX    18 non-null     int64
dtypes: int64(6)
memory usage: 1008.0+ bytes

In [3]:
from scientisttools import PartialPCA
res_partialpca = PartialPCA(n_components=None,standardize=True,partial=["CYL"],parallelize=False)
res_partialpca.fit(D)

PartialPCA(partial=['CYL'])

## fit transform

In [4]:
res_partialpca.fit_transform(D).iloc[:6,:]

                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Alfasud TI      -1.921062  2.158496  0.660509  0.453213  0.103214
Audi 100         3.116529 -0.815886  1.581323 -0.204197 -0.514384
Simca 1300       1.132429 -0.438785  0.303239  0.536789  0.395646
Citroen GS Club -0.797750 -0.064210  0.180575 -0.294782  0.416335
Fiat 132         0.802569  1.373142 -0.679642 -0.468798 -0.041395
Lancia Beta      2.135040  0.751805  0.232398  0.576650  0.289279

## transform

In [5]:
res_partialpca.transform(D).iloc[:6,:]

                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Modele
Alfasud TI      -1.921062  2.158496  0.660509  0.453213  0.103214
Audi 100         3.116529 -0.815886  1.581323 -0.204197 -0.514384
Simca 1300       1.132429 -0.438785  0.303239  0.536789  0.395646
Citroen GS Club -0.797750 -0.064210  0.180575 -0.294782  0.416335
Fiat 132         0.802569  1.373142 -0.679642 -0.468798 -0.041395
Lancia Beta      2.135040  0.751805  0.232398  0.576650  0.289279

## Eigenvalues

In [6]:
res_partialpca.eig_

       eigenvalue  difference  proportion  cumulative
Dim.1    2.401058    0.787887   48.021166   48.021166
Dim.2    1.613171    0.914485   32.263420   80.284586
Dim.3    0.698686    0.515194   13.973729   94.258316
Dim.4    0.183493    0.079901    3.669851   97.928167
Dim.5    0.103592         NaN    2.071833  100.000000

## Individuals informations

In [7]:
ind = res_partialpca.ind_
ind.keys()

dict_keys(['coord', 'cos2', 'contrib', 'dist', 'infos'])

### Individuals coordinates

In [8]:
ind["coord"].head(6)

                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Alfasud TI      -1.921062  2.158496  0.660509  0.453213  0.103214
Audi 100         3.116529 -0.815886  1.581323 -0.204197 -0.514384
Simca 1300       1.132429 -0.438785  0.303239  0.536789  0.395646
Citroen GS Club -0.797750 -0.064210  0.180575 -0.294782  0.416335
Fiat 132         0.802569  1.373142 -0.679642 -0.468798 -0.041395
Lancia Beta      2.135040  0.751805  0.232398  0.576650  0.289279

### Individuals cos2

In [9]:
ind["cos2"].head(6)

                    Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Alfasud TI       0.409966  0.517568  0.048464  0.022818  0.001183
Audi 100         0.736635  0.050486  0.189649  0.003162  0.020067
Simca 1300       0.637513  0.095713  0.045713  0.143243  0.077818
Citroen GS Club  0.681838  0.004417  0.034935  0.093100  0.185709
Fiat 132         0.200470  0.586834  0.143762  0.068400  0.000533
Lancia Beta      0.814898  0.101042  0.009655  0.059445  0.014960

### Individuals contributions

In [10]:
ind["contrib"].head(6)

                     Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
Alfasud TI        8.539015  16.045367   3.468988   6.218914   0.571322
Audi 100         22.473309   2.292483  19.883191   1.262430  14.189847
Simca 1300        2.967199   0.663057   0.731163   8.724009   8.394900
Citroen GS Club   1.472509   0.014199   0.259273   2.630943   9.295820
Fiat 132          1.490356   6.493485   3.672867   6.653972   0.091897
Lancia Beta      10.547194   1.946512   0.429448  10.067786   4.487818

### Additionals informations

In [11]:
ind["infos"].head(6)

                     dist    weight   inertia
Alfasud TI       3.000319  0.055556  0.500106
Audi 100         3.631155  0.055556  0.732516
Simca 1300       1.418294  0.055556  0.111753
Citroen GS Club  0.966108  0.055556  0.051854
Fiat 132         1.792494  0.055556  0.178502
Lancia Beta      2.365127  0.055556  0.310768

## Variables informations

In [12]:
var = res_partialpca.var_
var.keys()

dict_keys(['coord', 'cor', 'cos2', 'contrib', 'weighted_corr', 'infos'])

### Variables coordinates

In [13]:
var["coord"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
PUISS  0.485409  0.799845 -0.285912  0.078113 -0.191778
LONG   0.902818 -0.267219  0.068446 -0.323900 -0.062589
LARG   0.777337 -0.271323  0.514130  0.235738 -0.047217
POIDS  0.828523 -0.185540 -0.487384  0.107549  0.173248
VMAX   0.244240  0.891051  0.332239 -0.073077  0.175075

### Variables cos2

In [14]:
var["cos2"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
PUISS  0.235622  0.639752  0.081746  0.006102  0.036779
LONG   0.815080  0.071406  0.004685  0.104911  0.003917
LARG   0.604252  0.073616  0.264330  0.055572  0.002229
POIDS  0.686450  0.034425  0.237543  0.011567  0.030015
VMAX   0.059653  0.793973  0.110383  0.005340  0.030651

### Variables contrib

In [15]:
var["contrib"].head(6)

           Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
PUISS   9.813268  39.658011  11.699931   3.325306  35.503484
LONG   33.946708   4.426437   0.670532  57.174795   3.781528
LARG   25.166075   4.563429  37.832439  30.285887   2.152169
POIDS  28.589489   2.133992  33.998512   6.303686  28.974322
VMAX    2.484460  49.218131  15.798586   2.910326  29.588496

## Others informations

In [16]:
others = res_partialpca.others_
others.keys()

dict_keys(['weighted_corr', 'global_kmo', 'kmo_per_var', 'partial_corr', 'coef', 'normalized_coef', 'metrics'])

### Weighted correlation

In [17]:
others["weighted_corr"]

            CYL     PUISS      LONG      LARG     POIDS      VMAX
CYL    1.000000  0.796628  0.701462  0.629757  0.788952  0.664934
PUISS  0.796628  1.000000  0.641362  0.520832  0.765293  0.844379
LONG   0.701462  0.641362  1.000000  0.849266  0.868090  0.475928
LARG   0.629757  0.520832  0.849266  1.000000  0.716874  0.472945
POIDS  0.788952  0.765293  0.868090  0.716874  1.000000  0.477596
VMAX   0.664934  0.844379  0.475928  0.472945  0.477596  1.000000

### Partial correlation

In [18]:
others["partial_corr"]

            CYL     PUISS      LONG      LARG     POIDS      VMAX
CYL    1.000000  0.107081 -0.059944  0.109058  0.320078  0.189489
PUISS  0.107081  1.000000 -0.083218 -0.334079  0.652087  0.841449
LONG  -0.059944 -0.083218  1.000000  0.581624  0.529678  0.090026
LARG   0.109058 -0.334079  0.581624  1.000000  0.126883  0.330532
POIDS  0.320078  0.652087  0.529678  0.126883  1.000000 -0.610662
VMAX   0.189489  0.841449  0.090026  0.330532 -0.610662  1.000000

### KMO

In [19]:
others["global_kmo"]

0.7400088239713859

### KMO per variables

In [20]:
others["kmo_per_var"]

CYL      0.939956
PUISS    0.674346
LONG     0.803384
LARG     0.783650
POIDS    0.693091
VMAX     0.597664
Name: KMO, dtype: float64

### Coefficients

In [21]:
others["coef"]

               PUISS        LONG        LARG       POIDS        VMAX
intercept  13.780395  365.832168  152.064726  607.336582  123.052678
CYL         0.043410    0.041472    0.008949    0.288966    0.021588

### Others coefficients

In [22]:
others["normalized_coef"]

        PUISS      LONG      LARG     POIDS      VMAX
CYL  0.796628  0.701462  0.629757  0.788952  0.664934

### Metrics (RMSE - R2)

In [23]:
others["metrics"]

       rsquared       rmse
PUISS  0.634616  11.969832
LONG   0.492049  15.312145
LARG   0.396594   4.011337
POIDS  0.622445  81.783359
VMAX   0.442137   8.812198

In [24]:
from scientisttools import get_partialpca,get_eig,summaryPartialPCA
eig = get_eig(res_partialpca)
ind = get_partialpca(res_partialpca,choice="ind")
var = get_partialpca(res_partialpca,choice = "var")

In [25]:
summaryPartialPCA(res_partialpca)

                     Partial Principal Component Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4    Dim.5
Variance                  2.401   1.613   0.699   0.183    0.104
Difference                0.788   0.914   0.515   0.080      NaN
% of var.                48.021  32.263  13.974   3.670    2.072
Cumulative of % of var.  48.021  80.285  94.258  97.928  100.000

Individuals (the 10 first)

                  dist  weight  inertia  Dim.1     ctr   cos2  Dim.2     ctr  \
Alfasud TI       3.000   0.056    0.500 -1.921   8.539  0.410  2.158  16.045
Audi 100         3.631   0.056    0.733  3.117  22.473  0.737 -0.816   2.292
Simca 1300       1.418   0.056    0.112  1.132   2.967  0.638 -0.439   0.663
Citroen GS Club  0.966   0.056    0.052 -0.798   1.473  0.682 -0.064   0.014
Fiat 132         1.792   0.056    0.179  0.803   1.490  0.200  1.373   6.493
Lancia Beta      2.365   0.056    0.311  2.135  10.547  0.815  0.752   1.947
Peugeot 504      1.568   0.056    0.137  0.185   0.079  0.014 -1.519   7.946
Renault 16 TL    3.127   0.056    0.543 -1.965   8.931  0.395 -2.402  19.863
Renault 30       1.885   0.056    0.197 -1.709   6.761  0.823  0.471   0.764
Toyota Corolla   2.617   0.056    0.381 -2.504  14.506  0.915 -0.417   0.598

                  cos2  Dim.3     ctr   cos2
Alfasud TI       0.518  0.661   3.469  0.048
Audi 100         0.050  1.581  19.883  0.190
Simca 1300       0.096  0.303   0.731  0.046
Citroen GS Club  0.004  0.181   0.259  0.035
Fiat 132         0.587 -0.680   3.673  0.144
Lancia Beta      0.101  0.232   0.429  0.010
Peugeot 504      0.938 -0.050   0.020  0.001
Renault 16 TL    0.590 -0.149   0.177  0.002
Renault 30       0.062 -0.153   0.186  0.007
Toyota Corolla   0.025 -0.105   0.088  0.002

Continues variables

       dist  weight  inertia  Dim.1     ctr   cos2  Dim.2     ctr   cos2  \
PUISS   1.0     1.0      1.0  0.485   9.813  0.236  0.800  39.658  0.640
LONG    1.0     1.0      1.0  0.903  33.947  0.815 -0.267   4.426  0.071
LARG    1.0     1.0      1.0  0.777  25.166  0.604 -0.271   4.563  0.074
POIDS   1.0     1.0      1.0  0.829  28.589  0.686 -0.186   2.134  0.034
VMAX    1.0     1.0      1.0  0.244   2.484  0.060  0.891  49.218  0.794

       Dim.3     ctr   cos2
PUISS -0.286  11.700  0.082
LONG   0.068   0.671  0.005
LARG   0.514  37.832  0.264
POIDS -0.487  33.999  0.238
VMAX   0.332  15.799  0.110