# PCAMIX

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_wine
wine = load_wine()
wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 2EL  to T2
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Label                          21 non-null     category
 1   Soil                           21 non-null     category
 2   Odor.Intensity.before.shaking  21 non-null     float64
 3   Aroma.quality.before.shaking   21 non-null     float64
 4   Fruity.before.shaking          21 non-null     float64
 5   Flower.before.shaking          21 non-null     float64
 6   Spice.before.shaking           21 non-null     float64
 7   Visual.intensity               21 non-null     float64
 8   Nuance                         21 non-null     float64
 9   Surface.feeling                21 non-null     float64
 10  Odor.Intensity                 21 non-null     float64
 11  Quality.of.odour               21 non-null     float64
 12  Fruity                         21 non-null     float64
 13  Flower                         21 non-null     float64
 14  Spice                          21 non-null     float64
 15  Plante                         21 non-null     float64
 16  Phenolic                       21 non-null     float64
 17  Aroma.intensity                21 non-null     float64
 18  Aroma.persistency              21 non-null     float64
 19  Aroma.quality                  21 non-null     float64
 20  Attack.intensity               21 non-null     float64
 21  Acidity                        21 non-null     float64
 22  Astringency                    21 non-null     float64
 23  Alcohol                        21 non-null     float64
 24  Balance                        21 non-null     float64
 25  Smooth                         21 non-null     float64
 26  Bitterness                     21 non-null     float64
 27  Intensity                      21 non-null     float64
 28  Harmony                        21 non-null     float64
 29  Overall.quality                21 non-null     float64
 30  Typical                        21 non-null     float64
dtypes: category(2), float64(29)
memory usage: 5.3+ KB

In [3]:
from scientisttools import splitmix
X_quanti = splitmix(wine)["quanti"]
X_quali = splitmix(wine)["quali"]

## PCA with PCA and PCAMIX

In [4]:
from scientisttools import PCAMIX, PCA, MCA, FAMD
# PCA with PCAMIX
pca_pcamix = PCAMIX(n_components=2,quali_sup=[0,1]).fit(wine)
# PCA with PCA
pca_pca = PCA(n_components=2,quali_sup=[0,1]).fit(wine)

### Eigenvalues

In [5]:
# Eigenvalues with PCA
pca_pca.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1   15.049891    9.578082   51.896177   51.896177
Dim.2    5.471810    3.454656   18.868310   70.764487
Dim.3    2.017153    0.657591    6.955701   77.720188
Dim.4    1.359562    0.258270    4.688146   82.408334
Dim.5    1.101292    0.285672    3.797559   86.205893
Dim.6    0.815620    0.031304    2.812482   89.018376

In [6]:
# Eigenvalues with PCAMIX
pca_pcamix.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1   15.049891    9.578082   51.896177   51.896177
Dim.2    5.471810    3.454656   18.868310   70.764487
Dim.3    2.017153    0.657591    6.955701   77.720188
Dim.4    1.359562    0.258270    4.688146   82.408334
Dim.5    1.101292    0.285672    3.797559   86.205893
Dim.6    0.815620    0.031304    2.812482   89.018376

### Individuals

#### Coordinates

In [7]:
# Coordinates with PCA
pca_pca.ind_["coord"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.258595 -1.674157
1CHA     -3.534399 -2.943770
1FON     -1.691259 -1.804182
1VAU     -9.405279  1.498490
1DAM      5.002900  0.044303
2BOU      2.301510 -0.684421

In [8]:
# Coordinates with PCAMIX
pca_pcamix.ind_["coord"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.258595 -1.674157
1CHA     -3.534399 -2.943770
1FON     -1.691259 -1.804182
1VAU     -9.405279  1.498490
1DAM      5.002900  0.044303
2BOU      2.301510 -0.684421

#### Contributions

In [9]:
# Contributions with PCA
pca_pca.ind_["contrib"].head(6)

              Dim.1     Dim.2
rownames
2EL        0.021159  2.439171
1CHA       3.952560  7.541496
1FON       0.905039  2.832765
1VAU      27.989215  1.954148
1DAM       7.919378  0.001708
2BOU       1.675997  0.407659

In [10]:
# Contributions with PCAMIX
pca_pcamix.ind_["contrib"].head(6)

              Dim.1     Dim.2
rownames
2EL        0.021159  2.439171
1CHA       3.952560  7.541496
1FON       0.905039  2.832765
1VAU      27.989215  1.954148
1DAM       7.919378  0.001708
2BOU       1.675997  0.407659

#### Cos2

In [11]:
# Cos2 with PCA
pca_pca.ind_["cos2"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.004792  0.200830
1CHA      0.360873  0.250341
1FON      0.177092  0.201530
1VAU      0.885760  0.022484
1DAM      0.753348  0.000059
2BOU      0.373777  0.033055

In [12]:
# Cos2 with PCAMIX
pca_pcamix.ind_["cos2"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.004792  0.200830
1CHA      0.360873  0.250341
1FON      0.177092  0.201530
1VAU      0.885760  0.022484
1DAM      0.753348  0.000059
2BOU      0.373777  0.033055

### Variables

#### Coordinates

In [13]:
# coordinates with PCA
pca_pca.var_["coord"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.472347  0.739186
Aroma.quality.before.shaking   0.804932  0.040927
Fruity.before.shaking          0.680186 -0.038002
Flower.before.shaking          0.473859 -0.312723
Spice.before.shaking          -0.051836  0.801735
Visual.intensity               0.844884  0.332235

In [14]:
# Coordinates with PCAMIX
pca_pcamix.quanti_var_["coord"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.472347  0.739186
Aroma.quality.before.shaking   0.804932  0.040927
Fruity.before.shaking          0.680186 -0.038002
Flower.before.shaking          0.473859 -0.312723
Spice.before.shaking          -0.051836  0.801735
Visual.intensity               0.844884  0.332235

#### Contributions

In [15]:
# contributions with PCA
pca_pca.var_["contrib"].head(6)

                                  Dim.1      Dim.2
Odor.Intensity.before.shaking  1.482483   9.985640
Aroma.quality.before.shaking   4.305114   0.030612
Fruity.before.shaking          3.074129   0.026393
Flower.before.shaking          1.491989   1.787266
Spice.before.shaking           0.017853  11.747098
Visual.intensity               4.743081   2.017245

In [16]:
# Contributions with PCAMIX
pca_pcamix.quanti_var_["contrib"].head(6)

                                  Dim.1      Dim.2
Odor.Intensity.before.shaking  1.482483   9.985640
Aroma.quality.before.shaking   4.305114   0.030612
Fruity.before.shaking          3.074129   0.026393
Flower.before.shaking          1.491989   1.787266
Spice.before.shaking           0.017853  11.747098
Visual.intensity               4.743081   2.017245

#### Cos2

In [17]:
# Cos2 with PCA
pca_pca.var_["cos2"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.223112  0.546395
Aroma.quality.before.shaking   0.647915  0.001675
Fruity.before.shaking          0.462653  0.001444
Flower.before.shaking          0.224543  0.097796
Spice.before.shaking           0.002687  0.642779
Visual.intensity               0.713829  0.110380

In [18]:
# Cos2 with PCAMIX
pca_pcamix.quanti_var_["cos2"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.223112  0.546395
Aroma.quality.before.shaking   0.647915  0.001675
Fruity.before.shaking          0.462653  0.001444
Flower.before.shaking          0.224543  0.097796
Spice.before.shaking           0.002687  0.642779
Visual.intensity               0.713829  0.110380

### Supplementary qualitatives 

#### coordinates

In [19]:
# Coordinates with PCA
pca_pca.quali_sup_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.534290 -1.269377
Chinon     -1.672583 -0.342947
Saumur      0.899643  0.817095
Env1       -1.720421 -1.169033
Env2       -1.619232  0.334942
Env4       -0.943122  6.234275

In [20]:
# Coordinates with PCAMIX
pca_pcamix.quali_sup_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.534290 -1.269377
Chinon     -1.672583 -0.342947
Saumur      0.899643  0.817095
Env1       -1.720421 -1.169033
Env2       -1.619232  0.334942
Env4       -0.943122  6.234275

#### Cos2

In [21]:
# Cos2 with PCA
pca_pca.quali_sup_["cos2"].head(6)

               Dim.1     Dim.2
Bourgueuil  0.079218  0.447150
Chinon      0.518064  0.021780
Saumur      0.381812  0.314960
Env1        0.520961  0.240541
Env2        0.581353  0.024875
Env4        0.021758  0.950729

In [22]:
# Cos2 with PCAMIX
pca_pcamix.quali_sup_["cos2"].head(6)

               Dim.1     Dim.2
Bourgueuil  0.079218  0.447150
Chinon      0.518064  0.021780
Saumur      0.381812  0.314960
Env1        0.520961  0.240541
Env2        0.581353  0.024875
Env4        0.021758  0.950729

#### Vtest

In [23]:
# vtest with PCA
pca_pca.quali_sup_["vtest"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.389543 -1.534865
Chinon     -0.935280 -0.318040
Saumur      1.087714  1.638395
Env1       -1.402388 -1.580379
Env2       -1.043476  0.357968
Env4       -0.352740  3.866995

In [24]:
pca_pcamix.quali_sup_["vtest"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.389543 -1.534865
Chinon     -0.935280 -0.318040
Saumur      1.087714  1.638395
Env1       -1.402388 -1.580379
Env2       -1.043476  0.357968
Env4       -0.352740  3.866995

#### Eta2

In [25]:
# Eta2 with PCA
pca_pca.quali_sup_["eta2"].head(6)

          Dim.1     Dim.2
Label  0.068995  0.152143
Soil   0.331943  0.808771

In [26]:
# Eta2 with PCAMIX
pca_pcamix.quali_sup_["eta2"].head(6)

          Dim.1     Dim.2
Label  0.068995  0.152143
Soil   0.331943  0.808771

### Projection of supplementary individuals

In [27]:
pca_pca.transform(X_quanti).head(6)

             Dim.1     Dim.2
rownames
2EL       0.258595 -1.674157
1CHA     -3.534399 -2.943770
1FON     -1.691259 -1.804182
1VAU     -9.405279  1.498490
1DAM      5.002900  0.044303
2BOU      2.301510 -0.684421

In [28]:
pca_pcamix.transform(X_quanti).head(6)

             Dim.1     Dim.2
rownames
2EL       0.258595 -1.674157
1CHA     -3.534399 -2.943770
1FON     -1.691259 -1.804182
1VAU     -9.405279  1.498490
1DAM      5.002900  0.044303
2BOU      2.301510 -0.684421

## MCA with MCA and PCAMIX

In [29]:
# MCA
mca_mca = MCA(n_components=2,quanti_sup=list(range(2,wine.shape[1]))).fit(wine)
mca_mcamix = PCAMIX(n_components=2,quanti_sup=list(range(2,wine.shape[1]))).fit(wine)

### Eigenvalues

In [30]:
# Eigenvalues with MCA
mca_mca.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    0.724785    0.085944   28.991408   28.991408
Dim.2    0.638841    0.138841   25.553638   54.545046
Dim.3    0.500000    0.138841   20.000000   74.545046
Dim.4    0.361159    0.085944   14.446362   88.991408
Dim.5    0.275215         NaN   11.008592  100.000000

In [31]:
# Eigenvalues with PCAMIX
mca_mcamix.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1    1.449570    0.171889   28.991408   28.991408
Dim.2    1.277682    0.277682   25.553638   54.545046
Dim.3    1.000000    0.277682   20.000000   74.545046
Dim.4    0.722318    0.171889   14.446362   88.991408
Dim.5    0.550430         NaN   11.008592  100.000000

The are a splightly different when the functions MCA and PCAMIX are. To have the same values as with MCA, the eigenvalues should be divided by $p$, the number of categoricals variables.

In [32]:
p = X_quali.shape[1]
(mca_mcamix.eig_.iloc[:,0]/p).head(6)

Dim.1    0.724785
Dim.2    0.638841
Dim.3    0.500000
Dim.4    0.361159
Dim.5    0.275215
Name: eigenvalue, dtype: float64

### Individuals

#### Coordinates

In [33]:
# Coordinates with MCA
mca_mca.ind_["coord"].head(6)

         Dim.1     Dim.2
2EL  -0.085244 -0.366298
1CHA -0.085244 -0.366298
1FON -1.136257  0.131342
1VAU  1.190131  1.420468
1DAM -0.085244 -0.366298
2BOU -1.136257  0.131342

In [34]:
# Coordinates with PCAMIX
mca_mcamix.ind_["coord"].head(6)

             Dim.1     Dim.2
rownames
2EL      -0.120554 -0.518024
1CHA     -0.120554 -0.518024
1FON     -1.606910  0.185745
1VAU      1.683099  2.008845
1DAM     -0.120554 -0.518024
2BOU     -1.606910  0.185745

To get identical results, we have to divided by $\sqrt{p}$

In [35]:
import numpy as np
(mca_mcamix.ind_["coord"]/np.sqrt(p)).head(6)

             Dim.1     Dim.2
rownames
2EL      -0.085244 -0.366298
1CHA     -0.085244 -0.366298
1FON     -1.136257  0.131342
1VAU      1.190131  1.420468
1DAM     -0.085244 -0.366298
2BOU     -1.136257  0.131342

#### Contributions

In [36]:
# Contributions with MCA
mca_mca.ind_["contrib"].head(6)

         Dim.1      Dim.2
2EL   0.047742   1.000132
1CHA  0.047742   1.000132
1FON  8.482510   0.128586
1VAU  9.305950  15.040098
1DAM  0.047742   1.000132
2BOU  8.482510   0.128586

In [37]:
# Contributions with PCAMIX
mca_mcamix.ind_["contrib"].head(6)

             Dim.1      Dim.2
rownames
2EL       0.047742   1.000132
1CHA      0.047742   1.000132
1FON      8.482510   0.128586
1VAU      9.305950  15.040098
1DAM      0.047742   1.000132
2BOU      8.482510   0.128586

#### Cos2

In [38]:
# Cos2 with MCA
mca_mca.ind_["cos2"].head(6)

         Dim.1     Dim.2
2EL   0.004996  0.092245
1CHA  0.004996  0.092245
1FON  0.573813  0.007667
1VAU  0.380245  0.541672
1DAM  0.004996  0.092245
2BOU  0.573813  0.007667

In [39]:
# Cos2 with PCAMIX
mca_mcamix.ind_["cos2"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.004996  0.092245
1CHA      0.004996  0.092245
1FON      0.573813  0.007667
1VAU      0.380245  0.541672
1DAM      0.004996  0.092245
2BOU      0.573813  0.007667

### Variables

#### Coordinates

In [40]:
# Coordinates with MCA
mca_mca.var_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -1.334664  0.164326
Chinon      0.751073  1.489246
Saumur      0.454881 -0.631177
Env1       -0.600025  0.045630
Env2        1.275346  0.781443
Env4        1.011812 -2.273020

In [41]:
# Coordinates with PCAMIX
mca_mcamix.quali_var_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -1.334664  0.164326
Chinon      0.751073  1.489246
Saumur      0.454881 -0.631177
Env1       -0.600025  0.045630
Env2        1.275346  0.781443
Env4        1.011812 -2.273020

#### Cos2

In [42]:
# Cos2 with MCA
mca_mca.var_["cos2"].head(6)

               Dim.1     Dim.2
Bourgueuil  0.712531  0.010801
Chinon      0.132732  0.521848
Saumur      0.227608  0.438222
Env1        0.180015  0.001041
Env2        0.508284  0.190829
Env4        0.107765  0.543855

In [43]:
# Cos2 with PCAMIX
mca_mcamix.quali_var_["cos2"].head(6)

               Dim.1     Dim.2
Bourgueuil  0.712531  0.010801
Chinon      0.132732  0.521848
Saumur      0.227608  0.438222
Env1        0.180015  0.001041
Env2        0.508284  0.190829
Env4        0.107765  0.543855

#### Contributions

In [44]:
# Contributions with MCA
mca_mca.var_["contrib"].head(6)

                Dim.1      Dim.2
Bourgueuil  35.110444   0.603841
Chinon       7.412523  33.063668
Saumur       7.477033  16.332491
Env1         8.279013   0.054321
Env2        26.715753  11.379485
Env4         6.726222  38.511874

In [45]:
# Contributions with PCAMIX
mca_mcamix.quali_var_["contrib"].head(6)

                Dim.1      Dim.2
Bourgueuil  35.110444   0.603841
Chinon       7.412523  33.063668
Saumur       7.477033  16.332491
Env1         8.279013   0.054321
Env2        26.715753  11.379485
Env4         6.726222  38.511874

### Supplementary continuous 

#### Coordinates

In [46]:
# Coordinates with MCA
mca_mca.quanti_sup_["coord"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.388224 -0.674578
Aroma.quality.before.shaking  -0.128608 -0.294616
Fruity.before.shaking         -0.140083  0.049503
Flower.before.shaking         -0.287771 -0.080213
Spice.before.shaking           0.127615 -0.492527
Visual.intensity               0.051160 -0.433996

In [47]:
# Coordinates with PCAMIX
mca_mcamix.quanti_sup_["coord"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.388224 -0.674578
Aroma.quality.before.shaking  -0.128608 -0.294616
Fruity.before.shaking         -0.140083  0.049503
Flower.before.shaking         -0.287771 -0.080213
Spice.before.shaking           0.127615 -0.492527
Visual.intensity               0.051160 -0.433996

#### Cos2

In [48]:
# Cos2 with MCA
mca_mca.quanti_sup_["cos2"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.150718  0.455055
Aroma.quality.before.shaking   0.016540  0.086799
Fruity.before.shaking          0.019623  0.002451
Flower.before.shaking          0.082812  0.006434
Spice.before.shaking           0.016285  0.242583
Visual.intensity               0.002617  0.188353

In [49]:
# Cos2 with PCAMIX
mca_mcamix.quanti_sup_["cos2"].head(6)

                                  Dim.1     Dim.2
Odor.Intensity.before.shaking  0.150718  0.455055
Aroma.quality.before.shaking   0.016540  0.086799
Fruity.before.shaking          0.019623  0.002451
Flower.before.shaking          0.082812  0.006434
Spice.before.shaking           0.016285  0.242583
Visual.intensity               0.002617  0.188353

In [50]:
mca_mca.transform(X_quali).head(6)

         Dim.1     Dim.2
2EL  -0.085244 -0.366298
1CHA -0.085244 -0.366298
1FON -1.136257  0.131342
1VAU  1.190131  1.420468
1DAM -0.085244 -0.366298
2BOU -1.136257  0.131342

In [51]:
(mca_mcamix.transform(X_quali)/np.sqrt(p)).head(6)

             Dim.1     Dim.2
rownames
2EL      -0.085244 -0.366298
1CHA     -0.085244 -0.366298
1FON     -1.136257  0.131342
1VAU      1.190131  1.420468
1DAM     -0.085244 -0.366298
2BOU     -1.136257  0.131342

## Mixed Analysis with FAMD and PCAMIX

In [52]:
# Mixed with FAMD
res_famd = FAMD(n_components=2).fit(wine)
# Mixed with PCAMIX
res_pcamix = PCAMIX(n_components=2).fit(wine)

### Eigenvalues

In [53]:
# Eigenvalues with FAMD
res_famd.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1   15.466717    8.978694   45.490344   45.490344
Dim.2    6.488023    3.909089   19.082421   64.572764
Dim.3    2.578934    0.511839    7.585100   72.157865
Dim.4    2.067096    0.611116    6.079693   78.237558
Dim.5    1.455980    0.213716    4.282294   82.519852
Dim.6    1.242263    0.277295    3.653716   86.173567

In [54]:
# Eigenvalues with PCAMIX
res_pcamix.eig_.head(6)

       eigenvalue  difference  proportion  cumulative
Dim.1   15.466717    8.978694   45.490344   45.490344
Dim.2    6.488023    3.909089   19.082421   64.572764
Dim.3    2.578934    0.511839    7.585100   72.157865
Dim.4    2.067096    0.611116    6.079693   78.237558
Dim.5    1.455980    0.213716    4.282294   82.519852
Dim.6    1.242263    0.277295    3.653716   86.173567

### Individuals

#### Coordinates

In [55]:
# Coordinates with FAMD
res_famd.ind_["coord"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.198477 -1.512808
1CHA     -3.540549 -2.674165
1FON     -1.815741 -2.149922
1VAU     -9.499231  1.281334
1DAM      5.213173  0.059018
2BOU      2.450057 -1.068744

In [56]:
# Coordinates with PCAMIX
res_pcamix.ind_["coord"].head(6)

             Dim.1     Dim.2
rownames
2EL       0.198477 -1.512808
1CHA     -3.540549 -2.674165
1FON     -1.815741 -2.149922
1VAU     -9.499231  1.281334
1DAM      5.213173  0.059018
2BOU      2.450057 -1.068744

### Variables

#### Coordinates

In [57]:
# Coordinates with FAMD
res_famd.var_["coord"].tail(6)

                    Dim.1     Dim.2
Intensity        0.883192  0.013834
Harmony          0.901361  0.026433
Overall.quality  0.701245  0.186204
Typical          0.705523  0.142703
Label            0.073892  0.211503
Soil             0.359079  0.854803

In [58]:
# Coordinates with PCAMIX
res_pcamix.var_["coord"].tail(6)

                    Dim.1     Dim.2
Intensity        0.883192  0.013834
Harmony          0.901361  0.026433
Overall.quality  0.701245  0.186204
Typical          0.705523  0.142703
Label            0.073892  0.211503
Soil             0.359079  0.854803

### Categories

#### Coordinates

In [59]:
# Coordinates with  FAMD
res_famd.quali_var_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.508034 -1.625556
Chinon     -1.797428 -0.451489
Saumur      0.930719  1.050845
Env1       -1.818434 -1.323286
Env2       -1.719406  0.452715
Env4       -0.940094  6.942930

In [60]:
# Coordinates with PCAMIX
res_pcamix.quali_var_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.129180 -0.638184
Chinon     -0.457038 -0.177252
Saumur      0.236657  0.412555
Env1       -0.462379 -0.519514
Env2       -0.437199  0.177733
Env4       -0.239041  2.725753

The function `FAMD` gives the same results up to a factor of $\sqrt{\lambda_{\alpha}}$ in each dimension (where $\lambda_{\alpha}$ is the $\alpha$ th eigenvalue)

In [61]:
res_famd.quali_var_["coord"].dot(np.diag(1/np.sqrt(res_famd.eig_.iloc[:2,0]))).head(6)

                   0         1
Bourgueuil -0.129180 -0.638184
Chinon     -0.457038 -0.177252
Saumur      0.236657  0.412555
Env1       -0.462379 -0.519514
Env2       -0.437199  0.177733
Env4       -0.239041  2.725753

In other words, the categorie coordinates obtained with the function `PCAmix` verify the so - called **quali-barycentric** property. This property says that a categorie is represented a the barycenter of the observations that have this categorie, up to a factor of $\dfrac{1}{\sqrt{\lambda_{\alpha}}}$ in each dimension.

In [62]:
import pandas as pd
barycenter = pd.DataFrame()
for col in X_quali.columns:
    dat = pd.concat((res_pcamix.ind_["coord"],X_quali[col]),axis=1).groupby(col).mean()
    barycenter = pd.concat((barycenter,dat),axis=0)
# Quasi barycenter
quasi_barycenter = barycenter.apply(lambda x : x/np.sqrt(res_pcamix.eig_.iloc[:2,0]),axis=1)
quasi_barycenter

               Dim.1     Dim.2
Bourgueuil -0.129180 -0.638184
Chinon     -0.457038 -0.177252
Saumur      0.236657  0.412555
Env1       -0.462379 -0.519514
Env2       -0.437199  0.177733
Env4       -0.239041  2.725753
Reference   0.842962 -0.386224

The categorie coordinate of the `FAMD` on their part verify the **barycentric** property.

In [63]:
res_famd.quali_var_["coord"].head(6)

               Dim.1     Dim.2
Bourgueuil -0.508034 -1.625556
Chinon     -1.797428 -0.451489
Saumur      0.930719  1.050845
Env1       -1.818434 -1.323286
Env2       -1.719406  0.452715
Env4       -0.940094  6.942930

In [64]:
barycenter

               Dim.1     Dim.2
Bourgueuil -0.508034 -1.625556
Chinon     -1.797428 -0.451489
Saumur      0.930719  1.050845
Env1       -1.818434 -1.323286
Env2       -1.719406  0.452715
Env4       -0.940094  6.942930
Reference   3.315180 -0.983775

### Transform

In [65]:
res_famd.transform(wine).head(6)

         Dim.1     Dim.2
2EL   0.198477 -1.512808
1CHA -3.540549 -2.674165
1FON -1.815741 -2.149922
1VAU -9.499231  1.281334
1DAM  5.213173  0.059018
2BOU  2.450057 -1.068744

In [66]:
res_pcamix.transform(wine).head(6)

             Dim.1     Dim.2
rownames
2EL       0.198477 -1.512808
1CHA     -3.540549 -2.674165
1FON     -1.815741 -2.149922
1VAU     -9.499231  1.281334
1DAM      5.213173  0.059018
2BOU      2.450057 -1.068744