# MFAQUAL - MFA for Qualitatives Variables

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_poison
poison = load_poison()
poison.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 1 to 55
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         55 non-null     int32
 1   Time        55 non-null     int32
 2   Sick        55 non-null     category
 3   Sex         55 non-null     category
 4   Nausea      55 non-null     category
 5   Vomiting    55 non-null     category
 6   Abdominals  55 non-null     category
 7   Fever       55 non-null     category
 8   Diarrhae    55 non-null     category
 9   Potato      55 non-null     category
 10  Fish        55 non-null     category
 11  Mayo        55 non-null     category
 12  Courgette   55 non-null     category
 13  Cheese      55 non-null     category
 14  Icecream    55 non-null     category
dtypes: category(13), int32(2)
memory usage: 3.1+ KB

In [3]:
group_name = ["desc","desc2","symptom","eat"]
group = [2,2,5,6]
group_type = ["s"]+["n"]*3
num_group_sup = [0,1]

In [4]:
# Set variables weights in each groups
import pandas as pd
symptom_weight = pd.Series([1/5]*5,index=["Nausea","Vomiting","Abdominals","Fever","Diarrhae"])
eat_weight = pd.Series([1/6]*6,index=["Potato","Fish","Mayo","Courgette","Cheese","Icecream"])
var_weights_mfa = pd.concat((symptom_weight,eat_weight),axis=0)
var_weights_mfa

Nausea        0.200000
Vomiting      0.200000
Abdominals    0.200000
Fever         0.200000
Diarrhae      0.200000
Potato        0.166667
Fish          0.166667
Mayo          0.166667
Courgette     0.166667
Cheese        0.166667
Icecream      0.166667
dtype: float64

In [5]:
from scientisttools import MFAQUAL
res_mfaqual = MFAQUAL(group=group,name_group=group_name,group_type=group_type,var_weights_mfa=None,num_group_sup=[0,1],ind_sup=list(range(50,55)),parallelize=True)
res_mfaqual.fit(poison)

MFAQUAL(group=[2, 2, 5, 6], group_type=['s', 'n', 'n', 'n'],
        ind_sup=[50, 51, 52, 53, 54],
        name_group=['desc', 'desc2', 'symptom', 'eat'], num_group_sup=[0, 1],
        parallelize=True)

## Eigenvalues

In [6]:
eig = res_mfaqual.eig_
eig

        eigenvalue  difference  proportion  cumulative
Dim.1     1.402945    0.445820   23.615069   23.615069
Dim.2     0.957125    0.177859   16.110809   39.725878
Dim.3     0.779267    0.038423   13.117006   52.842885
Dim.4     0.740844    0.088154   12.470258   65.313142
Dim.5     0.652691    0.149916   10.986411   76.299553
Dim.6     0.502775    0.060442    8.462955   84.762509
Dim.7     0.442333    0.222458    7.445562   92.208071
Dim.8     0.219874    0.059404    3.701032   95.909102
Dim.9     0.160471    0.112200    2.701119   98.610221
Dim.10    0.048271    0.013977    0.812520   99.422741
Dim.11    0.034294         NaN    0.577259  100.000000

## Individuals informations

In [7]:
ind = res_mfaqual.ind_
ind.keys()

dict_keys(['coord', 'cos2', 'contrib', 'infos', 'coord_partiel', 'within_inertia', 'within_partial_inertia'])

### Individuals coordinates

In [8]:
ind["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.846253 -0.262605  0.042163 -0.038438 -0.335803
2  1.842789 -0.566724 -0.425763 -1.162701  0.680345
3 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
4  1.984653 -0.261655  0.346274  0.752054 -0.393798
5 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
6 -1.129819 -1.144690 -4.246854  3.168146  2.488120

### Individuals cos2

In [9]:
ind["cos2"].head(6)

      Dim.1         Dim.2     Dim.3     Dim.4     Dim.5
1  0.340065  3.274658e-02  0.000844  0.000702  0.053546
2  0.434671  4.111053e-02  0.023203  0.173040  0.059247
3  0.416896  5.245652e-07  0.059934  0.041996  0.198012
4  0.630066  1.095154e-02  0.019180  0.090472  0.024806
5  0.416896  5.245652e-07  0.059934  0.041996  0.198012
6  0.034511  3.542543e-02  0.487612  0.271363  0.167372

### Individuals contrib

In [10]:
ind["contrib"].head(6)

      Dim.1     Dim.2      Dim.3      Dim.4      Dim.5
1  1.020916  0.144101   0.004563   0.003989   0.345534
2  4.841061  0.671127   0.465242   3.649550   1.418340
3  0.877717  0.000002   0.227172   0.167437   0.896089
4  5.615111  0.143060   0.307740   1.526867   0.475192
5  0.877717  0.000002   0.227172   0.167437   0.896089
6  1.819731  2.738021  46.289074  27.096517  18.969917

### Individuals partiel coordinates

In [11]:
ind["coord_partiel"].head(6)

    symptom                                               eat            \
      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
1 -1.197228 -0.001535  0.294954  0.018465  0.288656 -0.495279 -0.523674
2  2.147479 -0.607842  0.244450  0.457383 -0.082445  1.538100 -0.525606
3 -1.074045  0.521913 -0.384399 -0.402746 -0.121282 -0.495279 -0.523674
4  2.147479 -0.607842  0.244450  0.457383 -0.082445  1.821827  0.084532
5 -1.074045  0.521913 -0.384399 -0.402746 -0.121282 -0.495279 -0.523674
6 -0.564066  0.016829 -0.160385  0.057848  0.254739 -1.695572 -2.306209


      Dim.3     Dim.4     Dim.5
1 -0.210627 -0.095341 -0.960262
2 -1.095976 -2.782785  1.443134
3 -0.210627 -0.095341 -0.960262
4  0.448098  1.046725 -0.705150
5 -0.210627 -0.095341 -0.960262
6 -8.333324  6.278444  4.721502

### Individuals within inertia

In [12]:
ind["within_inertia"].head(6)

      Dim.1     Dim.2      Dim.3      Dim.4      Dim.5
1  0.480567  0.155407   0.187694   0.009044   1.322358
2  0.362175  0.003855   1.319337   7.330877   1.973108
3  0.326700  0.623189   0.022173   0.065985   0.596738
4  0.103431  0.273263   0.030453   0.242525   0.328734
5  0.326700  0.623189   0.022173   0.065985   0.596738
6  1.248696  3.076180  49.048602  27.019978  16.914795

### Individuals within partial inertia

In [13]:
ind["within_partial_inertia"].head(6)

    symptom                                                 eat            \
      Dim.1     Dim.2      Dim.3      Dim.4     Dim.5     Dim.1     Dim.2
1  0.240283  0.077703   0.093847   0.004522  0.661179  0.240283  0.077703
2  0.181088  0.001928   0.659668   3.665439  0.986554  0.181088  0.001928
3  0.163350  0.311594   0.011087   0.032992  0.298369  0.163350  0.311594
4  0.051716  0.136632   0.015226   0.121263  0.164367  0.051716  0.136632
5  0.163350  0.311594   0.011087   0.032992  0.298369  0.163350  0.311594
6  0.624348  1.538090  24.524301  13.509989  8.457397  0.624348  1.538090


       Dim.3      Dim.4     Dim.5
1   0.093847   0.004522  0.661179
2   0.659668   3.665439  0.986554
3   0.011087   0.032992  0.298369
4   0.015226   0.121263  0.164367
5   0.011087   0.032992  0.298369
6  24.524301  13.509989  8.457397

### Supplementary individuals informations

In [14]:
# Coordinates
res_mfaqual.ind_sup_["coord"].head(6)

       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
51  1.984653 -0.261655  0.346274  0.752054 -0.393798
52 -0.529673 -0.253422 -0.185506 -0.018746 -0.352761
53  3.108303  1.725302  0.978507  1.334885  0.987622
54 -0.325224 -0.090527 -0.259939 -0.186965 -0.632778
55 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772

In [15]:
# Square cosinus
res_mfaqual.ind_sup_["cos2"].head(6)

       Dim.1         Dim.2     Dim.3     Dim.4     Dim.5
51  0.630066  1.095154e-02  0.019180  0.090472  0.024806
52  0.230523  5.277020e-02  0.028276  0.000289  0.102250
53  0.421852  1.299700e-01  0.041806  0.077804  0.042589
54  0.055047  4.265009e-03  0.035165  0.018192  0.208386
55  0.416896  5.245652e-07  0.059934  0.041996  0.198012

In [16]:
# Square distance to origin
res_mfaqual.ind_sup_["dist"].head(6)

51     6.251478
52     1.217029
53    22.902710
54     1.921474
55     1.476854
Name: Sq. Dist., dtype: float64

In [17]:
# Partiel coordinates
res_mfaqual.ind_sup_["coord_partiel"].head(6)

     symptom                                               eat            \
       Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
51  2.147479 -0.607842  0.244450  0.457383 -0.082445  1.821827  0.084532
52 -0.564066  0.016829 -0.160385  0.057848  0.254739 -0.495279 -0.523674
53  2.147479 -0.607842  0.244450  0.457383 -0.082445  4.069126  4.058446
54 -0.155170  0.342620 -0.309252 -0.278589 -0.305295 -0.495279 -0.523674
55 -1.074045  0.521913 -0.384399 -0.402746 -0.121282 -0.495279 -0.523674


       Dim.3     Dim.4     Dim.5
51  0.448098  1.046725 -0.705150
52 -0.210627 -0.095341 -0.960262
53  1.712563  2.212387  2.057690
54 -0.210627 -0.095341 -0.960262
55 -0.210627 -0.095341 -0.960262

## Qualitatives variables informations

In [18]:
quali_var = res_mfaqual.quali_var_
quali_var.keys()

dict_keys(['barycentre', 'coord', 'cos2', 'vtest', 'dist', 'eta2', 'contrib', 'coord_partiel'])

### Qualitatives variables coordinates

In [19]:
quali_var["coord"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.341881  0.006765 -0.136565  0.011229 -0.008520
Nausea_y -1.082622 -0.021422  0.432456 -0.035559  0.026981
Vomit_n   0.458945 -0.310099  0.111977  0.218884  0.157430
Vomit_y  -0.688418  0.465149 -0.167965 -0.328325 -0.236145
Abdo_n    1.444294 -0.178490  0.074962  0.111244 -0.093158
Abdo_y   -0.679668  0.083995 -0.035276 -0.052350  0.043839

### Qualitatives variables cos2

In [20]:
quali_var["cos2"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  0.632810  0.000248  0.100973  0.000683  0.000393
Nausea_y  0.632810  0.000248  0.100973  0.000683  0.000393
Vomit_n   0.470187  0.214660  0.027990  0.106949  0.055325
Vomit_y   0.470187  0.214660  0.027990  0.106949  0.055325
Abdo_n    0.907966  0.013867  0.002446  0.005387  0.003777
Abdo_y    0.907966  0.013867  0.002446  0.005387  0.003777

### Qualitatives variables contrib

In [21]:
quali_var["contrib"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n   1.407158  0.001184  0.727751  0.005444  0.004038
Nausea_y   4.456001  0.003749  2.304544  0.017239  0.012787
Vomit_n    2.001952  1.963707  0.386276  1.632998  1.088364
Vomit_y    3.002928  2.945561  0.579414  2.449497  1.632546
Abdo_n    10.574064  0.346978  0.092325  0.224961  0.203251
Abdo_y     4.976030  0.163284  0.043447  0.105864  0.095648

### Qualitatives variables vtest

In [22]:
quali_var["vtest"].head(6)

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Nausea_n  3.595450  0.086136 -1.927063  0.162512 -0.131370
Nausea_y -3.595450 -0.086136  1.927063 -0.162512  0.131370
Vomit_n   3.321882 -2.717439  1.087500  2.180185  1.670620
Vomit_y  -3.321882  2.717439 -1.087500 -2.180185 -1.670620
Abdo_y   -5.855364  0.876089 -0.407770 -0.620626  0.553711
Abdo_n    5.855364 -0.876089  0.407770  0.620626 -0.553711

### Qualitatives variables partiel coordinates

In [23]:
quali_var["coord_partiel"].head(6)

           symptom                                           eat              \
             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5 Dim.1 Dim.2 Dim.3
Nausea_n  0.449683 -0.085337 -0.058232  0.075392 -0.021301   NaN   NaN   NaN
Nausea_y -1.423998  0.270233  0.184402 -0.238741  0.067454   NaN   NaN   NaN
Vomit_n   0.714467 -0.307713  0.125972  0.255641  0.091057   NaN   NaN   NaN
Vomit_y    -1.0717  0.461569 -0.188957 -0.383461 -0.136585   NaN   NaN   NaN
Abdo_n    2.005137 -0.547921   0.21066  0.412231 -0.093053   NaN   NaN   NaN
Abdo_y   -0.943594  0.257845 -0.099134 -0.193991   0.04379   NaN   NaN   NaN


         Dim.4 Dim.5
Nausea_n   NaN   NaN
Nausea_y   NaN   NaN
Vomit_n    NaN   NaN
Vomit_y    NaN   NaN
Abdo_n     NaN   NaN
Abdo_y     NaN   NaN

## Group informations

In [24]:
group = res_mfaqual.group_
group.keys()

dict_keys(['coord', 'contrib', 'cos2', 'correlation', 'Lg', 'dist2', 'RV', 'coord_sup', 'dist2_sup', 'cos2_sup'])

### Group coordinates

In [25]:
group["coord"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
symptom  0.770414  0.070765  0.041399  0.037513  0.023856
eat      0.632532  0.886360  0.737868  0.703331  0.628834

### Group contributions

In [26]:
group["contrib"].head(6)

             Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
symptom  54.914024   7.393518   5.312581   5.063546   3.655059
eat      45.085976  92.606482  94.687419  94.936454  96.344941

### Group cos2

In [27]:
group["cos2"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
symptom  0.532253  0.004491  0.001537  0.001262  0.000510
eat      0.119306  0.234271  0.162351  0.147509  0.117916

### Group correlation

In [28]:
group["correlation"].head(6)

            Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
symptom  0.878772  0.321020  0.361671  0.246280  0.327529
eat      0.834049  0.973364  0.989702  0.978674  0.994065

### Lg

In [29]:
group["Lg"]

             desc     desc2   symptom       eat       MFA
desc     1.849508  0.721128  0.668235  0.338643  0.717689
desc2    0.721128  1.965578  0.908515  0.257359  0.831019
symptom  0.668235  0.908515  1.115142  0.261917  0.981549
eat      0.338643  0.257359  0.261917  3.353523  2.577035
MFA      0.717689  0.831019  0.981549  2.577035  2.536510

### RV

In [30]:
group["RV"]

             desc     desc2   symptom       eat       MFA
desc     1.000000  0.378216  0.465303  0.135976  0.331352
desc2    0.378216  1.000000  0.613652  0.100241  0.372175
symptom  0.465303  0.613652  1.000000  0.135440  0.583618
eat      0.135976  0.100241  0.135440  1.000000  0.883591
MFA      0.331352  0.372175  0.583618  0.883591  1.000000

### Dist2

In [31]:
group["dist2"]

symptom    1.115142
eat        3.353523
Name: Sq. Dist., dtype: float64

### Supplementary group

#### Supplementary group coordintes

In [32]:
group["coord_sup"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.601879  0.001511  0.083907  0.046296  0.010219
desc2  0.738310  0.026960  0.007214  0.013254  0.022117

#### Supplementary group dist2

In [33]:
group["dist2_sup"]

desc     1.849508
desc2    1.965578
Name: Sq. Dist., dtype: float64

#### Supplementary group cos2

In [34]:
group["cos2_sup"]

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
desc   0.195868  0.000001  0.003807  0.001159  0.000056
desc2  0.277324  0.000370  0.000026  0.000089  0.000249

## Partial axes

In [35]:
partial_axes = res_mfaqual.partial_axes_
partial_axes.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2', 'cor_between'])

### Partial axes coordinates

In [36]:
partial_axes["coord"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.541201 -0.578994  0.606324  0.614191  0.876404 -0.081229  0.038272
Dim.2 -0.038696 -0.003818 -0.163884 -0.010165 -0.205157 -0.230917  0.253445
Dim.3 -0.184067 -0.232975  0.018162  0.083703  0.062583  0.378263  0.022537
Dim.4  0.214308 -0.019994  0.111574  0.028619  0.137908  0.137826 -0.250281
Dim.5  0.100574  0.010613  0.066004 -0.134442 -0.017625  0.109803 -0.296190

                                eat
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.079892  0.012664  0.591609 -0.513744 -0.012885 -0.295631  0.075352
Dim.2  0.151139  0.023629  0.771066  0.538398  0.060613  0.233993 -0.125695
Dim.3 -0.136232 -0.091921  0.006136  0.278095 -0.901900 -0.268399  0.131004
Dim.4 -0.025583  0.027013 -0.080379  0.497835  0.415070 -0.679898  0.276236
Dim.5 -0.131791 -0.114976  0.063103 -0.029391  0.020013  0.367294  0.919537

### Partial axes cor

In [37]:
partial_axes["cor"].head(6)

           desc               desc2             symptom                      \
          Dim.1     Dim.2     Dim.1     Dim.2     Dim.1     Dim.2     Dim.3
Dim.1  0.541201 -0.578994  0.606324  0.614191  0.876404 -0.081229  0.038272
Dim.2 -0.038696 -0.003818 -0.163884 -0.010165 -0.205157 -0.230917  0.253445
Dim.3 -0.184067 -0.232975  0.018162  0.083703  0.062583  0.378263  0.022537
Dim.4  0.214308 -0.019994  0.111574  0.028619  0.137908  0.137826 -0.250281
Dim.5  0.100574  0.010613  0.066004 -0.134442 -0.017625  0.109803 -0.296190

                                eat
          Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.079892  0.012664  0.591609 -0.513744 -0.012885 -0.295631  0.075352
Dim.2  0.151139  0.023629  0.771066  0.538398  0.060613  0.233993 -0.125695
Dim.3 -0.136232 -0.091921  0.006136  0.278095 -0.901900 -0.268399  0.131004
Dim.4 -0.025583  0.027013 -0.080379  0.497835  0.415070 -0.679898  0.276236
Dim.5 -0.131791 -0.114976  0.063103 -0.029391  0.020013  0.367294  0.919537

### Partial axes contrib

In [38]:
partial_axes["contrib"].head(6)

       desc       desc2          symptom                                \
      Dim.1 Dim.2 Dim.1 Dim.2      Dim.1     Dim.2     Dim.3     Dim.4
Dim.1   0.0   0.0   0.0   0.0  54.754374  0.118609  0.022742  0.024286
Dim.2   0.0   0.0   0.0   0.0   4.401195  1.406026  1.462945  0.127492
Dim.3   0.0   0.0   0.0   0.0   0.503214  4.635682  0.014214  0.127272
Dim.4   0.0   0.0   0.0   0.0   2.572849  0.648016  1.845679  0.004726
Dim.5   0.0   0.0   0.0   0.0   0.047766  0.467466  2.937951  0.142543

                       eat
          Dim.5      Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
Dim.1  0.000407  24.950546  15.674731   0.008922   4.191312   0.254071
Dim.2  0.002079  62.169813  25.252186   0.289617   3.851620   1.037028
Dim.3  0.038655   0.004837   8.277971  78.787583   6.226474   1.384098
Dim.4  0.003515   0.874018  27.932080  17.570317  42.069134   6.479667
Dim.5  0.072375   0.612263   0.110657   0.046427  13.954259  81.608293

### Partial axes cor between

In [39]:
partial_axes["cor_between"].round(4)

                 desc           desc2         symptom                          \
                Dim.1   Dim.2   Dim.1   Dim.2   Dim.1   Dim.2   Dim.3   Dim.4
desc    Dim.1  1.0000  0.0000  0.4239  0.4437  0.5877 -0.0071  0.0312  0.1007
        Dim.2  0.0000  1.0000 -0.4587 -0.4124 -0.5771 -0.0997 -0.2485 -0.0734
desc2   Dim.1  0.4239 -0.4587  1.0000  0.0000  0.6756  0.1308  0.0864  0.1081
        Dim.2  0.4437 -0.4124  0.0000  1.0000  0.6694  0.0398  0.0768  0.0931
symptom Dim.1  0.5877 -0.5771  0.6756  0.6694  1.0000  0.0000  0.0000 -0.0000
        Dim.2 -0.0071 -0.0997  0.1308  0.0398 -0.0000  1.0000  0.0000  0.0000
        Dim.3  0.0312 -0.2485  0.0864  0.0768  0.0000  0.0000  1.0000 -0.0000
        Dim.4  0.1007 -0.0734  0.1081  0.0931  0.0000  0.0000 -0.0000  1.0000
        Dim.5 -0.0528  0.0276 -0.2191  0.2010 -0.0000  0.0000 -0.0000  0.0000
eat     Dim.1  0.2326 -0.3128  0.1801  0.2910  0.2653 -0.1829  0.1684  0.1730
        Dim.2 -0.1729  0.1781 -0.2640 -0.1814 -0.3329  0.0568  0.0372 -0.0323
        Dim.3  0.2605  0.1921  0.0345 -0.0622 -0.0145 -0.2146 -0.0754  0.1171
        Dim.4 -0.1373  0.1934 -0.1728 -0.1450 -0.2508 -0.1428  0.1235 -0.0018
        Dim.5  0.1588 -0.0656  0.1414 -0.0994  0.0739  0.1581 -0.2837 -0.1592

                          eat
                Dim.5   Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
desc    Dim.1 -0.0528  0.2326 -0.1729  0.2605 -0.1373  0.1588
        Dim.2  0.0276 -0.3128  0.1781  0.1921  0.1934 -0.0656
desc2   Dim.1 -0.2191  0.1801 -0.2640  0.0345 -0.1728  0.1414
        Dim.2  0.2010  0.2910 -0.1814 -0.0622 -0.1450 -0.0994
symptom Dim.1 -0.0000  0.2653 -0.3329 -0.0145 -0.2508  0.0739
        Dim.2  0.0000 -0.1829  0.0568 -0.2146 -0.1428  0.1581
        Dim.3 -0.0000  0.1684  0.0372 -0.0754  0.1235 -0.2837
        Dim.4  0.0000  0.1730 -0.0323  0.1171 -0.0018 -0.1592
        Dim.5  1.0000  0.0230 -0.0083  0.0933 -0.0315 -0.1169
eat     Dim.1  0.0230  1.0000  0.0000 -0.0000  0.0000  0.0000
        Dim.2 -0.0083  0.0000  1.0000  0.0000 -0.0000 -0.0000
        Dim.3  0.0933 -0.0000  0.0000  1.0000 -0.0000  0.0000
        Dim.4 -0.0315  0.0000 -0.0000 -0.0000  1.0000  0.0000
        Dim.5 -0.1169  0.0000 -0.0000  0.0000  0.0000  1.0000

## Inertia ratio

In [40]:
res_mfaqual.inertia_ratio_

Dim.1    0.732378
Dim.2    0.521802
Dim.3    0.533674
Dim.4    0.508506
Dim.5    0.525317
Name: inertia_ratio, dtype: float64

## Supplementary qualitatives variables

In [41]:
quali_var_sup = res_mfaqual.quali_var_sup_
quali_var_sup.keys()

dict_keys(['barycentre', 'coord', 'cos2', 'vtest', 'dist', 'eta2', 'coord_partiel'])

### Supplementary qualitatives variables coordinates

In [42]:
quali_var_sup["coord"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  1.561423 -0.184630  0.096853  0.130673 -0.058954
Sick_y -0.669181  0.079127 -0.041508 -0.056003  0.025266
F       0.001951  0.098633  0.037502 -0.046943 -0.105527
M      -0.002290 -0.115787 -0.044024  0.055107  0.123880

### Supplementary qualitatives variables cos2

In [43]:
quali_var_sup["cos2"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_n  0.916114  0.012809  0.003525  0.006416  0.001306
Sick_y  0.916114  0.012809  0.003525  0.006416  0.001306
F       0.000126  0.321395  0.046461  0.072801  0.367895
M       0.000126  0.321395  0.046461  0.072801  0.367895

### Supplementary qualitatives variables vtest

In [44]:
quali_var_sup["vtest"].head(6)

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Sick_y -6.041013  0.864825 -0.502781 -0.695714  0.334401
Sick_n  6.041013 -0.864825  0.502781  0.695714 -0.334401
F       0.012491  0.764634  0.322197 -0.413642 -0.990665
M      -0.012491 -0.764634 -0.322197  0.413642  0.990665

### Supplementary qualitatives variables partiel coordinates

In [45]:
quali_var_sup["coord_partiel"]

         symptom                                               eat            \
           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Sick_n  2.147479 -0.607842   0.24445  0.457383 -0.082445  0.975367  0.238582
Sick_y -0.920348  0.260504 -0.104764 -0.196021  0.035334 -0.418014 -0.102249
F      -0.009622  0.009993 -0.016002 -0.005876  -0.00528  0.013524  0.187273
M       0.011296 -0.011731  0.018785  0.006898  0.006198 -0.015876 -0.219843


           Dim.3     Dim.4     Dim.5
Sick_n -0.050744 -0.196037 -0.035462
Sick_y  0.021748  0.084016  0.015198
F       0.091005  -0.08801 -0.205774
M      -0.106832  0.103316  0.241561

## Supplementary quantitatives variables

In [46]:
quanti_var_sup = res_mfaqual.quanti_var_sup_
quanti_var_sup.keys()

dict_keys(['coord', 'cor', 'cos2'])

### Supplementary quantitatives variables coordinates

In [47]:
quanti_var_sup["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.010575 -0.030558 -0.294127  0.140749  0.079901
Time -0.791388  0.025270 -0.028566 -0.168442 -0.065201

### Supplementary quantitatives variables cos2

In [48]:
quanti_var_sup["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.000112  0.000934  0.086511  0.019810  0.006384
Time  0.626295  0.000639  0.000816  0.028373  0.004251

### Supplementary quantitatives variables cor

In [49]:
quanti_var_sup["cor"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.010575 -0.030558 -0.294127  0.140749  0.079901
Time -0.791388  0.025270 -0.028566 -0.168442 -0.065201

## Summary

In [50]:
res_mfaqual.summary_quali_

    group group name    variable   categorie  count
0       2    symptom      Nausea    Nausea_n     38
1       2    symptom      Nausea    Nausea_y     12
2       2    symptom    Vomiting     Vomit_n     30
3       2    symptom    Vomiting     Vomit_y     20
4       2    symptom  Abdominals      Abdo_y     34
5       2    symptom  Abdominals      Abdo_n     16
6       2    symptom       Fever     Fever_y     32
7       2    symptom       Fever     Fever_n     18
8       2    symptom    Diarrhae  Diarrhea_y     33
9       2    symptom    Diarrhae  Diarrhea_n     17
10      3        eat      Potato    Potato_y     47
11      3        eat      Potato    Potato_n      3
12      3        eat        Fish      Fish_y     49
13      3        eat        Fish      Fish_n      1
14      3        eat        Mayo      Mayo_y     42
15      3        eat        Mayo      Mayo_n      8
16      3        eat   Courgette     Courg_y     45
17      3        eat   Courgette     Courg_n      5
18      3        eat      Cheese    Cheese_y     44
19      3        eat      Cheese    Cheese_n      6
20      3        eat    Icecream  Icecream_y     47
21      3        eat    Icecream  Icecream_n      3
22      1      desc2        Sick      Sick_y     35
23      1      desc2        Sick      Sick_n     15
24      1      desc2         Sex           F     27
25      1      desc2         Sex           M     23

### Summary quantitatives variables

In [51]:
res_mfaqual.summary_quanti_

,group,group name,variable,count,mean,std,min,25%,50%,75%,max
0,0,desc,Age,50,17.74,24.806854,4.0,6.0,8.0,10.0,88.0
1,0,desc,Time,50,10.18,7.745150,0.0,0.0,12.0,16.0,22.0

## Methods

### fit transform

In [52]:
##
res_mfaqual.fit_transform(poison).head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.846253 -0.262605  0.042163 -0.038438 -0.335803
2  1.842789 -0.566724 -0.425763 -1.162701  0.680345
3 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
4  1.984653 -0.261655  0.346274  0.752054 -0.393798
5 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
6 -1.129819 -1.144690 -4.246854  3.168146  2.488120

## Transform

In [53]:
poison = load_poison()
active = poison.iloc[:,4:]
res_mfaqual.transform(active).head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.846253 -0.262605  0.042163 -0.038438 -0.335803
2  1.842789 -0.566724 -0.425763 -1.162701  0.680345
3 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
4  1.984653 -0.261655  0.346274  0.752054 -0.393798
5 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
6 -1.129819 -1.144690 -4.246854  3.168146  2.488120

In [54]:
res_mfaqual.ind_["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1 -0.846253 -0.262605  0.042163 -0.038438 -0.335803
2  1.842789 -0.566724 -0.425763 -1.162701  0.680345
3 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
4  1.984653 -0.261655  0.346274  0.752054 -0.393798
5 -0.784662 -0.000880 -0.297513 -0.249043 -0.540772
6 -1.129819 -1.144690 -4.246854  3.168146  2.488120

## Extraction

In [55]:
from scientisttools import get_mfa, get_eig, summaryMFA
eig = get_eig(res_mfaqual)
ind = get_mfa(res_mfaqual,choice="ind")
quali_var = get_mfa(res_mfaqual,choice="quali_var")
groups = get_mfa(res_mfaqual,choice="group")
partial_axes = get_mfa(res_mfaqual,choice = "partial_axes")

In [56]:
summaryMFA(res_mfaqual)

                     Multiple Factor Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.403   0.957   0.779   0.741   0.653
Difference                0.446   0.178   0.038   0.088   0.150
% of var.                23.615  16.111  13.117  12.470  10.986
Cumulative of % of var.  23.615  39.726  52.843  65.313  76.300

Groups

         Sq. Dist.  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
symptom      1.115  0.770  54.914  0.532  0.071   7.394  0.004  0.041   5.313
eat          3.354  0.633  45.086  0.119  0.886  92.606  0.234  0.738  94.687

          cos2
symptom  0.002
eat      0.162

Supplementary groups

       Sq. Dist.  Dim.1   cos2  Dim.2  cos2  Dim.3   cos2
desc       1.850  0.602  0.196  0.002   0.0  0.084  0.004
desc2      1.966  0.738  0.277  0.027   0.0  0.007  0.000

Individuals (the 10 first)

    Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  \
1     0.02      2.106    0.042 -0.846  1.021  0.340 -0.263  0.144  0.033
2     0.02      7.813    0.156  1.843  4.841  0.435 -0.567  0.671  0.041
3     0.02      1.477    0.030 -0.785  0.878  0.417 -0.001  0.000  0.000
4     0.02      6.251    0.125  1.985  5.615  0.630 -0.262  0.143  0.011
5     0.02      1.477    0.030 -0.785  0.878  0.417 -0.001  0.000  0.000
6     0.02     36.988    0.740 -1.130  1.820  0.035 -1.145  2.738  0.035
7     0.02      1.477    0.030 -0.785  0.878  0.417 -0.001  0.000  0.000
8     0.02      2.366    0.047 -1.101  1.729  0.513 -0.010  0.000  0.000
9     0.02      2.106    0.042 -0.846  1.021  0.340 -0.263  0.144  0.033
10    0.02      1.993    0.040 -0.313  0.139  0.049 -0.086  0.016  0.004

    Dim.3     ctr   cos2
1   0.042   0.005  0.001
2  -0.426   0.465  0.023
3  -0.298   0.227  0.060
4   0.346   0.308  0.019
5  -0.298   0.227  0.060
6  -4.247  46.289  0.488
7  -0.298   0.227  0.060
8  -0.070   0.013  0.002
9   0.042   0.005  0.001
10 -0.253   0.165  0.032

Supplementary individuals

    Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
51      6.251  1.985  0.630 -0.262  0.011  0.346  0.019
52      1.217 -0.530  0.231 -0.253  0.053 -0.186  0.028
53     22.903  3.108  0.422  1.725  0.130  0.979  0.042
54      1.921 -0.325  0.055 -0.091  0.004 -0.260  0.035
55      1.477 -0.785  0.417 -0.001  0.000 -0.298  0.060

Categories (the 10 first)

            Sq. Dist.  Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
Nausea_n        0.185  0.342   1.407  0.633  0.007  0.001  0.000 -0.137
Nausea_y        1.852 -1.083   4.456  0.633 -0.021  0.004  0.000  0.432
Vomit_n         0.448  0.459   2.002  0.470 -0.310  1.964  0.215  0.112
Vomit_y         1.008 -0.688   3.003  0.470  0.465  2.946  0.215 -0.168
Abdo_n          2.297  1.444  10.574  0.908 -0.178  0.347  0.014  0.075
Abdo_y          0.509 -0.680   4.976  0.908  0.084  0.163  0.014 -0.035
Fever_n         1.784  1.222   8.515  0.837 -0.270  0.890  0.041  0.193
Fever_y         0.564 -0.687   4.789  0.837  0.152  0.501  0.041 -0.109
Diarrhea_n      2.087  1.364  10.027  0.892 -0.182  0.382  0.016  0.062
Diarrhea_y      0.554 -0.703   5.165  0.892  0.094  0.197  0.016 -0.032

              ctr   cos2
Nausea_n    0.728  0.101
Nausea_y    2.305  0.101
Vomit_n     0.386  0.028
Vomit_y     0.579  0.028
Abdo_n      0.092  0.002
Abdo_y      0.043  0.002
Fever_n     0.689  0.021
Fever_y     0.388  0.021
Diarrhea_n  0.067  0.002
Diarrhea_y  0.035  0.002

Categories eta2 (the 10 first)

            Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Nausea      0.264  0.000  0.076  0.001  0.000
Vomiting    0.225  0.151  0.024  0.097  0.057
Abdominals  0.700  0.016  0.003  0.008  0.006
Fever       0.599  0.043  0.027  0.008  0.000
Diarrhae    0.684  0.018  0.003  0.007  0.013
Potato      0.082  0.175  0.390  0.003  0.322
Fish        0.019  0.028  0.472  0.276  0.194
Mayo        0.475  0.022  0.021  0.061  0.003
Courgette   0.002  0.588  0.001  0.067  0.154
Cheese      0.287  0.000  0.030  0.265  0.187

Supplementary Continuous variables

      Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Age  -0.011  0.000 -0.031  0.001 -0.294  0.087
Time -0.791  0.626  0.025  0.001 -0.029  0.001

Supplementary categories

        Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Sick_n      2.661  1.561  0.916 -0.185  0.013  0.097  0.004
Sick_y      0.489 -0.669  0.916  0.079  0.013 -0.042  0.004
F           0.030  0.002  0.000  0.099  0.321  0.038  0.046
M           0.042 -0.002  0.000 -0.116  0.321 -0.044  0.046

Supplementary categories (eta2)

      Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Sick  0.745  0.015  0.005  0.010  0.002
Sex   0.000  0.012  0.002  0.003  0.020

In [57]:
res_mfaqual2 = MFAQUAL(group=[1]*4+[5,6],group_type=["s"]*2+["n"]*4,var_weights_mfa=None,num_group_sup=[0,1,2,3],parallelize=True)
res_mfaqual2.fit(poison)

MFAQUAL(group=[1, 1, 1, 1, 5, 6], group_type=['s', 's', 'n', 'n', 'n', 'n'],
        num_group_sup=[0, 1, 2, 3], parallelize=True)

In [58]:
summaryMFA(res_mfaqual2)

                     Multiple Factor Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.455   0.844   0.709   0.646   0.569
Difference                0.611   0.134   0.063   0.078   0.088
% of var.                26.203  15.193  12.772  11.638  10.241
Cumulative of % of var.  26.203  41.396  54.168  65.806  76.048

Groups

     Sq. Dist.  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
Gr5      1.120  0.773  53.091  0.533  0.110  13.059  0.011  0.042   5.904
Gr6      2.815  0.683  46.909  0.166  0.734  86.941  0.191  0.668  94.096

      cos2
Gr5  0.002
Gr6  0.158

Supplementary groups

     Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Gr1        1.0  0.002  0.000  0.001  0.000  0.092  0.009
Gr2        1.0  0.651  0.423  0.010  0.000  0.001  0.000
Gr3        1.0  0.757  0.572  0.037  0.001  0.000  0.000
Gr4        1.0  0.003  0.000  0.018  0.000  0.005  0.000

Individuals (the 10 first)

    Weight  Sq. Dist.  Inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  \
1    0.018      2.262    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018
2    0.018      6.912    0.126  1.655  3.422  0.396 -0.411  0.364  0.024
3    0.018      1.485    0.027 -0.867  0.940  0.507  0.099  0.021  0.007
4    0.018      5.297    0.096  1.784  3.976  0.601 -0.569  0.697  0.061
5    0.018      1.485    0.027 -0.867  0.940  0.507  0.099  0.021  0.007
6    0.018     37.048    0.674 -1.123  1.575  0.034 -1.074  2.487  0.031
7    0.018      1.485    0.027 -0.867  0.940  0.507  0.099  0.021  0.007
8    0.018      2.524    0.046 -1.164  1.693  0.537  0.113  0.028  0.005
9    0.018      2.262    0.041 -0.898  1.008  0.357 -0.200  0.086  0.018
10   0.018      1.978    0.036 -0.399  0.198  0.080 -0.041  0.004  0.001

    Dim.3     ctr   cos2
1   0.105   0.028  0.005
2  -0.166   0.071  0.004
3  -0.271   0.189  0.050
4  -0.042   0.004  0.000
5  -0.271   0.189  0.050
6  -4.269  46.714  0.492
7  -0.271   0.189  0.050
8   0.035   0.003  0.000
9   0.105   0.028  0.005
10 -0.289   0.214  0.042

Categories (the 10 first)

            Sq. Dist.  Dim.1     ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
Nausea_n        0.158  0.300   1.042  0.568 -0.008  0.002  0.000 -0.151
Nausea_y        2.030 -1.073   3.732  0.568  0.030  0.008  0.000  0.541
Vomit_n         0.454  0.492   2.159  0.534 -0.336  2.988  0.248  0.063
Vomit_y         1.022 -0.738   3.238  0.534  0.504  4.482  0.248 -0.095
Abdo_n          2.325  1.459  10.350  0.916 -0.253  0.928  0.028 -0.027
Abdo_y          0.550 -0.710   5.035  0.916  0.123  0.451  0.028  0.013
Fever_n         1.837  1.257   8.532  0.860 -0.328  1.731  0.059  0.094
Fever_y         0.600 -0.718   4.876  0.860  0.188  0.989  0.059 -0.054
Diarrhea_n      1.875  1.290   8.990  0.888 -0.242  0.940  0.031 -0.052
Diarrhea_y      0.612 -0.737   5.137  0.888  0.138  0.537  0.031  0.030

              ctr   cos2
Nausea_n    1.112  0.144
Nausea_y    3.985  0.144
Vomit_n     0.150  0.009
Vomit_y     0.224  0.009
Abdo_n      0.014  0.000
Abdo_y      0.007  0.000
Fever_n     0.199  0.005
Fever_y     0.114  0.005
Diarrhea_n  0.062  0.001
Diarrhea_y  0.036  0.001

Categories eta2 (the 10 first)

            Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Nausea      0.221  0.000  0.115  0.015  0.005
Vomiting    0.250  0.200  0.008  0.095  0.003
Abdominals  0.712  0.037  0.000  0.008  0.001
Fever       0.621  0.073  0.007  0.003  0.000
Diarrhae    0.654  0.040  0.002  0.021  0.003
Potato      0.064  0.174  0.455  0.162  0.092
Fish        0.016  0.025  0.476  0.435  0.029
Mayo        0.543  0.004  0.005  0.022  0.027
Courgette   0.002  0.622  0.005  0.001  0.136
Cheese      0.312  0.016  0.000  0.001  0.410

Supplementary Continuous variables

      Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Age  -0.042  0.002 -0.031  0.001 -0.304  0.092
Time -0.807  0.651  0.100  0.010  0.034  0.001

Supplementary categories

        Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
Sick_n      2.661  1.569  0.925 -0.266  0.027 -0.011  0.000
Sick_y      0.533 -0.702  0.925  0.119  0.027  0.005  0.000
F           0.033  0.063  0.118  0.122  0.441  0.057  0.098
M           0.036 -0.065  0.118 -0.126  0.441 -0.059  0.098

Supplementary categories (eta2)

      Dim.1  Dim.2  Dim.3  Dim.4  Dim.5
Sick  0.757  0.037  0.000  0.005  0.000
Sex   0.003  0.018  0.005  0.003  0.004

In [59]:
from scientisttools import dimdesc
DimDesc = dimdesc(res_mfaqual)
DimDesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [60]:
DimDesc["Dim.1"]["quali"]

                  R2        pvalue
Sick        0.744772  7.698159e-16
Abdominals  0.699700  3.929046e-14
Diarrhae    0.683585  1.392810e-13
Fever       0.598630  4.465878e-11
Mayo        0.474505  3.201970e-08
Cheese      0.287112  6.068675e-05
Nausea      0.263822  1.362612e-04
Vomiting    0.225202  4.979976e-04
Potato      0.082070  4.369935e-02

In [61]:
DimDesc["Dim.1"]["quanti"]

      correlation        pvalue
Time    -0.791388  7.876144e-12

In [62]:
DimDesc["Dim.1"]["category"]

                     Estimate        pvalue
Sick=Sick_n          2.230604  7.698159e-16
Sick=Sick_y         -2.230604  7.698159e-16
Nausea=Nausea_n      1.424502  1.362612e-04
Nausea=Nausea_y     -1.424502  1.362612e-04
Vomiting=Vomit_n     1.147363  4.979976e-04
Vomiting=Vomit_y    -1.147363  4.979976e-04
Abdominals=Abdo_n    2.123962  3.929046e-14
Abdominals=Abdo_y   -2.123962  3.929046e-14
Fever=Fever_n        1.909231  4.465878e-11
Fever=Fever_y       -1.909231  4.465878e-11
Diarrhae=Diarrhea_n  2.067308  1.392810e-13
Diarrhae=Diarrhea_y -2.067308  1.392810e-13
Potato=Potato_n     -1.428803  4.369935e-02
Potato=Potato_y      1.428803  4.369935e-02
Mayo=Mayo_n          2.225571  3.201970e-08
Mayo=Mayo_y         -2.225571  3.201970e-08
Cheese=Cheese_n      1.953052  6.068675e-05
Cheese=Cheese_y     -1.953052  6.068675e-05

In [63]:
DimDesc["Dim.1"]["quali"]

                  R2        pvalue
Sick        0.744772  7.698159e-16
Abdominals  0.699700  3.929046e-14
Diarrhae    0.683585  1.392810e-13
Fever       0.598630  4.465878e-11
Mayo        0.474505  3.201970e-08
Cheese      0.287112  6.068675e-05
Nausea      0.263822  1.362612e-04
Vomiting    0.225202  4.979976e-04
Potato      0.082070  4.369935e-02