# MPCA : predict & supvar

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_carsacpm
cars = load_carsacpm()

In [3]:
from scientisttools import MPCA

res_mpca = MPCA(n_components=5)
res_mpca.fit(cars)

MPCA()

In [4]:
# Individuals coordinates
res_mpca.ind_["coord"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

## transform

In [5]:
# transform
res_mpca.transform(cars).head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

## predict

In [6]:
from scientisttools import predictMPCA
predict = predictMPCA(res_mpca,X=cars)
predict.keys()

dict_keys(['coord', 'cos2', 'dist'])

In [7]:
# Coordinates
predict["coord"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2 -2.626868 -1.700462  1.403855  0.374420 -1.431409
CI4 -2.397295  0.966126  1.758490  0.827966 -1.324621
PE6 -1.631235  2.247254  0.329646 -0.568445  1.283136
FI3 -2.086566 -1.102789  0.837737  0.359289  0.400727
FI5 -1.769700 -0.132189 -0.580175 -1.282820  1.868576
FI8  3.766185 -0.661957  1.355248 -1.455975 -0.049329

In [8]:
# Square cosinus
predict["cos2"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
AS2  0.393628  0.164946  0.112423  0.007997  0.116879
CI4  0.394645  0.064096  0.212346  0.047075  0.120489
PE6  0.209410  0.397437  0.008552  0.025430  0.129572
FI3  0.549312  0.153441  0.088546  0.016287  0.020261
FI5  0.298589  0.001666  0.032092  0.156894  0.332887
FI8  0.685984  0.021192  0.088828  0.102522  0.000118

In [9]:
# Square distance
predict["dist"].head(6)

AS2    17.530355
CI4    14.562517
PE6    12.706787
FI3     7.925836
FI5    10.488785
FI8    20.677079
Name: Sq. Dist., dtype: float64

## supvar

In [10]:
# supvar
from scientisttools import splitmix, supvarMPCA
X_quant = splitmix(cars)["quanti"]
X_qual = splitmix(cars)["quali"]
supvar = supvarMPCA(res_mpca, X_quanti_sup=X_quant,X_quali_sup=X_qual)
supvar.keys()

dict_keys(['quanti', 'quali'])

### Supplementary quantitatives

In [11]:
# Coordinates
supvar["quanti"]["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS  0.859012 -0.117609  0.345895  0.036224  0.167043
CYLI  0.950441  0.067598 -0.059370  0.029615 -0.073148
VITE  0.928352 -0.101186  0.103113 -0.225809 -0.101447
VOLU  0.151948  0.375336  0.476545  0.618212  0.279747
RP/P -0.864684  0.223102 -0.009520  0.234878  0.166710
LONG  0.292079  0.269671 -0.334891 -0.069933  0.506087

In [12]:
# Square cosinus
supvar["quanti"]["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
CONS  0.737901  0.013832  0.119644  0.001312  0.027903
CYLI  0.903338  0.004569  0.003525  0.000877  0.005351
VITE  0.861837  0.010239  0.010632  0.050990  0.010292
VOLU  0.023088  0.140877  0.227095  0.382186  0.078259
RP/P  0.747678  0.049774  0.000091  0.055168  0.027792
LONG  0.085310  0.072722  0.112152  0.004891  0.256124

### Supplementary qualitatives

In [13]:
# Coordinates
supvar["quali"]["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -2.135640 -0.388536  0.636887 -0.193961  0.140432
5CV  -0.230486  1.316185 -2.544361  0.159890 -0.813865
6CV   3.212860 -0.169995  0.493586  0.191338  0.249301
ETRA  0.043535 -1.204317 -0.229620 -0.080788  0.104289
FRAN -0.074009  2.047339  0.390355  0.137340 -0.177292
CP1  -2.271768 -0.653732  1.008350  0.222111 -0.279158
CP2  -1.598316  1.569137 -1.163505 -1.049959  0.884451
CP3   1.872981 -0.765926 -1.401290  0.881434  0.026689
CP4   3.931353  1.204762  1.736088 -1.005697 -0.461048

In [14]:
# Square cosinus
supvar["quali"]["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV   0.878882  0.029090  0.078163  0.007249  0.003800
5CV   0.005888  0.191996  0.717490  0.002833  0.073411
6CV   0.963075  0.002696  0.022730  0.003416  0.005799
ETRA  0.001238  0.947619  0.034449  0.004264  0.007106
FRAN  0.001238  0.947619  0.034449  0.004264  0.007106
CP1   0.756059  0.062608  0.148953  0.007227  0.011416
CP2   0.288341  0.277909  0.152798  0.124430  0.088293
CP3   0.511028  0.085458  0.286045  0.113177  0.000104
CP4   0.727370  0.068308  0.141845  0.047600  0.010004

In [15]:
# Value - test
supvar["quali"]["vtest"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
4CV  -4.230151 -1.149997  2.041874 -0.866545  0.712838
5CV  -0.225859  1.927296 -4.035629  0.353399 -2.043827
6CV   4.669788 -0.369215  1.161199  0.627271  0.928599
ETRA  0.116676 -4.823063 -0.996079 -0.488361  0.716279
FRAN -0.116676  4.823063  0.996079  0.488361 -0.716279
CP1  -3.581458 -1.540044  2.573034  0.789796 -1.127830
CP2  -1.566234  2.297694 -1.845444 -2.320677  2.221087
CP3   2.498169 -1.526557 -3.025208  2.651714  0.091227
CP4   3.369988  1.543209  2.408777 -1.944474 -1.012816

In [16]:
# Square distance
supvar["quali"]["dist"]

4CV      5.189497
5CV      9.022799
6CV     10.718245
ETRA     1.530552
FRAN     4.423294
CP1      6.826098
CP2      8.859701
CP3      6.864703
CP4     21.248532
Name: Sq. Dist., dtype: float64

In [17]:
# Square correlation ratio
supvar["quali"]["eta2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FISC  0.917614  0.146278  0.628118  0.028978  0.163154
MARQ  0.000524  0.894690  0.038161  0.009173  0.019733
PRIX  0.928500  0.363985  0.704857  0.498075  0.219240