# CA children

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/children.rda')
children = result["children"]

In [3]:
children["group"] = ["A"]*4 + ["B"]*5 + ["C"]*5 +["D"]*4

In [4]:
from scientisttools import CA
res_ca = CA(n_components=None,row_sup=list(range(14,18)),col_sup=list(range(5,8)),quali_sup=8)
res_ca.fit(children)

CA(col_sup=[5, 6, 7], quali_sup=8, row_sup=[14, 15, 16, 17])

## fit_transform

In [5]:
res_ca.fit_transform(children).iloc[:6,:6]

                  Dim.1     Dim.2     Dim.3     Dim.4
money         -0.115267  0.020046  0.100837  0.084583
future         0.176449 -0.097863 -0.052594 -0.005372
unemployment  -0.212228 -0.070718 -0.004350 -0.037671
circumstances  0.400922  0.330987 -0.015637 -0.068690
hard          -0.249984  0.067650  0.060320 -0.003176
economic       0.353964  0.320724  0.084022  0.154444

## transform

In [6]:
res_ca.transform(res_ca.call_["X"]).iloc[:6,:5]

                  Dim.1     Dim.2     Dim.3     Dim.4
rownames
money         -0.115267  0.020046  0.100837  0.084583
future         0.176449 -0.097863 -0.052594 -0.005372
unemployment  -0.212228 -0.070718 -0.004350 -0.037671
circumstances  0.400922  0.330987 -0.015637 -0.068690
hard          -0.249984  0.067650  0.060320 -0.003176
economic       0.353964  0.320724  0.084022  0.154444

## Eigenvalues

In [7]:
eig = res_ca.eig_
eig

       eigenvalue  difference  proportion  cumulative
Dim.1    0.035402    0.022287   57.042856   57.042856
Dim.2    0.013115    0.005814   21.131905   78.174761
Dim.3    0.007301    0.001057   11.764358   89.939119
Dim.4    0.006244         NaN   10.060881  100.000000

## Row informations

In [8]:
row = res_ca.row_
row.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Row coordinates

In [9]:
row["coord"].head(6)

                  Dim.1     Dim.2     Dim.3     Dim.4
money         -0.115267  0.020046  0.100837  0.084583
future         0.176449 -0.097863 -0.052594 -0.005372
unemployment  -0.212228 -0.070718 -0.004350 -0.037671
circumstances  0.400922  0.330987 -0.015637 -0.068690
hard          -0.249984  0.067650  0.060320 -0.003176
economic       0.353964  0.320724  0.084022  0.154444

### Row contributions

In [10]:
row["contrib"].head(6)

                   Dim.1      Dim.2      Dim.3      Dim.4
money           4.549939   0.371463  16.883571  13.890815
future         17.567192  14.586929   7.567800   0.092336
unemployment   22.616497   6.778601   0.046080   4.040257
circumstances   6.274473  11.543600   0.046281   1.044260
hard            2.993810   0.591838   0.845179   0.002740
economic       12.004568  26.604422   3.279789  12.957996

### Row Cos2

In [11]:
row["cos2"].head(6)

                  Dim.1     Dim.2     Dim.3     Dim.4
money          0.428449  0.012958  0.327888  0.230705
future         0.715624  0.220132  0.063580  0.000663
unemployment   0.874920  0.097145  0.000368  0.027567
circumstances  0.583965  0.398005  0.000888  0.017142
hard           0.883690  0.064717  0.051451  0.000143
economic       0.483622  0.397055  0.027250  0.092073

### Row additionals informations

In [12]:
row["infos"].head(6)

                   dist     marge   inertia
money          0.176099  0.121231  0.003759
future         0.208582  0.199749  0.008690
unemployment   0.226891  0.177764  0.009151
circumstances  0.524646  0.013819  0.003804
hard           0.265927  0.016960  0.001199
economic       0.508986  0.033920  0.008787

## Columns informations

In [13]:
col = res_ca.col_
col.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Columns coordinates

In [14]:
col["coord"].head(6)

                        Dim.1     Dim.2     Dim.3     Dim.4
unqualified         -0.209318 -0.080727  0.072630  0.095862
cep                 -0.138577  0.056047 -0.018139 -0.084279
bepc                 0.108758 -0.028483 -0.147013  0.060587
high_school_diploma  0.274039 -0.121344  0.076653 -0.057914
university           0.231233  0.317858  0.094188  0.090330

### Columns contributions

In [15]:
col["contrib"].head(6)

                         Dim.1      Dim.2      Dim.3      Dim.4
unqualified          25.110193  10.081893  14.658839  29.860130
cep                  18.297373   8.079359   1.520060  38.372052
bepc                  6.757893   1.251193  59.873926  11.890857
high_school_diploma  37.975661  20.099117  14.406774   9.616438
university           11.858880  60.488438   9.540400  10.260524

### Columns Cos2

In [16]:
col["cos2"].head(6)

                        Dim.1     Dim.2     Dim.3     Dim.4
unqualified          0.676189  0.100577  0.081411  0.141822
cep                  0.644915  0.105494  0.011049  0.238541
bepc                 0.311900  0.021393  0.569913  0.096795
high_school_diploma  0.758166  0.148653  0.059319  0.033862
university           0.311711  0.589004  0.051718  0.047568

### Columns additionals informations

In [17]:
col["infos"].head(6)

                         dist     marge   inertia
unqualified          0.254549  0.202889  0.013146
cep                  0.172559  0.337312  0.010044
bepc                 0.194739  0.202261  0.007670
high_school_diploma  0.314725  0.179020  0.017732
university           0.414165  0.078518  0.013468

## Supplementary columns

In [18]:
col_sup = res_ca.col_sup_
col_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

### Supplementary columns coordinates

In [19]:
col_sup["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.105413 -0.059696 -0.103226  0.069780
fifty      -0.017064  0.049077 -0.015689 -0.013061
more_fifty -0.177068 -0.048138  0.100773 -0.085175

### Supplementary columns Cos2

In [20]:
col_sup["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4
thirty      0.137560  0.044115  0.131911  0.060278
fifty       0.010870  0.089903  0.009188  0.006368
more_fifty  0.286099  0.021145  0.092667  0.066201

### Supplementary dist

In [21]:
col_sup["dist"].head(6)

thirty        0.284217
fifty         0.163677
more_fifty    0.331041
Name: dist, dtype: float64

## Supplementary qualitatives

In [22]:
quali_sup = res_ca.quali_sup_
quali_sup.keys()

dict_keys(['coord', 'cos2', 'vtest', 'eta2', 'dist', 'summary_quali'])

### Supplementary qualitatives coordinates

In [23]:
quali_sup["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A -0.021294 -0.048999  0.001423  0.002995
B  0.004519  0.093721  0.024615  0.002073
C  0.033353  0.025645 -0.017511 -0.006352

### Supplementary qualitatives cos2

In [24]:
quali_sup["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A  0.158249  0.837913  0.000707  0.003131
B  0.002169  0.933017  0.064358  0.000456
C  0.525452  0.310650  0.144839  0.019059

### Supplementary qualitatives dist

In [25]:
quali_sup["dist"]

A    0.053529
B    0.097027
C    0.046011
Name: dist, dtype: float64

### supplementary qualitatives vtest

In [26]:
quali_sup["vtest"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4
A -0.870975 -2.004171  0.058216  0.122506
B  0.085968  1.782850  0.468242  0.039425
C  0.875353  0.673057 -0.459577 -0.166714

### Supplementary qualitatives eta2

In [27]:
quali_sup["eta2"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4
group  0.016166  0.233092  0.028208  0.002816

## Supplementary rows

In [28]:
row_sup = res_ca.row_sup_
row_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

### Supplementary dist2

In [29]:
row_sup["dist"]

rownames
comfort         0.798621
disagreement    0.403655
world           0.559156
to_live         0.826952
Name: dist, dtype: float64

### Supplementary rows coordinates

In [30]:
row_sup["coord"]

                 Dim.1     Dim.2     Dim.3     Dim.4
comfort       0.209670  0.703168  0.071112  0.307135
disagreement  0.146278  0.119011  0.171089 -0.313217
world         0.523304  0.142971  0.083993 -0.106360
to_live       0.308307  0.502019  0.520934  0.255736

### Supplementary cos2

In [31]:
row_sup["cos2"]

                 Dim.1     Dim.2     Dim.3     Dim.4
comfort       0.068928  0.775240  0.007929  0.147903
disagreement  0.131322  0.086926  0.179649  0.602103
world         0.875877  0.065377  0.022564  0.036182
to_live       0.138997  0.368536  0.396830  0.095636

## Extractions functions

In [32]:
from scientisttools import get_ca

row = get_ca(res_ca,choice="row")
row_sup = get_ca(res_ca,choice="row_sup")
col = get_ca(res_ca,choice="col")
col_sup = get_ca(res_ca,choice="col_sup")
qual_sup = get_ca(res_ca,choice="quali_sup")

## Summary

In [33]:
from scientisttools import summaryCA
summaryCA(res_ca)

                     Correspondence Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3    Dim.4
Variance                  0.035   0.013   0.007    0.006
Difference                0.022   0.006   0.001      NaN
% of var.                57.043  21.132  11.764   10.061
Cumulative of % of var.  57.043  78.175  89.939  100.000

Rows

                dist  marge  inertia  Dim.1     ctr   cos2  Dim.2     ctr  \
money          0.176  0.121    0.004 -0.115   4.550  0.428  0.020   0.371
future         0.209  0.200    0.009  0.176  17.567  0.716 -0.098  14.587
unemployment   0.227  0.178    0.009 -0.212  22.616  0.875 -0.071   6.779
circumstances  0.525  0.014    0.004  0.401   6.274  0.584  0.331  11.544
hard           0.266  0.017    0.001 -0.250   2.994  0.884  0.068   0.592
economic       0.509  0.034    0.009  0.354  12.005  0.484  0.321  26.604
egoism         0.221  0.067    0.003  0.060   0.681  0.073 -0.026   0.338
employment     0.337  0.050    0.006 -0.137   2.621  0.164  0.215  17.555
finances       0.451  0.018    0.004 -0.237   2.790  0.276 -0.206   5.690
war            0.251  0.016    0.001  0.217   2.169  0.749 -0.075   0.694

                cos2  Dim.3     ctr   cos2
money          0.013  0.101  16.884  0.328
future         0.220 -0.053   7.568  0.064
unemployment   0.097 -0.004   0.046  0.000
circumstances  0.398 -0.016   0.046  0.001
hard           0.065  0.060   0.845  0.051
economic       0.397  0.084   3.280  0.027
egoism         0.013  0.179  29.496  0.655
employment     0.408 -0.213  30.815  0.398
finances       0.209 -0.044   0.469  0.010
war            0.089 -0.098   2.139  0.152

Supplementary rows

               dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
comfort       0.799  0.210  0.069  0.703  0.775  0.071  0.008
disagreement  0.404  0.146  0.131  0.119  0.087  0.171  0.180
world         0.559  0.523  0.876  0.143  0.065  0.084  0.023
to_live       0.827  0.308  0.139  0.502  0.369  0.521  0.397

Columns

                      dist  marge  inertia  Dim.1     ctr   cos2  Dim.2  \
unqualified          0.255  0.203    0.013 -0.209  25.110  0.676 -0.081
cep                  0.173  0.337    0.010 -0.139  18.297  0.645  0.056
bepc                 0.195  0.202    0.008  0.109   6.758  0.312 -0.028
high_school_diploma  0.315  0.179    0.018  0.274  37.976  0.758 -0.121
university           0.414  0.079    0.013  0.231  11.859  0.312  0.318

                        ctr   cos2  Dim.3     ctr   cos2
unqualified          10.082  0.101  0.073  14.659  0.081
cep                   8.079  0.105 -0.018   1.520  0.011
bepc                  1.251  0.021 -0.147  59.874  0.570
high_school_diploma  20.099  0.149  0.077  14.407  0.059
university           60.488  0.589  0.094   9.540  0.052

Supplementary columns

             dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
thirty      0.284  0.105  0.138 -0.060  0.044 -0.103  0.132
fifty       0.164 -0.017  0.011  0.049  0.090 -0.016  0.009
more_fifty  0.331 -0.177  0.286 -0.048  0.021  0.101  0.093

Supplementary categories

    dist  Dim.1   cos2  vtest  Dim.2   cos2  vtest  Dim.3   cos2  vtest
A  0.054 -0.021  0.158 -0.871 -0.049  0.838 -2.004  0.001  0.001  0.058
B  0.097  0.005  0.002  0.086  0.094  0.933  1.783  0.025  0.064  0.468
C  0.046  0.033  0.525  0.875  0.026  0.311  0.673 -0.018  0.145 -0.460

Supplementary qualitatives variables (eta2)

       Dim.1  Dim.2  Dim.3
group  0.016  0.233  0.028

In [34]:
from scientisttools import dimdesc
dimDesc = dimdesc(res_ca)
dimDesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4'])

In [35]:
dimDesc["Dim.1"]

{'row':                   coord
 hard          -0.249984
 finances      -0.236996
 unemployment  -0.212228
 work          -0.211677
 employment    -0.136755
 money         -0.115267
 housing       -0.006681
 egoism         0.059889
 health         0.111652
 disagreement   0.146278
 future         0.176449
 fear           0.203348
 comfort        0.209670
 war            0.216824
 to_live        0.308307
 economic       0.353964
 circumstances  0.400922
 world          0.523304,
 'col':                         coord
 unqualified         -0.209318
 more_fifty          -0.177068
 cep                 -0.138577
 fifty               -0.017064
 thirty               0.105413
 bepc                 0.108758
 university           0.231233
 high_school_diploma  0.274039}