# MFA with Frequency Data

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
result = pyreadr.read_r('./data/mortality.rda') 

mortality = result["mortality"]
mortality.head(6)

,15-24 (79),25-34 (79),35-44 (79),45-54 (79),55-64 (79),65-74 (79),75-84 (79),85-94 (79),95 and more (79),15-24 (06),25-34 (06),35-44 (06),45-54 (06),55-64 (06),65-74 (06),75-84 (06),85-94 (06),95 and more (06)
rownames,,,,,,,,,,,,,,,,,,
Accidental poisoning,82,72,54,64,43,74,73,40,1,54,109,141,135,89,97,196,159,27
Addiction to prescription medication,7,4,2,6,6,2,6,0,0,18,77,72,15,4,2,1,0,0
Alcohol abuse and alcohol-related psychosis,15,135,360,862,757,806,391,43,2,14,79,403,977,786,397,245,52,3
Asthma,17,28,29,102,167,397,556,184,15,12,11,30,81,99,138,290,280,52
Blood and hematopoietic disorders,30,38,47,110,192,482,838,417,23,20,22,43,94,159,259,642,670,213
Cerebrovascular disease,92,269,551,1924,3597,13683,28719,16169,1153,35,75,311,902,1575,3719,12172,11385,2464

In [3]:
mortality.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, Accidental poisoning to Viral hepatitis
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   15-24 (79)        62 non-null     int32
 1   25-34 (79)        62 non-null     int32
 2   35-44 (79)        62 non-null     int32
 3   45-54 (79)        62 non-null     int32
 4   55-64 (79)        62 non-null     int32
 5   65-74 (79)        62 non-null     int32
 6   75-84 (79)        62 non-null     int32
 7   85-94 (79)        62 non-null     int32
 8   95 and more (79)  62 non-null     int32
 9   15-24 (06)        62 non-null     int32
 10  25-34 (06)        62 non-null     int32
 11  35-44 (06)        62 non-null     int32
 12  45-54 (06)        62 non-null     int32
 13  55-64 (06)        62 non-null     int32
 14  65-74 (06)        62 non-null     int32
 15  75-84 (06)        62 non-null     int32
 16  85-94 (06)        62 non-null     int32
 17  95 and more (06)  62 non-null     int32
dtypes: int32(18)
memory usage: 4.8+ KB

In [4]:
from scientisttools import MFACT

res_mfact = MFACT(group=[9,9],name_group=["1979","2006"],parallelize=True)
res_mfact.fit(mortality)

MFACT(group=[9, 9], name_group=['1979', '2006'], parallelize=True)

## Eigenvalues

In [5]:
res_mfact.eig_

        eigenvalue  difference  proportion  cumulative
Dim.1     1.790017    0.790531   52.419597   52.419597
Dim.2     0.999487    0.737950   29.269372   81.688969
Dim.3     0.261537    0.112399    7.658951   89.347920
Dim.4     0.149137    0.040394    4.367399   93.715320
Dim.5     0.108743    0.069603    3.184482   96.899802
Dim.6     0.039141    0.012226    1.146214   98.046016
Dim.7     0.026915    0.009819    0.788178   98.834193
Dim.8     0.017095    0.008877    0.500624   99.334817
Dim.9     0.008219    0.002110    0.240678   99.575495
Dim.10    0.006109    0.002964    0.178889   99.754384
Dim.11    0.003144    0.000988    0.092084   99.846468
Dim.12    0.002156    0.000690    0.063137   99.909605
Dim.13    0.001466    0.000613    0.042918   99.952522
Dim.14    0.000853    0.000419    0.024976   99.977498
Dim.15    0.000434    0.000099    0.012704   99.990202
Dim.16    0.000335    0.000335    0.009798  100.000000

## Individuals informations

In [6]:
ind = res_mfact.ind_
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Individuals coordinates

In [7]:
ind["coord"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,3.591553,1.476948,1.307673,-1.512939,-0.242958
Addiction to prescription medication,9.150432,4.583088,7.102878,-9.138326,-1.886382
Alcohol abuse and alcohol-related psychosis,2.557269,-1.775788,1.720868,0.382654,-0.189941
Asthma,0.098139,-0.119596,-0.020425,-0.100614,-0.190272
Blood and hematopoietic disorders,-0.266299,0.333918,0.038547,0.027917,-0.095646
Cerebrovascular disease,-0.812484,0.296364,-0.006554,-0.337405,0.126141

### Individuals contributions

In [8]:
ind["contrib"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,1.045388,0.316609,0.948495,2.226518,0.078746
Addiction to prescription medication,0.997636,0.448214,4.114166,11.942433,0.697916
Alcohol abuse and alcohol-related psychosis,2.220682,1.917768,6.882607,0.596783,0.201663
Asthma,0.001286,0.003421,0.000381,0.016225,0.079578
Blood and hematopoietic disorders,0.016362,0.046075,0.002346,0.002158,0.034745
Cerebrovascular disease,3.500259,0.834072,0.001559,7.245100,1.388801

### Individuals cos2

In [9]:
ind["cos2"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,0.655988,0.110933,0.086962,0.116406,0.003002
Addiction to prescription medication,0.280765,0.070433,0.169172,0.280022,0.011932
Alcohol abuse and alcohol-related psychosis,0.481675,0.232265,0.218120,0.010785,0.002657
Asthma,0.051722,0.076811,0.002240,0.054363,0.194420
Blood and hematopoietic disorders,0.292679,0.460183,0.006133,0.003217,0.037756
Cerebrovascular disease,0.712616,0.094815,0.000046,0.122894,0.017177

## Frequences informations

In [10]:
freq = res_mfact.freq_
freq.keys()

dict_keys(['coord', 'contrib', 'cos2'])

### Frequences coordinates

In [11]:
freq["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)  2.622661  1.893155 -0.999381  0.406335  0.293168
25-34 (79)  1.824329  0.937611  0.041349 -0.022692 -0.219566
35-44 (79)  1.102195  0.082926  0.182147  0.224955 -0.240623
45-54 (79)  0.616812 -0.428559  0.130310  0.315640 -0.142722
55-64 (79)  0.321468 -0.457718 -0.004764  0.161914 -0.097336
65-74 (79) -0.004632 -0.238917 -0.102375 -0.029399 -0.088251

### Frequences contributions

In [12]:
freq["contrib"].head(6)

                Dim.1      Dim.2      Dim.3      Dim.4     Dim.5
15-24 (79)  18.759847  17.506438  18.643677   5.404859  3.858624
25-34 (79)   9.679354   4.578951   0.034032   0.017974  2.307943
35-44 (79)   5.209589   0.052814   0.973766   2.604648  4.087117
45-54 (79)   4.398315   3.802609   1.343578  13.824078  3.876300
55-64 (79)   1.718765   6.240470   0.002583   5.233353  2.593823
65-74 (79)   0.000812   3.869200   2.714900   0.392616  4.852238

### Frequences cos2

In [13]:
freq["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)  0.584828  0.304731  0.084919  0.014038  0.007308
25-34 (79)  0.719141  0.189956  0.000369  0.000111  0.010417
35-44 (79)  0.845865  0.004788  0.023101  0.035235  0.040314
45-54 (79)  0.526990  0.254400  0.023521  0.138001  0.028215
55-64 (79)  0.287357  0.582562  0.000063  0.072898  0.026345
65-74 (79)  0.000256  0.682104  0.125239  0.010328  0.093067

## Partial axes

In [14]:
partial_axes = res_mfact.partial_axes_
partial_axes.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2', 'cor_between'])

### Partial axes coordinates

In [15]:
partial_axes["coord"]

           1979                                              2006            \
          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Dim.1  0.941869 -0.194696  0.072220 -0.047823  0.034270  0.912766  0.294820
Dim.2  0.233804  0.916285  0.023250 -0.057020 -0.094957 -0.326866  0.908512
Dim.3 -0.151476 -0.041965  0.828280 -0.266658 -0.055781  0.125462  0.221822
Dim.4  0.159800 -0.138617  0.333275  0.538807 -0.105105 -0.168646 -0.068456
Dim.5 -0.072789  0.296280  0.207478  0.537257  0.288950  0.119901 -0.128932


          Dim.3     Dim.4     Dim.5
Dim.1 -0.112858  0.133086 -0.060442
Dim.2 -0.153775  0.112983  0.028498
Dim.3  0.902936 -0.224690  0.084144
Dim.4  0.332542  0.753632 -0.165421
Dim.5 -0.036175  0.516608  0.355412

### Partial axes contributions

In [16]:
partial_axes["contrib"]

            1979                                                  2006  \
           Dim.1      Dim.2      Dim.3      Dim.4     Dim.5      Dim.1
Dim.1  49.559618   0.921511   0.025711   0.005496  0.000644  46.544217
Dim.2   5.469612  36.555649   0.004773   0.013995  0.008859  10.690368
Dim.3   8.774020   0.293038  23.147924   1.169731  0.011683   6.019077
Dim.4  17.135542   5.610730   6.576574   8.380705  0.072790  19.085234
Dim.5   4.893108  35.277083   3.507867  11.467808  0.757129  13.276736


           Dim.2      Dim.3      Dim.4     Dim.5
Dim.1   2.750991   0.110395   0.076284  0.005132
Dim.2  46.789148   0.367083   0.098470  0.002043
Dim.3  10.659747  48.368368   1.488331  0.068080
Dim.4   1.781561  11.512727  29.382404  0.461732
Dim.5   8.697608   0.187497  19.001739  2.933427

### Partial axes correlation between

In [17]:
partial_axes["cor_between"].round(4)

              1979                                    2006                  \
             Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2   Dim.3
1979 Dim.1  1.0000 -0.0000 -0.0000  0.0000 -0.0000  0.7262  0.4466 -0.2196
     Dim.2 -0.0000  1.0000  0.0000  0.0000  0.0000 -0.4262  0.7224 -0.2019
     Dim.3 -0.0000  0.0000  1.0000 -0.0000 -0.0000  0.1209  0.1526  0.7911
     Dim.4  0.0000  0.0000 -0.0000  1.0000 -0.0000 -0.0711 -0.1690 -0.1071
     Dim.5 -0.0000  0.0000 -0.0000  0.0000  1.0000  0.0901 -0.1304 -0.0700
2006 Dim.1  0.7262 -0.4262  0.1209 -0.0711  0.0901  1.0000 -0.0000  0.0000
     Dim.2  0.4466  0.7224  0.1526 -0.1690 -0.1304 -0.0000  1.0000 -0.0000
     Dim.3 -0.2196 -0.2019  0.7911 -0.1071 -0.0700  0.0000 -0.0000  1.0000
     Dim.4  0.2535  0.1170  0.1077  0.7639  0.0350  0.0000 -0.0000  0.0000
     Dim.5 -0.1023  0.1311  0.1073  0.0587  0.6840 -0.0000  0.0000  0.0000


             Dim.4   Dim.5
1979 Dim.1  0.2535 -0.1023
     Dim.2  0.1170  0.1311
     Dim.3  0.1077  0.1073
     Dim.4  0.7639  0.0587
     Dim.5  0.0350  0.6840
2006 Dim.1  0.0000 -0.0000
     Dim.2 -0.0000  0.0000
     Dim.3  0.0000  0.0000
     Dim.4  1.0000 -0.0000
     Dim.5 -0.0000  1.0000

### Groups informations

In [18]:
groups = res_mfact.group_
groups.keys()

dict_keys(['dist2'])

In [19]:
groups["dist2"]

1979    1.199097
2006    1.351673
Name: dist2, dtype: float64

## Extraction

In [20]:
from scientisttools import get_eig,get_mfa, summaryMFACT
eig = get_eig(res_mfact)
ind = get_mfa(res_mfact,choice="ind")
freq = get_mfa(res_mfact,choice ="freq")
partial_axes = get_mfa(res_mfact,choice = "partial_axes")

In [21]:
summaryMFACT(res_mfact)

                     Multiple Factor Analysis for Contingence Tables - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.790   0.999   0.262   0.149   0.109
Difference                0.791   0.738   0.112   0.040   0.070
% of var.                52.420  29.269   7.659   4.367   3.184
Cumulative of % of var.  52.420  81.689  89.348  93.715  96.900

Groups

      dist2
1979  1.199
2006  1.352

Individuals (the 10 first)

                                                dist  weight  inertia  Dim.1  \
Accidental poisoning                           4.434   0.001    0.029  3.592
Addiction to prescription medication          17.269   0.000    0.064  9.150
Alcohol abuse and alcohol-related psychosis    3.685   0.006    0.083  2.557
Asthma                                         0.432   0.002    0.000  0.098
Blood and hematopoietic disorders              0.492   0.004    0.001 -0.266
Cerebrovascular disease                        0.962   0.095    0.088 -0.812
Chronic liver disease                          2.809   0.023    0.179  1.617
Complications in pregnancy and childbirth     13.213   0.000    0.025  9.222
Congenital defects of the circulatory system   5.326   0.001    0.015  4.888
Congenital defects of the nervous system       6.404   0.000    0.004  5.534

                                                ctr   cos2  Dim.2    ctr  \
Accidental poisoning                          1.045  0.656  1.477  0.317
Addiction to prescription medication          0.998  0.281  4.583  0.448
Alcohol abuse and alcohol-related psychosis   2.221  0.482 -1.776  1.918
Asthma                                        0.001  0.052 -0.120  0.003
Blood and hematopoietic disorders             0.016  0.293  0.334  0.046
Cerebrovascular disease                       3.500  0.713  0.296  0.834
Chronic liver disease                         3.312  0.331 -1.924  8.400
Complications in pregnancy and childbirth     0.685  0.487  6.043  0.527
Congenital defects of the circulatory system  0.692  0.842  1.842  0.176
Congenital defects of the nervous system      0.179  0.747  2.587  0.070

                                               cos2  Dim.3    ctr   cos2
Accidental poisoning                          0.111  1.308  0.948  0.087
Addiction to prescription medication          0.070  7.103  4.114  0.169
Alcohol abuse and alcohol-related psychosis   0.232  1.721  6.883  0.218
Asthma                                        0.077 -0.020  0.000  0.002
Blood and hematopoietic disorders             0.460  0.039  0.002  0.006
Cerebrovascular disease                       0.095 -0.007  0.002  0.000
Chronic liver disease                         0.469  0.503  2.197  0.032
Complications in pregnancy and childbirth     0.209  2.281  0.287  0.030
Congenital defects of the circulatory system  0.120  0.028  0.000  0.000
Congenital defects of the nervous system      0.163 -0.288  0.003  0.002

Frequencies (the 10 first)

                  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
15-24 (79)        2.623  18.760  0.585  1.893  17.506  0.305 -0.999  18.644
25-34 (79)        1.824   9.679  0.719  0.938   4.579  0.190  0.041   0.034
35-44 (79)        1.102   5.210  0.846  0.083   0.053  0.005  0.182   0.974
45-54 (79)        0.617   4.398  0.527 -0.429   3.803  0.254  0.130   1.344
55-64 (79)        0.321   1.719  0.287 -0.458   6.240  0.583 -0.005   0.003
65-74 (79)       -0.005   0.001  0.000 -0.239   3.869  0.682 -0.102   2.715
75-84 (79)       -0.281   4.276  0.775  0.066   0.425  0.043 -0.033   0.408
85-94 (79)       -0.444   5.713  0.535  0.294   4.481  0.234  0.169   5.661
95 and more (79) -0.537   0.757  0.261  0.483   1.097  0.211  0.448   3.617
15-24 (06)        2.519  10.436  0.613  1.761   9.136  0.300 -0.561   3.547

                   cos2
15-24 (79)        0.085
25-34 (79)        0.000
35-44 (79)        0.023
45-54 (79)        0.024
55-64 (79)        0.000
65-74 (79)        0.125
75-84 (79)        0.011
85-94 (79)        0.077
95 and more (79)  0.182
15-24 (06)        0.030