# Specific MCA (speMCA)

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
import pyreadr
import pandas as pd
result = pyreadr.read_r('./data/Music.RData')
Music = result["Music"]

from scientisttools import SpecificMCA

In [3]:
# Junk 
excl = {"FrenchPop" : "NA", 
        "Rap" : "NA" , 
        "Rock" : "NA", 
        "Jazz" : "NA",
        "Classical" : "NA"}

music = pd.concat((Music, Music),ignore_index=True)
res_spemca = SpecificMCA(n_components=5,excl=excl,quali_sup=list(range(5,Music.shape[1])),ind_sup=list(range(500,music.shape[0])))
res_spemca.fit(music)

SpecificMCA(excl={'Classical': 'NA', 'FrenchPop': 'NA', 'Jazz': 'NA',
                  'Rap': 'NA', 'Rock': 'NA'},
            ind_sup=[500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511,
                     512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523,
                     524, 525, 526, 527, 528, 529, ...],
            n_components=5, quali_sup=[5, 6, 7, 8])

## fit_transform

In [4]:
res_spemca.fit_transform(music).head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
0 -0.030826  0.380844 -0.254910 -0.678010  0.192877
1 -0.564463  0.643735  0.715254  0.566608 -0.099870
2 -0.082440  0.397394  0.272570 -0.845866  0.257154
3 -0.082440  0.397394  0.272570 -0.845866  0.257154
4  0.277382 -0.549096 -0.268276  0.379534  0.446372
5  0.000958  0.366937 -0.595191 -0.569505  0.155839

## transform

In [5]:
res_spemca.transform(Music.iloc[:,:5]).head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
0 -0.030668  0.380866 -0.259924 -0.680326  0.188248
1 -0.564305  0.643757  0.710240  0.564292 -0.104499
2 -0.082282  0.397415  0.267556 -0.848182  0.252525
3 -0.082282  0.397415  0.267556 -0.848182  0.252525
4  0.277540 -0.549075 -0.273290  0.377218  0.441743
5  0.001115  0.366959 -0.600206 -0.571821  0.151211

## Eigenvalues

In [6]:
res_spemca.eig_

,eigenvalue,difference,proportion,cumulative,modified rates,cumulative modified rates
Dim.1,0.278521,0.060524,27.489204,27.489204,94.86338,94.86338
Dim.2,0.217997,0.014839,21.515651,49.004854,4.98323,99.84661
Dim.3,0.203157,0.031705,20.051068,69.055922,0.15339,100.00000
Dim.4,0.171452,0.042499,16.921878,85.977800,0.00000,100.00000
Dim.5,0.128953,0.124990,12.727322,98.705121,0.00000,100.00000
Dim.6,0.003964,0.001174,0.391203,99.096324,0.00000,100.00000
Dim.7,0.002790,0.000175,0.275336,99.371660,0.00000,100.00000
Dim.8,0.002615,0.000626,0.258110,99.629770,0.00000,100.00000
Dim.9,0.001990,0.000228,0.196364,99.826134,0.00000,100.00000
Dim.10,0.001762,NaN,0.173866,100.000000,0.00000,100.00000

## Individuals informations

In [7]:
ind = res_spemca.ind_
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

### Individuals coordinates

In [8]:
ind["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
0 -0.030826  0.380844 -0.254910 -0.678010  0.192877
1 -0.564463  0.643735  0.715254  0.566608 -0.099870
2 -0.082440  0.397394  0.272570 -0.845866  0.257154
3 -0.082440  0.397394  0.272570 -0.845866  0.257154
4  0.277382 -0.549096 -0.268276  0.379534  0.446372
5  0.000958  0.366937 -0.595191 -0.569505  0.155839

### Individuals cos2

In [9]:
ind["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
0  0.001049  0.160194  0.071767  0.507721  0.041088
1  0.180659  0.234965  0.290075  0.182035  0.005655
2  0.006657  0.154692  0.072775  0.700857  0.064776
3  0.006657  0.154692  0.072775  0.700857  0.064776
4  0.096903  0.379731  0.090645  0.181418  0.250941
5  0.000001  0.160741  0.422918  0.387203  0.028993

### Individuals contributions

In [10]:
ind["contrib"].head(6)

          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
0  6.823395e-04  0.133068  0.063969  0.536239  0.057698
1  2.287931e-01  0.380185  0.503637  0.374500  0.015469
2  4.880301e-03  0.144885  0.073140  0.834621  0.102562
3  4.880301e-03  0.144885  0.073140  0.834621  0.102562
4  5.524976e-02  0.276616  0.070853  0.168030  0.309023
5  6.586734e-07  0.123528  0.348747  0.378340  0.037666

### Individuals additionals informations

In [11]:
ind["infos"].head(6)

       dist  weight   inertia
0  0.951532   0.002  0.001811
1  1.328022   0.002  0.003527
2  1.010385   0.002  0.002042
3  1.010385   0.002  0.002042
4  0.891068   0.002  0.001588
5  0.915227   0.002  0.001675

## Variables (categories) informations

In [12]:
var = res_spemca.var_
var.keys()

dict_keys(['coord', 'corrected_coord', 'contrib', 'cos2', 'infos', 'vtest', 'eta2', 'inertia', 'var_contrib'])

### Variables coordintates

In [13]:
var["coord"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FrenchPop_No  -0.136197  0.038636  1.188756 -0.347519  0.115410
FrenchPop_Yes  0.083869 -0.032464 -0.766875  0.224642 -0.066501
Rap_No         0.117808 -0.314256 -0.065482 -0.261996 -0.036594
Rap_Yes       -0.642112  1.698016  0.355883  1.423280  0.182771
Rock_No       -0.247889 -0.411519  0.133232  0.323051 -0.160989
Rock_Yes       0.651519  1.110882 -0.340222 -0.858693  0.426610
Jazz_No       -0.387389 -0.085214 -0.102834 -0.057282  0.272805
Jazz_Yes       1.609523  0.361099  0.355162  0.229163 -1.159085
Classical_No  -0.462864  0.177721 -0.077240 -0.230536 -0.324821
Classical_Yes  1.165961 -0.438364  0.186059  0.552555  0.784429

### Corrected variables coordinates

In [14]:
var["corrected_coord"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FrenchPop_No  -0.071878  0.018039  0.535808 -0.143897  0.041444
FrenchPop_Yes  0.044262 -0.015158 -0.345653  0.093017 -0.023881
Rap_No         0.062173 -0.146727 -0.029515 -0.108484 -0.013141
Rap_Yes       -0.338875  0.792805  0.160407  0.589335  0.065633
Rock_No       -0.130824 -0.192139  0.060051  0.133765 -0.057811
Rock_Yes       0.343840  0.518672 -0.153348 -0.355558  0.153196
Jazz_No       -0.204445 -0.039786 -0.046351 -0.023719  0.097965
Jazz_Yes       0.849426  0.168597  0.160082  0.094889 -0.416228
Classical_No  -0.244277  0.082978 -0.034814 -0.095458 -0.116643
Classical_Yes  0.615336 -0.204673  0.083862  0.228795  0.281689

### Variables cos2

In [15]:
var["cos2"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FrenchPop_No   0.011760  0.000946  0.895912  0.076566  0.008444
FrenchPop_Yes  0.010639  0.001594  0.889534  0.076330  0.006689
Rap_No         0.069728  0.496165  0.021543  0.344863  0.006728
Rap_Yes        0.075054  0.524848  0.023055  0.368749  0.006081
Rock_No        0.158012  0.435466  0.045645  0.268360  0.066645
Rock_Yes       0.156998  0.456432  0.042812  0.272720  0.067314
Jazz_No        0.564551  0.027317  0.039782  0.012344  0.279971
Jazz_Yes       0.607663  0.030586  0.029588  0.012318  0.315137
Classical_No   0.504693  0.074404  0.014054  0.125198  0.248547
Classical_Yes  0.539229  0.076221  0.013731  0.121103  0.244069

### Variables contributions

In [16]:
var["contrib"]

                   Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
FrenchPop_No    0.516818   0.053136  53.977671   5.466075   0.801522
FrenchPop_Yes   0.304068   0.058209  34.853219   3.543750   0.412908
Rap_No          0.831162   7.556392   0.352049   6.677906   0.173217
Rap_Yes         4.559478  40.736581   1.920143  36.390471   0.797873
Rock_No         3.177022  11.186467   1.258184   8.765206   2.894161
Rock_Yes        8.229826  30.568889   3.076714  23.223416   7.621192
Jazz_No         8.513241   0.526292   0.822434   0.302381   9.118656
Jazz_Yes       35.344389   2.272931   2.359414   1.163931  39.589655
Classical_No   10.799813   2.034206   0.412300   4.352110  11.487415
Classical_Yes  27.724183   5.006896   0.967873  10.114755  27.103402

### Variables vtest

In [17]:
var["vtest"]

                   Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
FrenchPop_No   -2.422462   0.687195  21.143797  -6.181149   2.052737
FrenchPop_Yes   2.304133  -0.891896 -21.068399   6.171591  -1.826991
Rap_No          5.898651 -15.734875  -3.278682 -13.118170  -1.832281
Rap_Yes        -6.119787  16.183305   3.391823  13.564875   1.741940
Rock_No        -8.879634 -14.741021   4.772486  11.572021  -5.766784
Rock_Yes        8.851112  15.091712  -4.622041 -11.665645   5.795640
Jazz_No       -16.784243  -3.692020  -4.455460  -2.481844  11.819719
Jazz_Yes       17.413324   3.906706   3.842476   2.479295 -12.540063
Classical_No  -15.869525   6.093256  -2.648196  -7.904036 -11.136646
Classical_Yes  16.403511  -6.167198   2.617606   7.773709  11.035875

### Variables additional informations

In [18]:
var["infos"]

                   dist  weight  inertia
FrenchPop_No   1.255914  0.0776   0.1224
FrenchPop_Yes  0.813099  0.1204   0.0796
Rap_No         0.446140  0.1668   0.0332
Rap_Yes        2.343823  0.0308   0.1692
Rock_No        0.623610  0.1440   0.0560
Rock_Yes       1.644294  0.0540   0.1460
Jazz_No        0.515580  0.1580   0.0420
Jazz_Yes       2.064742  0.0380   0.1620
Classical_No   0.651538  0.1404   0.0596
Classical_Yes  1.587806  0.0568   0.1432

### Variables eta2

In [19]:
var["eta2"]

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FrenchPop  0.011432  0.001214  0.902333  0.077238  0.007830
Rap        0.075070  0.526385  0.023081  0.369209  0.006261
Rock       0.158852  0.455126  0.044033  0.274226  0.067799
Jazz       0.610763  0.030511  0.032321  0.012570  0.314055
Classical  0.536486  0.076747  0.014020  0.124019  0.248821

### Variables inertia

In [20]:
var["inertia"]

FrenchPop    0.004
Rap          0.004
Rock         0.004
Jazz         0.004
Classical    0.004
Name: inertia, dtype: float64

### Variables contributions

In [21]:
var["var_contrib"]

               Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
FrenchPop   0.820886   0.111345  88.830890   9.009825   1.214430
Rap         5.390640  48.292973   2.272192  43.068377   0.971090
Rock       11.406848  41.755357   4.334898  31.988622  10.515353
Jazz       43.857630   2.799224   3.181848   1.466312  48.708311
Classical  38.523996   7.041102   1.380173  14.466864  38.590817

## Supplementary informations

### Supplementary categories

In [22]:
quali_sup = res_spemca.quali_sup_
quali_sup.keys()

dict_keys(['coord', 'cos2', 'dist', 'vtest', 'eta2'])

#### Supplementary categories coordinates

In [23]:
quali_sup["coord"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Gender_Men    -0.002461  0.095251  0.044400  0.011305  0.014944
Gender_Women   0.002521 -0.097565 -0.045478 -0.011579 -0.015307
Age_15-24     -0.445924  0.781930  0.313437  0.002163  0.105164
Age_25-49      0.050511  0.236099 -0.105504 -0.102956  0.003924
Age_50+        0.112283 -0.500710 -0.013419  0.095570 -0.041299
OnlyMus_Daily  0.288376  0.388022  0.318565  0.155123 -0.062893
OnlyMus_Never -0.163751 -0.205135 -0.063253 -0.078817 -0.043484
OnlyMus_Often  0.071372  0.176565  0.082970  0.202373  0.141510
OnlyMus_Rare   0.261283  0.138284 -0.191566 -0.206694 -0.035928
Daily_No      -0.018874 -0.246987 -0.059847  0.016209  0.000612
Daily_Yes      0.029029  0.379884  0.092050 -0.024931 -0.000941

#### Supplementary categories cos2

In [24]:
quali_sup["cos2"]

                  Dim.1     Dim.2     Dim.3         Dim.4         Dim.5
Gender_Men     0.000006  0.009293  0.002019  1.308984e-04  2.287588e-04
Gender_Women   0.000006  0.009293  0.002019  1.308984e-04  2.287588e-04
Age_15-24      0.036754  0.113010  0.018159  8.651541e-07  2.044175e-03
Age_25-49      0.001758  0.038417  0.007671  7.305299e-03  1.061029e-05
Age_50+        0.009746  0.193811  0.000139  7.060691e-03  1.318536e-03
OnlyMus_Daily  0.010912  0.019757  0.013317  3.157605e-03  5.190555e-04
OnlyMus_Never  0.028359  0.044505  0.004231  6.569953e-03  1.999821e-03
OnlyMus_Often  0.001626  0.009953  0.002198  1.307531e-02  6.393200e-03
OnlyMus_Rare   0.010021  0.002807  0.005387  6.271180e-03  1.894804e-04
Daily_No       0.000548  0.093827  0.005509  4.041064e-04  5.758986e-07
Daily_Yes      0.000548  0.093827  0.005509  4.041064e-04  5.758986e-07

#### Supplementary categories vtest

In [25]:
quali_sup["vtest"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Gender_Men    -0.055648  2.153442  1.003786  0.255574  0.337862
Gender_Women   0.055648 -2.153442 -1.003786 -0.255574 -0.337862
Age_15-24     -4.282548  7.509471  3.010171  0.020778  1.009972
Age_25-49      0.936718  4.378377 -1.956531 -1.909278  0.072764
Age_50+        2.205306 -9.834220 -0.263555  1.877042 -0.811141
OnlyMus_Daily  2.333523  3.139856  2.577812  1.255247 -0.508929
OnlyMus_Never -3.761817 -4.712533 -1.453089 -1.810637 -0.998955
OnlyMus_Often  0.900852  2.228578  1.047240  2.554326  1.786115
OnlyMus_Rare   2.236191  1.183501 -1.639519 -1.768988 -0.307491
Daily_No      -0.522876 -6.842473 -1.657996  0.449054  0.016952
Daily_Yes      0.522876  6.842473  1.657996 -0.449054 -0.016952

#### Supplementary variables eta2

In [26]:
quali_sup["eta2"]

            Dim.1     Dim.2     Dim.3     Dim.4         Dim.5
Gender   0.000006  0.009293  0.002019  0.000131  2.287588e-04
Age      0.037558  0.227433  0.019946  0.008308  2.475219e-03
OnlyMus  0.033400  0.049087  0.020192  0.021364  6.442031e-03
Daily    0.000548  0.093827  0.005509  0.000404  5.758986e-07

#### Supplementary categories dist

In [27]:
quali_sup["dist"]

Gender_Men       0.988071
Gender_Women     1.012073
Age_15-24        2.325996
Age_25-49        1.204566
Age_50+          1.137356
OnlyMus_Daily    2.760560
OnlyMus_Never    0.972381
OnlyMus_Often    1.769811
OnlyMus_Rare     2.610077
Daily_No         0.806328
Daily_Yes        1.240190
Name: dist, dtype: float64

### Supplementary individuals

In [28]:
ind_sup = res_spemca.ind_sup_
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

#### Supplementary individuals coordinates

In [29]:
ind_sup["coord"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
500 -0.030668  0.380866 -0.259924 -0.680326  0.188248
501 -0.564305  0.643757  0.710240  0.564292 -0.104499
502 -0.082282  0.397415  0.267556 -0.848182  0.252525
503 -0.082282  0.397415  0.267556 -0.848182  0.252525
504  0.277540 -0.549075 -0.273290  0.377218  0.441743
505  0.001115  0.366959 -0.600206 -0.571821  0.151211

#### Supplementary individuals cos2

In [30]:
ind_sup["cos2"].head(6)

        Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
500  0.001039  0.160212  0.074618  0.511196  0.039139
501  0.180558  0.234981  0.286022  0.180550  0.006192
502  0.006632  0.154709  0.070122  0.704700  0.062465
503  0.006632  0.154709  0.070122  0.704700  0.062465
504  0.097013  0.379701  0.094065  0.179210  0.245763
505  0.000001  0.160760  0.430074  0.390358  0.027296

#### Supplementary individuals dist

In [31]:
ind_sup["dist"].head(6)

500    0.905414
501    1.763643
502    1.020878
503    1.020878
504    0.794002
505    0.837640
Name: dist, dtype: float64

## Extract functions

In [32]:
from scientisttools import get_eig, get_mca, summaryMCA
eig = get_eig(res_spemca)
ind = get_mca(res_spemca,choice="ind")
ind_sup = get_mca(res_spemca,choice="ind_sup")
var = get_mca(res_spemca,choice="var")
quali_sup = get_mca(res_spemca,choice="quali_sup")

In [33]:
summaryMCA(res_spemca)

                     Specific Multiple Correspondance Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.6  \
Variance                  0.279   0.218   0.203   0.171   0.129   0.004
Difference                0.061   0.015   0.032   0.042   0.125   0.001
% of var.                27.489  21.516  20.051  16.922  12.727   0.391
Cumulative of % of var.  27.489  49.005  69.056  85.978  98.705  99.096

                          Dim.7   Dim.8   Dim.9   Dim.10
Variance                  0.003   0.003   0.002    0.002
Difference                0.000   0.001   0.000      NaN
% of var.                 0.275   0.258   0.196    0.174
Cumulative of % of var.  99.372  99.630  99.826  100.000

Individuals (the 10 first)

    dist  weight  inertia  Dim.1    ctr   cos2  Dim.2    ctr   cos2  Dim.3  \
0  0.952   0.002    0.002 -0.031  0.001  0.001  0.381  0.133  0.160 -0.255
1  1.328   0.002    0.004 -0.564  0.229  0.181  0.644  0.380  0.235  0.715
2  1.010   0.002    0.002 -0.082  0.005  0.007  0.397  0.145  0.155  0.273
3  1.010   0.002    0.002 -0.082  0.005  0.007  0.397  0.145  0.155  0.273
4  0.891   0.002    0.002  0.277  0.055  0.097 -0.549  0.277  0.380 -0.268
5  0.915   0.002    0.002  0.001  0.000  0.000  0.367  0.124  0.161 -0.595
6  0.747   0.002    0.001 -0.423  0.129  0.321 -0.255  0.060  0.116  0.483
7  0.915   0.002    0.002  0.001  0.000  0.000  0.367  0.124  0.161 -0.595
8  0.747   0.002    0.001 -0.423  0.129  0.321 -0.255  0.060  0.116  0.483
9  1.316   0.002    0.003 -0.536  0.206  0.166  0.531  0.259  0.163  0.704

     ctr   cos2
0  0.064  0.072
1  0.504  0.290
2  0.073  0.073
3  0.073  0.073
4  0.071  0.091
5  0.349  0.423
6  0.229  0.418
7  0.349  0.423
8  0.229  0.418
9  0.488  0.286

Supplementary Individuals (the 10 first)

      dist  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
500  0.905 -0.031  0.001  0.381  0.160 -0.260  0.075
501  1.764 -0.564  0.181  0.644  0.235  0.710  0.286
502  1.021 -0.082  0.007  0.397  0.155  0.268  0.070
503  1.021 -0.082  0.007  0.397  0.155  0.268  0.070
504  0.794  0.278  0.097 -0.549  0.380 -0.273  0.094
505  0.838  0.001  0.000  0.367  0.161 -0.600  0.430
506  0.558 -0.423  0.321 -0.255  0.116  0.478  0.409
507  0.838  0.001  0.000  0.367  0.161 -0.600  0.430
508  0.558 -0.423  0.321 -0.255  0.116  0.478  0.409
509  1.732 -0.536  0.166  0.531  0.163  0.699  0.282

Categories

                dist  weight  inertia  Dim.1     ctr   cos2   vtest  Dim.2  \
FrenchPop_No   1.256   0.078    0.122 -0.136   0.517  0.012  -2.422  0.039
FrenchPop_Yes  0.813   0.120    0.080  0.084   0.304  0.011   2.304 -0.032
Rap_No         0.446   0.167    0.033  0.118   0.831  0.070   5.899 -0.314
Rap_Yes        2.344   0.031    0.169 -0.642   4.559  0.075  -6.120  1.698
Rock_No        0.624   0.144    0.056 -0.248   3.177  0.158  -8.880 -0.412
Rock_Yes       1.644   0.054    0.146  0.652   8.230  0.157   8.851  1.111
Jazz_No        0.516   0.158    0.042 -0.387   8.513  0.565 -16.784 -0.085
Jazz_Yes       2.065   0.038    0.162  1.610  35.344  0.608  17.413  0.361
Classical_No   0.652   0.140    0.060 -0.463  10.800  0.505 -15.870  0.178
Classical_Yes  1.588   0.057    0.143  1.166  27.724  0.539  16.404 -0.438

                  ctr   cos2   vtest  Dim.3     ctr   cos2   vtest
FrenchPop_No    0.053  0.001   0.687  1.189  53.978  0.896  21.144
FrenchPop_Yes   0.058  0.002  -0.892 -0.767  34.853  0.890 -21.068
Rap_No          7.556  0.496 -15.735 -0.065   0.352  0.022  -3.279
Rap_Yes        40.737  0.525  16.183  0.356   1.920  0.023   3.392
Rock_No        11.186  0.435 -14.741  0.133   1.258  0.046   4.772
Rock_Yes       30.569  0.456  15.092 -0.340   3.077  0.043  -4.622
Jazz_No         0.526  0.027  -3.692 -0.103   0.822  0.040  -4.455
Jazz_Yes        2.273  0.031   3.907  0.355   2.359  0.030   3.842
Classical_No    2.034  0.074   6.093 -0.077   0.412  0.014  -2.648
Classical_Yes   5.007  0.076  -6.167  0.186   0.968  0.014   2.618

Categorical variables (eta2)

           inertia  Dim.1     ctr  Dim.2     ctr  Dim.3     ctr
FrenchPop    0.004  0.011   0.821  0.001   0.111  0.902  88.831
Rap          0.004  0.075   5.391  0.526  48.293  0.023   2.272
Rock         0.004  0.159  11.407  0.455  41.755  0.044   4.335
Jazz         0.004  0.611  43.858  0.031   2.799  0.032   3.182
Classical    0.004  0.536  38.524  0.077   7.041  0.014   1.380

Supplementary categories (the 10 first)

                dist  Dim.1   cos2  v.test  Dim.2   cos2  v.test  Dim.3  \
Gender_Men     0.988 -0.002  0.000  -0.056  0.095  0.009   2.153  0.044
Gender_Women   1.012  0.003  0.000   0.056 -0.098  0.009  -2.153 -0.045
Age_15-24      2.326 -0.446  0.037  -4.283  0.782  0.113   7.509  0.313
Age_25-49      1.205  0.051  0.002   0.937  0.236  0.038   4.378 -0.106
Age_50+        1.137  0.112  0.010   2.205 -0.501  0.194  -9.834 -0.013
OnlyMus_Daily  2.761  0.288  0.011   2.334  0.388  0.020   3.140  0.319
OnlyMus_Never  0.972 -0.164  0.028  -3.762 -0.205  0.045  -4.713 -0.063
OnlyMus_Often  1.770  0.071  0.002   0.901  0.177  0.010   2.229  0.083
OnlyMus_Rare   2.610  0.261  0.010   2.236  0.138  0.003   1.184 -0.192
Daily_No       0.806 -0.019  0.001  -0.523 -0.247  0.094  -6.842 -0.060
Daily_Yes      1.240  0.029  0.001   0.523  0.380  0.094   6.842  0.092

                cos2  v.test
Gender_Men     0.002   1.004
Gender_Women   0.002  -1.004
Age_15-24      0.018   3.010
Age_25-49      0.008  -1.957
Age_50+        0.000  -0.264
OnlyMus_Daily  0.013   2.578
OnlyMus_Never  0.004  -1.453
OnlyMus_Often  0.002   1.047
OnlyMus_Rare   0.005  -1.640
Daily_No       0.006  -1.658
Daily_Yes      0.006   1.658

Supplementary categorical variables (eta2)

         Dim.1  Dim.2  Dim.3
Gender   0.000  0.009  0.002
Age      0.038  0.227  0.020
OnlyMus  0.033  0.049  0.020
Daily    0.001  0.094  0.006

In [34]:
from scientisttools import dimdesc
Dimdesc = dimdesc(res_spemca)
Dimdesc.keys()

dict_keys(['Dim.1', 'Dim.2', 'Dim.3', 'Dim.4', 'Dim.5'])

In [35]:
Dimdesc["Dim.1"]

           Sum. Intra  Sum. Inter        R2     F-stats    pvalue
Jazz        54.204943   85.055363  0.610765  389.932292  0.000000
Classical   64.166386   75.093920  0.539234  290.819543  0.000000
Rock       117.046527   22.213779  0.159513   47.161792  0.000000
Rap        128.801345   10.458961  0.075104   20.178763  0.000000
Age        134.029942    5.230363  0.037558    9.697425  0.000074
OnlyMus    134.608952    4.651353  0.033400    5.713021  0.000753
FrenchPop  137.591074    1.669232  0.011986    3.014760  0.049956