# Partial PCA - predict functions

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
# Load cars2006 datasets
from scientisttools import load_cars2006
D = load_cars2006(which="actif")

In [3]:
from scientisttools import PartialPCA
res_partialpca = PartialPCA(n_components=None,standardize=True,partial=["CYL"],parallelize=False)
res_partialpca.fit(D)

PartialPCA(n_components=None, partial=['CYL'])

## Predict

In [4]:
from scientisttools import predictPartialPCA
indsup = load_cars2006(which="indsup")
indsup

                CYL  PUISS  LONG  LARG  POIDS  VMAX
Modele
Peugeot 604    2664    136   472   177   1410   180
Peugeot 304 S  1288     74   414   157    915   160

In [5]:
ind_sup = predictPartialPCA(res_partialpca,X=indsup)
ind_sup.keys()

dict_keys(['coord', 'cos2', 'dist'])

In [6]:
# Coordinates
ind_sup["coord"]

                  Dim.1     Dim.2    Dim.3     Dim.4     Dim.5
Peugeot 604    0.349636  0.243270 -0.30278  0.575133 -0.131155
Peugeot 304 S -1.169584  1.492756 -0.28945 -0.954562  0.232860

In [7]:
# Square cosinus (cos2)
ind_sup["cos2"]

                  Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Peugeot 604    0.196827  0.095286  0.147607  0.532584  0.027696
Peugeot 304 S  0.294466  0.479679  0.018035  0.196147  0.011673

In [8]:
# Square distance
ind_sup["dist"]

Peugeot 604      0.621082
Peugeot 304 S    4.645441
Name: Sq. Dist., dtype: float64

## supvar

In [9]:
from scientisttools import supvarPartialPCA
quantisup = load_cars2006(which="varquantsup")
qualisup = load_cars2006(which="varqualsup")
var_sup = supvarPartialPCA(res_partialpca,X_quanti_sup=quantisup,X_quali_sup=qualisup)
var_sup.keys()

dict_keys(['quanti', 'quali'])

### Supplementary quantitatives

In [10]:
# Coordinates
var_sup["quanti"]["coord"]

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
PRIX       0.548403  0.299630 -0.280296  0.146074 -0.135533
RPOIDPUIS -0.169961 -0.909932 -0.021393 -0.060493  0.298141

In [11]:
# Square cosinus (cos2)
var_sup["quanti"]["cos2"]

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
PRIX       0.300746  0.089778  0.078566  0.021338  0.018369
RPOIDPUIS  0.028887  0.827976  0.000458  0.003659  0.088888

### Supplementary qualitatives

In [12]:
# Coordinates
var_sup["quali"]["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1_M  -0.825037 -0.282131 -0.049728 -0.067161  0.080932
2_B  -0.411659 -0.127503  0.337329 -0.074411  0.018238
3_TB  1.167800  0.383863 -0.352111  0.142779 -0.088721

In [13]:
# Square cosinus (cos2)
var_sup["quali"]["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1_M   0.879647  0.102864  0.003196  0.005829  0.008464
2_B   0.554925  0.053235  0.372619  0.018131  0.001089
3_TB  0.819887  0.088587  0.074538  0.012256  0.004732

In [14]:
#v-test
var_sup["quali"]["vtest"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1_M  -1.361475 -0.568001 -0.152123 -0.400906  0.642976
2_B  -0.873803 -0.330185  1.327363 -0.571350  0.186379
3_TB  2.197235  0.881142 -1.228139  0.971776 -0.803663

In [15]:
# Square distance
var_sup["quali"]["dist"]

1_M     0.773817
2_B     0.305381
3_TB    1.663347
Name: Sq. Dist., dtype: float64

In [16]:
# Square correlation ratio (eta2)
var_sup["quali"]["eta2"]

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
FINITION  0.295523  0.048073  0.123469  0.055596  0.044141