# Linear Discriminant Analysis (LDA)

In [1]:
# Chargement de la base
import numpy as np 
import pandas as pd

import os
os.chdir("d:/Bureau/PythonProject/packages/scientisttools/data/")

DTrain = pd.read_excel("Data_Illustration_Livre_ADL.xlsx",sheet_name="DATA_2_TRAIN",header=0)
DTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TYPE    52 non-null     object
 1   MEOH    52 non-null     float64
 2   ACET    52 non-null     float64
 3   BU1     52 non-null     float64
 4   BU2     52 non-null     float64
 5   ISOP    52 non-null     int64
 6   MEPR    52 non-null     float64
 7   PRO1    52 non-null     float64
 8   ACAL    52 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 3.8+ KB

In [2]:
from scientisttools.discriminant_analysis import LDA

lda = LDA(features_labels=list(DTrain.columns[1:]),
          target=["TYPE"],
          row_labels=DTrain.index,
          parallelize=False)

# Instanciation
lda.fit(DTrain)

LDA(features_labels=['MEOH', 'ACET', 'BU1', 'BU2', 'ISOP', 'MEPR', 'PRO1',
                     'ACAL'],
    row_labels=RangeIndex(start=0, stop=52, step=1), target=['TYPE'])

In [3]:
# Prabilité à priori
lda.priors_

TYPE
POIRE     0.384615
KIRSCH    0.326923
MIRAB     0.288462
dtype: float64

In [4]:
# Matrice de covariance totale
lda.tcov_

,MEOH,ACET,BU1,BU2,ISOP,MEPR,PRO1,ACAL
MEOH,136738.708428,6617.583880,3173.906712,372.960935,7655.131976,3593.549133,-65773.762010,1082.729148
ACET,6617.583880,14921.543661,-99.421071,-146.492066,74.836048,51.906735,12047.594167,427.863371
BU1,3173.906712,-99.421071,121.607692,85.720347,182.120211,79.107270,-2032.141765,10.528265
BU2,372.960935,-146.492066,85.720347,2968.665732,-178.398643,71.995083,22370.955686,-4.595913
ISOP,7655.131976,74.836048,182.120211,-178.398643,2333.864253,754.028959,-3366.731373,32.959879
MEPR,3593.549133,51.906735,79.107270,71.995083,754.028959,341.198959,-731.993431,14.037722
PRO1,-65773.762010,12047.594167,-2032.141765,22370.955686,-3366.731373,-731.993431,392100.202304,626.809510
ACAL,1082.729148,427.863371,10.528265,-4.595913,32.959879,14.037722,626.809510,64.872504

In [5]:
# Matrice de covariance conditionnelle
lda.gcov_

                     MEOH          ACET          BU1           BU2  \
TYPE
KIRSCH MEOH  34259.654412  11295.734191    63.556250   2044.777941
       ACET  11295.734191  14266.467794    17.725000    784.245294
       BU1      63.556250     17.725000     0.616250      3.604375
       BU2    2044.777941    784.245294     3.604375    461.584044
       ISOP   5676.952206   2728.963971     4.081250    191.376471
       MEPR   1755.313603    854.786985     2.918750    109.921985
       PRO1  67355.330515  31507.793676   176.537500  14519.423676
       ACAL   1198.613419    347.592904     3.123750     77.290404
MIRAB  MEOH  22953.171429   2391.200000   188.171429    448.928571
       ACET   2391.200000  31890.780952  -321.800000    -45.633333
       BU1     188.171429   -321.800000    50.885714    214.192857
       BU2     448.928571    -45.633333   214.192857   1157.148095
       ISOP   -825.700000  -2517.780952   -71.985714   -190.330952
       MEPR   -340.228571   -672.457143    -9.085714     -1.000000
       PRO1   7059.800000  14724.695238  1050.442857   6526.738095
       ACAL    404.102857   1031.910476   -10.604286    -29.243095
POIRE  MEOH  57971.713158   8464.592105   580.288947  -8558.555789
       ACET   8464.592105   3412.934211   -61.665789   -243.226316
       BU1     580.288947    -61.665789    55.399053   -102.995158
       BU2   -8558.555789   -243.226316  -102.995158   6046.579579
       ISOP   4840.402632    313.828947   230.740526  -1132.562105
       MEPR   2229.473684    351.473684    60.821053   -327.621053
       PRO1 -41487.410526  -1165.421053  -219.823158  45159.208421
       ACAL    842.901842    140.164474    13.831211   -102.745368

                    ISOP         MEPR           PRO1         ACAL
TYPE
KIRSCH MEOH  5676.952206  1755.313603   67355.330515  1198.613419
       ACET  2728.963971   854.786985   31507.793676   347.592904
       BU1      4.081250     2.918750     176.537500     3.123750
       BU2    191.376471   109.921985   14519.423676    77.290404
       ISOP  1543.632353   424.028676    5333.718382   142.386397
       MEPR   424.028676   150.840588    3019.769191    40.161324
       PRO1  5333.718382  3019.769191  563401.932206  2659.623493
       ACAL   142.386397    40.161324    2659.623493    94.126103
MIRAB  MEOH  -825.700000  -340.228571    7059.800000   404.102857
       ACET -2517.780952  -672.457143   14724.695238  1031.910476
       BU1    -71.985714    -9.085714    1050.442857   -10.604286
       BU2   -190.330952    -1.000000    6526.738095   -29.243095
       ISOP  2886.495238   595.242857   -2045.123810   -91.217619
       MEPR   595.242857   137.542857    -328.257143   -22.951429
       PRO1 -2045.123810  -328.257143   46172.780952   481.791905
       ACAL   -91.217619   -22.951429     481.791905    62.555524
POIRE  MEOH  4840.402632  2229.473684  -41487.410526   842.901842
       ACET   313.828947   351.473684   -1165.421053   140.164474
       BU1    230.740526    60.821053    -219.823158    13.831211
       BU2  -1132.562105  -327.621053   45159.208421  -102.745368
       ISOP  2134.471053   792.631579   -5651.284211   -13.836579
       MEPR   792.631579   405.263158   -1513.947368   -10.705263
       PRO1 -5651.284211 -1513.947368  370844.252632  -534.603158
       ACAL   -13.836579   -10.705263    -534.603158    45.228921

In [6]:
# Between covariance matrix
lda.bcov_

,MEOH,ACET,BU1,BU2,ISOP,MEPR,PRO1,ACAL
MEOH,96515.005967,-1036.207897,2874.380385,2895.636709,4160.456766,2253.103875,-73697.469933,249.047725
ACET,-1036.207897,-171.929156,10.645256,-295.221822,-218.577017,-171.362485,-1995.822816,-34.817407
BU1,2874.380385,10.645256,85.386427,63.282347,111.884089,57.166454,-2304.675642,7.174939
BU2,2895.636709,-295.221822,63.282347,142.738588,252.648088,163.424639,-1745.576399,18.361615
ISOP,4160.456766,-218.577017,111.884089,252.648088,177.456070,138.154289,-2332.718327,17.893743
MEPR,2253.103875,-171.362485,57.166454,163.424639,138.154289,95.504073,-1037.211943,11.632392
PRO1,-73697.469933,-1995.822816,-2304.675642,-1745.576399,-2332.718327,-1037.211943,51143.250291,-171.998705
ACAL,249.047725,-34.817407,7.174939,18.361615,17.893743,11.632392,-171.998705,-1.273302

In [7]:
# Within covariance matrix
lda.wcov_

,MEOH,ACET,BU1,BU2,ISOP,MEPR,PRO1,ACAL
MEOH,40223.702461,7653.791777,299.526327,-2522.675774,3494.675210,1340.445258,7923.707923,833.681423
ACET,7653.791777,15093.472817,-110.066327,148.729756,293.413065,223.269220,14043.416983,462.680778
BU1,299.526327,-110.066327,36.221265,22.438000,70.236122,21.940816,272.533878,3.353327
BU2,-2522.675774,148.729756,22.438000,2825.927144,-431.046731,-91.429556,24116.532085,-22.957528
ISOP,3494.675210,293.413065,70.236122,-431.046731,2156.408183,615.874670,-1034.013045,15.066136
MEPR,1340.445258,223.269220,21.940816,-91.429556,615.874670,245.694886,305.218511,2.405330
PRO1,7923.707923,14043.416983,272.533878,24116.532085,-1034.013045,305.218511,340956.952013,798.808215
ACAL,833.681423,462.680778,3.353327,-22.957528,15.066136,2.405330,798.808215,66.145806

In [8]:
# Moyenne conditionnelle
lda.gmean_

,MEOH,ACET,BU1,BU2,ISOP,MEPR,PRO1,ACAL
TYPE,,,,,,,,
KIRSCH,371.676471,203.017647,1.20,21.017647,81.588235,28.894118,790.770588,12.011765
MIRAB,934.200000,235.066667,20.20,13.566667,90.933333,29.400000,195.266667,12.353333
POIRE,1084.350000,185.250000,21.33,49.380000,118.050000,50.000000,317.400000,14.495000

In [9]:
# Coeffcients des fonctions de score
lda.coef_

        KIRSCH     MIRAB     POIRE
MEOH  0.003428  0.029028  0.033390
ACET  0.006390  0.016413  0.007513
BU1  -0.063681  0.405390  0.318047
BU2  -0.000883  0.071352  0.114993
ISOP  0.023082  0.029763 -0.008486
MEPR  0.037494 -0.128942  0.061780
PRO1  0.001971 -0.005413 -0.008318
ACAL  0.066184 -0.226424 -0.130332

In [10]:
# Constance des fonctions de score
lda.intercept_

             KIRSCH      MIRAB      POIRE
Intercept -5.016453 -18.840685 -24.764879

In [11]:
# Evaluation statistique
se = lda.statistical_evaluation_
se

      Wilks L.  Partial L.   F(2, 42)   p-value
MEOH  0.117975    0.565488  16.136067  0.000006
ACET  0.074153    0.899667   2.341965  0.108572
BU1   0.084183    0.792475   5.499262  0.007563
BU2   0.095695    0.697142   9.122996  0.000513
ISOP  0.072310    0.922600   1.761764  0.184196
MEPR  0.087798    0.759852   6.636945  0.003128
PRO1  0.092396    0.722038   8.084336  0.001071
ACAL  0.075884    0.879150   2.886700  0.066885

In [12]:
DTest = pd.read_excel("Data_Illustration_Livre_ADL.xlsx",sheet_name="DATA_2_TEST",header=0)
DTest.head()

     TYPE  MEOH  ACET  BU1   BU2  ISOP  MEPR  PRO1  ACAL
0  KIRSCH     3    15  0.2  30.0     9     9   350   9.0
1  KIRSCH   475   172  1.9   7.0   113    33   546  14.0
2  KIRSCH   186   101  0.0   1.6    36    11   128   8.0
3  KIRSCH   371   414  1.2   0.0    97    39   502   9.0
4  KIRSCH   583   226  2.3  19.0   120    46   656  11.0

In [13]:
XTest = DTest[DTest.columns[1:]]
yTest = DTest[DTest.columns[0]]
XTest.head()

   MEOH  ACET  BU1   BU2  ISOP  MEPR  PRO1  ACAL
0     3    15  0.2  30.0     9     9   350   9.0
1   475   172  1.9   7.0   113    33   546  14.0
2   186   101  0.0   1.6    36    11   128   8.0
3   371   414  1.2   0.0    97    39   502   9.0
4   583   226  2.3  19.0   120    46   656  11.0

In [14]:
#Scores des individus
lda.decision_function(XTest).head()

     KIRSCH      MIRAB      POIRE
0 -3.118809 -21.110618 -24.643294
1  3.432298  -7.976511 -11.489500
2 -1.709626 -14.520620 -19.344743
3  4.111012  -7.686396 -12.647287
4  4.778819  -4.320783  -5.750754

In [15]:
pred = lda.predict(XTest)
pred.head()

  predict
0  KIRSCH
1  KIRSCH
2  KIRSCH
3  KIRSCH
4  KIRSCH

In [16]:
yTest.head()

0    KIRSCH
1    KIRSCH
2    KIRSCH
3    KIRSCH
4    KIRSCH
Name: TYPE, dtype: object

In [17]:
# Accurary score
lda.score(XTest,yTest)

0.82

In [18]:
lda.predict_proba(XTest).head()

     KIRSCH         MIRAB         POIRE
0  1.000000  1.535523e-08  4.487814e-10
1  0.999989  1.109717e-05  3.307808e-07
2  0.999997  2.730580e-06  2.193638e-08
3  0.999992  7.523981e-06  5.271811e-08
4  0.999862  1.116948e-04  2.673034e-05

In [19]:
lda.squared_mdist_

           KIRSCH      MIRAB      POIRE
KIRSCH   0.000000  27.371480  36.048105
MIRAB   27.371480   0.000000   5.305086
POIRE   36.048105   5.305086   0.000000

## Procédure Backward

In [20]:
from scientisttools.discriminant_analysis import STEPDISC
stepdisc = STEPDISC(method="backward",
                    alpha=0.01,
                    model_train=True,
                    verbose=True,
                    parallelize=False)
stepdisc.fit(lda)

      Wilks L.  Partial L.          F   p-value
MEOH  0.117975    0.565488  16.136067  0.000006
ACET  0.074153    0.899667   2.341965  0.108572
BU1   0.084183    0.792475   5.499262  0.007563
BU2   0.095695    0.697142   9.122996  0.000513
ISOP  0.072310    0.922600   1.761764  0.184196
MEPR  0.087798    0.759852   6.636945  0.003128
PRO1  0.092396    0.722038   8.084336  0.001071
ACAL  0.075884    0.879150   2.886700  0.066885

      Wilks L.  Partial L.          F   p-value
MEOH  0.129692    0.557551  17.061483  0.000004
ACET  0.079826    0.905849   2.234643  0.119316
BU1   0.092945    0.777989   6.135344  0.004528
BU2   0.109809    0.658508  11.149568  0.000126
MEPR  0.098171    0.736573   7.689228  0.001397
PRO1  0.101216    0.714415   8.594537  0.000724
ACAL  0.081813    0.883851   2.825379  0.070331

      Wilks L.  Partial L.          F   p-value
MEOH  0.147097    0.542673  18.540063  0.000001
BU1   0.098601    0.809585   5.174419  0.009589
BU2   0.122087    0.653844  11.647178  0.000087
MEPR  0.107220    0.744506   7.549796  0.001517
PRO1  0.112777    0.707822   9.081281  0.000499
ACAL  0.086488    0.922968   1.836148  0.171437

      Wilks L.  Partial L.          F   p-value
MEOH  0.155113    0.557582  17.852822  0.000002
BU1   0.110174    0.785016   6.161841  0.004313
BU2   0.136572    0.633277  13.029454  0.000034
MEPR  0.111753    0.773921   6.572738  0.003131
PRO1  0.131479    0.657808  11.704517  0.000081

STEPDISC(method='backward', model_train=True)

In [21]:
# Model Final
lda_reduit = stepdisc.train_model_
# Statistical evaluation
lda_reduit.statistical_evaluation_

      Wilks L.  Partial L.   F(2, 45)   p-value
MEOH  0.155113    0.557582  17.852822  0.000002
BU1   0.110174    0.785016   6.161841  0.004313
BU2   0.136572    0.633277  13.029454  0.000034
MEPR  0.111753    0.773921   6.572738  0.003131
PRO1  0.131479    0.657808  11.704517  0.000081

In [22]:
lda_reduit.coef_

        KIRSCH     MIRAB     POIRE
MEOH  0.006172  0.026956  0.031912
BU1  -0.086181  0.346433  0.280117
BU2  -0.005208  0.070420  0.116972
MEPR  0.086537 -0.025564  0.058299
PRO1  0.002536 -0.005289 -0.008360

In [23]:
lda_reduit.intercept_

             KIRSCH      MIRAB      POIRE
Intercept -4.411341 -16.918659 -24.263717