# PCA : predict & supvar

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_gironde, splitmix
gironde = load_gironde()
X_quant = splitmix(gironde)["quanti"]
X_qual = splitmix(gironde)["quali"]

In [3]:
from scientisttools import PCA, supvarPCA
res_pca = PCA().fit(X_quant)

## supvar

In [4]:
# sup variables
supvar = supvarPCA(res_pca,X_quanti_sup=X_quant, X_quali_sup=X_qual)
supvar.keys()

dict_keys(['quanti', 'quali'])

### Supplementary quantitatives

In [5]:
# Coordinates
supvar["quanti"]["coord"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687
retired    -0.250070 -0.527153 -0.239262  0.541192  0.192988
employrate -0.150093  0.742650  0.199617  0.161807 -0.062739
income      0.263194  0.639052  0.019232  0.327191  0.150473
density     0.827380 -0.296161  0.158484  0.082556 -0.146061
primaryres  0.252012  0.494162  0.367527 -0.344103 -0.155583
owners     -0.534469  0.539608 -0.080489  0.046825 -0.046533
building    0.808303 -0.322995  0.201941  0.111145 -0.108930
water       0.183114 -0.157835  0.216137 -0.118718  0.814277
vegetation  0.042475  0.195762 -0.924625 -0.069160 -0.140665
agricul    -0.503140 -0.052629  0.790853  0.055422 -0.038894

In [6]:
# Square cosinus
supvar["quanti"]["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
farmers    -0.465692 -0.080570  0.372512  0.389654 -0.209886
tradesmen  -0.181722  0.074963 -0.287797  0.122836 -0.019004
managers    0.482380  0.526404  0.036674  0.353827  0.047235
workers    -0.142523 -0.018248  0.021472 -0.911916  0.006805
unemployed  0.388084 -0.144471  0.114246 -0.001392 -0.415233
middleempl  0.435759  0.576423 -0.011734 -0.038227  0.224687

### Supplementary qualitatives

In [7]:
# Coordinates
supvar["quali"]["coord"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   1.667195 -0.947942 -0.140721  0.120841  0.210753
 sup 90%  -0.429370  0.244134  0.036241 -0.031122 -0.054277
 inf 5%   -0.440540  0.167831  0.023615  0.040674 -0.001191
 sup 5%    1.653957 -0.630103 -0.088660 -0.152706  0.004472
butcher_0 -0.478167  0.151152  0.100301 -0.015843 -0.027647
butcher_1  0.244568 -0.012442 -0.117515 -0.198835 -0.014933

In [8]:
# Square cosinus
supvar["quali"]["cos2"].head(6)

              Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   0.690069  0.223092  0.004916  0.003625  0.011027
 sup 90%   0.690069  0.223092  0.004916  0.003625  0.011027
 inf 5%    0.817565  0.118658  0.002349  0.006969  0.000006
 sup 5%    0.817565  0.118658  0.002349  0.006969  0.000006
butcher_0  0.832488  0.083186  0.036629  0.000914  0.002783
butcher_1  0.317555  0.000822  0.073317  0.209897  0.001184

In [9]:
# value-test
supvar["quali"]["vtest"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
 inf 90%   11.412724 -6.842747 -1.154892  1.089825  2.396733
 sup 90%  -11.412724  6.842747  1.154892 -1.089825 -2.396733
 inf 5%   -11.514229  4.625597  0.739978  1.400571 -0.051720
 sup 5%    11.514229 -4.625597 -0.739978 -1.400571  0.051720
butcher_0  -9.500554  3.166867  2.389216 -0.414707 -0.912569
butcher_1   1.520858 -0.081585 -0.876115 -1.628998 -0.154274

In [10]:
# Square distance
supvar["quali"]["dist"].head(6)

 inf 90%     4.027911
 sup 90%     0.267160
 inf 5%      0.237382
 sup 5%      3.346001
butcher_0    0.274651
butcher_1    0.188357
Name: Sq. Dist., dtype: float64

In [11]:
# Square correlation ratio
supvar["quali"]["eta2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
houses      0.240758  0.086549  0.002465  0.002195  0.010618
council     0.245060  0.039549  0.001012  0.003626  0.000005
butcher     0.250220  0.033219  0.012462  0.012839  0.003594
baker       0.265022  0.014757  0.023331  0.023334  0.013555
postoffice  0.197344  0.012720  0.018516  0.003933  0.010579
dentist     0.364576  0.008198  0.009294  0.014376  0.022695