# MFA with Frequency Data

In [44]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [45]:
from scientisttools import load_mortality
mortality = load_mortality()
mortality.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62 entries, Accidental poisoning to Viral hepatitis
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   15-24 (79)        62 non-null     int32
 1   25-34 (79)        62 non-null     int32
 2   35-44 (79)        62 non-null     int32
 3   45-54 (79)        62 non-null     int32
 4   55-64 (79)        62 non-null     int32
 5   65-74 (79)        62 non-null     int32
 6   75-84 (79)        62 non-null     int32
 7   85-94 (79)        62 non-null     int32
 8   95 and more (79)  62 non-null     int32
 9   15-24 (06)        62 non-null     int32
 10  25-34 (06)        62 non-null     int32
 11  35-44 (06)        62 non-null     int32
 12  45-54 (06)        62 non-null     int32
 13  55-64 (06)        62 non-null     int32
 14  65-74 (06)        62 non-null     int32
 15  75-84 (06)        62 non-null     int32
 16  85-94 (06)        62 non-null     int32
 17  95 and more (06)  62 non-null     int32
dtypes: int32(18)
memory usage: 4.8+ KB

In [46]:
import pandas as pd
from scientisttools import MFACT
mortality2 = mortality.copy()
mortality2.columns = [x + "-2" for x in mortality2.columns]
dat = pd.concat((mortality,mortality2),axis=1)
res_mfact = MFACT(group=[9]*4,name_group=["1979","2006","1979-2","2006-2"],num_group_sup=[2,3],ind_sup=list(range(50,dat.shape[0])),parallelize=True)
res_mfact.fit(dat)

MFACT(group=[9, 9, 9, 9],
      ind_sup=[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61],
      name_group=['1979', '2006', '1979-2', '2006-2'], num_group_sup=[2, 3],
      parallelize=True)

## Eigenvalues

In [47]:
res_mfact.eig_.round(4)

        eigenvalue  difference  proportion  cumulative
Dim.1       1.7845      0.8653     51.2934     51.2934
Dim.2       0.9192      0.6265     26.4201     77.7135
Dim.3       0.2926      0.0814      8.4112     86.1247
Dim.4       0.2112      0.0851      6.0714     92.1961
Dim.5       0.1261      0.0782      3.6249     95.8209
Dim.6       0.0479      0.0150      1.3774     97.1983
Dim.7       0.0329      0.0073      0.9454     98.1437
Dim.8       0.0256      0.0105      0.7351     98.8788
Dim.9       0.0151      0.0037      0.4342     99.3130
Dim.10      0.0114      0.0063      0.3284     99.6414
Dim.11      0.0051      0.0019      0.1473     99.7886
Dim.12      0.0032      0.0013      0.0918     99.8804
Dim.13      0.0019      0.0008      0.0555     99.9359
Dim.14      0.0012      0.0005      0.0334     99.9692
Dim.15      0.0006      0.0002      0.0178     99.9870
Dim.16      0.0005         NaN      0.0130    100.0000

## Individuals informations

### Active individuals

In [48]:
ind = res_mfact.ind_
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos', 'coord_partiel', 'within_inertia', 'within_partial_inertia'])

In [49]:
# Factor coordinates
ind["coord"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,2.569324,5.367140,0.331603,3.091055,-0.476550
Addiction to prescription medication,5.154826,13.837143,3.266536,18.276503,-5.722817
Alcohol abuse and alcohol-related psychosis,3.834128,0.623989,1.815001,0.356597,-0.618893
Asthma,0.325436,0.243098,-0.160505,0.139221,-0.218079
Blood and hematopoietic disorders,-0.312516,0.425656,-0.012083,0.016053,-0.148215
Cerebrovascular disease,-0.905060,-0.137078,-0.078055,0.227332,0.097495

In [50]:
# Contributions
ind["contrib"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,0.660988,5.599759,0.067142,8.082413,0.321769
Addiction to prescription medication,0.391165,5.472079,0.957877,41.542223,6.822170
Alcohol abuse and alcohol-related psychosis,6.167507,0.317145,8.428170,0.450716,2.273938
Asthma,0.017473,0.018929,0.025918,0.027016,0.111027
Blood and hematopoietic disorders,0.027841,0.100275,0.000254,0.000621,0.088613
Cerebrovascular disease,5.366216,0.238987,0.243399,2.860271,0.881148

In [51]:
# Square cosinus
ind["cos2"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,0.144078,0.628705,0.002400,0.208533,0.004957
Addiction to prescription medication,0.043016,0.309953,0.017273,0.540741,0.053018
Alcohol abuse and alcohol-related psychosis,0.710636,0.018822,0.159246,0.006147,0.018516
Asthma,0.248102,0.138440,0.060349,0.045406,0.111411
Blood and hematopoietic disorders,0.250879,0.465412,0.000375,0.000662,0.056429
Cerebrovascular disease,0.836225,0.019182,0.006220,0.052758,0.009704

In [52]:
# Partiel coordinates
ind["coord_partiel"].head(6).round(4)

                                               1979                          \
                                              Dim.1   Dim.2   Dim.3   Dim.4
Accidental poisoning                         1.9304  4.5557 -1.6579 -2.8238
Addiction to prescription medication         1.0556  2.1881 -0.8729 -1.4564
Alcohol abuse and alcohol-related psychosis  3.3227  0.7320  0.3077 -2.2139
Asthma                                       0.3910  0.1221 -0.5264 -0.1680
Blood and hematopoietic disorders           -0.1370  0.2798 -0.2389  0.0048
Cerebrovascular disease                     -1.1872 -0.3463  0.1209  0.8051

                                                       2006                   \
                                              Dim.5   Dim.1    Dim.2   Dim.3
Accidental poisoning                         1.3686  3.2082   6.1786  2.3211
Addiction to prescription medication         0.6157  9.2541  25.4862  7.4060
Alcohol abuse and alcohol-related psychosis -2.2695  4.3456   0.5159  3.3223
Asthma                                      -0.3005  0.2599   0.3641  0.2054
Blood and hematopoietic disorders            0.2285 -0.4880   0.5715  0.2148
Cerebrovascular disease                      0.6328 -0.6229   0.0721 -0.2770


                                               Dim.4    Dim.5
Accidental poisoning                          9.0059  -2.3217
Addiction to prescription medication         38.0094 -12.0613
Alcohol abuse and alcohol-related psychosis   2.9271   1.0317
Asthma                                        0.4465  -0.1357
Blood and hematopoietic disorders             0.0273  -0.5250
Cerebrovascular disease                      -0.3504  -0.4378

In [53]:
# Within inertia
ind["within_inertia"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,0.393202,0.465768,4.149597,6.169933,0.548789
Addiction to prescription medication,2.379585,14.113422,2.641111,10.096062,0.952157
Alcohol abuse and alcohol-related psychosis,1.055621,0.034608,9.980011,4.882496,1.840292
Asthma,0.006819,0.017053,0.231278,0.027432,0.001803
Blood and hematopoietic disorders,0.084452,0.042828,0.153619,0.000064,0.065141
Cerebrovascular disease,5.018285,2.025781,2.715777,3.851841,3.021828

In [54]:
# Withon partial inertia
ind["within_partial_inertia"].head(6).round(4)

                                               1979                          \
                                              Dim.1   Dim.2   Dim.3   Dim.4
Accidental poisoning                         0.1966  0.2329  2.0748  3.0850
Addiction to prescription medication         1.1898  7.0567  1.3206  5.0480
Alcohol abuse and alcohol-related psychosis  0.5278  0.0173  4.9900  2.4412
Asthma                                       0.0034  0.0085  0.1156  0.0137
Blood and hematopoietic disorders            0.0422  0.0214  0.0768  0.0000
Cerebrovascular disease                      2.5091  1.0129  1.3579  1.9259

                                                       2006                  \
                                              Dim.5   Dim.1   Dim.2   Dim.3
Accidental poisoning                         0.2744  0.1966  0.2329  2.0748
Addiction to prescription medication         0.4761  1.1898  7.0567  1.3206
Alcohol abuse and alcohol-related psychosis  0.9201  0.5278  0.0173  4.9900
Asthma                                       0.0009  0.0034  0.0085  0.1156
Blood and hematopoietic disorders            0.0326  0.0422  0.0214  0.0768
Cerebrovascular disease                      1.5109  2.5091  1.0129  1.3579


                                              Dim.4   Dim.5
Accidental poisoning                         3.0850  0.2744
Addiction to prescription medication         5.0480  0.4761
Alcohol abuse and alcohol-related psychosis  2.4412  0.9201
Asthma                                       0.0137  0.0009
Blood and hematopoietic disorders            0.0000  0.0326
Cerebrovascular disease                      1.9259  1.5109

### Supplementary individuals informations

In [55]:
# 
ind_sup = res_mfact.ind_sup_
ind_sup.keys()

dict_keys(['coord', 'cos2', 'coord_partiel'])

In [56]:
# Factor coordinates
ind_sup["coord"].head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Other infectious diseases and parasites,-0.325731,0.157468,-0.291875,-0.172298,-0.199636
Other malignent tumours,1.163547,-0.241955,-0.126343,0.229662,0.240028
Other psychological and behavioural disorders,-1.733616,0.527912,0.398427,-0.745911,-0.919939
Other respiratory ailments,-0.917021,0.060218,0.044329,-0.104252,-0.011968
Other tumours,0.432077,0.207390,-0.302293,-0.126599,-0.263197
Pneumonia,-1.547383,0.375400,0.453367,-0.522505,-0.403540

In [57]:
# Square cosinus
ind_sup["cos2"].head(6) # A faire un check

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Other infectious diseases and parasites,0.000976,0.000228,0.000784,0.000273,0.000367
Other malignent tumours,0.012781,0.000553,0.000151,0.000498,0.000544
Other psychological and behavioural disorders,0.022692,0.002104,0.001199,0.004201,0.006390
Other respiratory ailments,0.007778,0.000034,0.000018,0.000101,0.000001
Other tumours,0.001758,0.000405,0.000860,0.000151,0.000652
Pneumonia,0.021304,0.001254,0.001829,0.002429,0.001449

In [58]:
# Partiel coordinates
ind_sup["coord_partiel"].head(6).round(4)

                                                  1979                  \
                                                 Dim.1   Dim.2   Dim.3
Other infectious diseases and parasites         0.0281  0.1656 -0.1866
Other malignent tumours                         0.8423 -0.0434 -0.2578
Other psychological and behavioural disorders  -0.6014 -0.0238  0.0973
Other respiratory ailments                     -0.7792 -0.0920  0.3121
Other tumours                                   0.8453  0.3015 -0.2525
Pneumonia                                      -0.9156  0.0409  0.5055

                                                                  2006  \
                                                 Dim.4   Dim.5   Dim.1
Other infectious diseases and parasites        -0.0508  0.0595 -0.6796
Other malignent tumours                        -0.4038 -0.6739  1.4848
Other psychological and behavioural disorders   0.3331  0.4192 -2.8658
Other respiratory ailments                      0.4205  0.6094 -1.0548
Other tumours                                  -0.5561 -0.4696  0.0189
Pneumonia                                       0.4008  0.7984 -2.1792


                                                 Dim.2   Dim.3   Dim.4   Dim.5
Other infectious diseases and parasites         0.1493 -0.3971 -0.2938 -0.4587
Other malignent tumours                        -0.4405  0.0051  0.8631  1.1540
Other psychological and behavioural disorders   1.0796  0.6995 -1.8249 -2.2591
Other respiratory ailments                      0.2124 -0.2234 -0.6290 -0.6334
Other tumours                                   0.1132 -0.3520  0.3029 -0.0568
Pneumonia                                       0.7099  0.4012 -1.4458 -1.6055

## Frequences informations

### Active frequencies

In [59]:
freq = res_mfact.freq_
freq.keys()

dict_keys(['coord', 'contrib', 'cos2'])

In [60]:
# Factor coordinates
freq["coord"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)  0.813836  2.837274 -0.787573 -0.731399  0.560130
25-34 (79)  0.832374  1.961521 -0.411076 -0.418608  0.289098
35-44 (79)  0.890453  0.607512  0.113059 -0.307256 -0.163326
45-54 (79)  0.849688 -0.009102  0.210277 -0.211577 -0.189631
55-64 (79)  0.597254 -0.154038  0.041009 -0.083173 -0.108674
65-74 (79)  0.169125 -0.152563 -0.128055  0.019711 -0.061695

In [61]:
# Contributions
freq["contrib"].head(6)

                Dim.1      Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)   1.302608  30.737646  7.439183  8.888353  8.731495
25-34 (79)   1.887468  20.349629  2.807303  4.033010  3.221844
35-44 (79)   4.238975   3.830681  0.416728  4.263938  2.018003
45-54 (79)  11.984077   0.002670  4.475822  6.277613  8.446509
55-64 (79)   8.918895   1.151805  0.256425  1.461254  4.178484
65-74 (79)   1.686320   2.664112  5.895537  0.193511  3.175374

In [62]:
# Square cosinus
freq["cos2"].head(6)

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)  0.063505  0.771863  0.059473  0.051292  0.030083
25-34 (79)  0.132196  0.734118  0.032242  0.033434  0.015947
35-44 (79)  0.573429  0.266911  0.009244  0.068274  0.019292
45-54 (79)  0.833752  0.000096  0.051062  0.051696  0.041528
55-64 (79)  0.865752  0.057588  0.004082  0.016789  0.028664
65-74 (79)  0.361360  0.294052  0.207167  0.004908  0.048087

### Supplementary frequencies informations

In [63]:
freq_sup = res_mfact.freq_sup_
freq_sup.keys()

dict_keys(['coord', 'cos2'])

In [64]:
# Factor coordinates
freq_sup["coord"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)-2  0.813836  2.837274 -0.787573 -0.731399  0.560130
25-34 (79)-2  0.832374  1.961521 -0.411076 -0.418608  0.289098
35-44 (79)-2  0.890453  0.607512  0.113059 -0.307256 -0.163326
45-54 (79)-2  0.849688 -0.009102  0.210277 -0.211577 -0.189631
55-64 (79)-2  0.597254 -0.154038  0.041009 -0.083173 -0.108674
65-74 (79)-2  0.169125 -0.152563 -0.128055  0.019711 -0.061695

In [65]:
# Square cosinus
freq_sup["cos2"].head(6)

                 Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
15-24 (79)-2  0.063505  0.771863  0.059473  0.051292  0.030083
25-34 (79)-2  0.132196  0.734118  0.032242  0.033434  0.015947
35-44 (79)-2  0.573429  0.266911  0.009244  0.068274  0.019292
45-54 (79)-2  0.833752  0.000096  0.051062  0.051696  0.041528
55-64 (79)-2  0.865752  0.057588  0.004082  0.016789  0.028664
65-74 (79)-2  0.361360  0.294052  0.207167  0.004908  0.048087

## Partial axes

In [66]:
partial_axes = res_mfact.partial_axes_
partial_axes.keys()

dict_keys(['coord', 'cor', 'contrib', 'cos2', 'cor_between'])

### Partial axes coordinates

In [67]:
partial_axes["coord"]

           1979                                              2006            \
          Dim.1     Dim.2     Dim.3     Dim.4     Dim.5     Dim.1     Dim.2
Dim.1  0.908502 -0.307206  0.052472  0.014890  0.062142  0.948649  0.103569
Dim.2  0.310982  0.895289  0.057300 -0.057190 -0.042117 -0.178001  0.853136
Dim.3 -0.106932 -0.086129  0.922375 -0.010357 -0.011781  0.067478  0.221197
Dim.4 -0.225324 -0.117626 -0.172319 -0.125729  0.115816  0.176771  0.415056
Dim.5 -0.119077  0.277980  0.095619  0.308084  0.329838  0.174094 -0.192089

                                       1979-2                                \
          Dim.3     Dim.4     Dim.5     Dim.1     Dim.2     Dim.3     Dim.4
Dim.1  0.011243 -0.048121  0.100164  0.908502 -0.307206  0.052472  0.014890
Dim.2 -0.028407  0.096679  0.218827  0.310982  0.895289  0.057300 -0.057190
Dim.3  0.869336  0.032273 -0.187042 -0.106932 -0.086129  0.922375 -0.010357
Dim.4 -0.428572 -0.025160 -0.387769 -0.225324 -0.117626 -0.172319 -0.125729
Dim.5 -0.024005  0.568223  0.071968 -0.119077  0.277980  0.095619  0.308084

                   2006-2
          Dim.5     Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Dim.1  0.062142  0.948649  0.103569  0.011243 -0.048121  0.100164
Dim.2 -0.042117 -0.178001  0.853136 -0.028407  0.096679  0.218827
Dim.3 -0.011781  0.067478  0.221197  0.869336  0.032273 -0.187042
Dim.4  0.115816  0.176771  0.415056 -0.428572 -0.025160 -0.387769
Dim.5  0.329838  0.174094 -0.192089 -0.024005  0.568223  0.071968

### Partial axes contributions

In [68]:
partial_axes["contrib"]

            1979                                                 2006  \
           Dim.1      Dim.2      Dim.3     Dim.4     Dim.5      Dim.1
Dim.1  46.254453   2.984502   0.021355  0.000351  0.003463  50.432830
Dim.2  10.523312  49.217561   0.049446  0.010064  0.003089   3.447671
Dim.3   3.908048   1.430724  40.244074  0.001037  0.000759   1.556228
Dim.4  24.066325   3.700912   1.948056  0.211902  0.101745  14.812078
Dim.5  11.347884  34.897855   1.012715  2.148165  1.393310  24.256437

                                                 1979-2                    \
           Dim.2      Dim.3      Dim.4     Dim.5  Dim.1 Dim.2 Dim.3 Dim.4
Dim.1   0.277133   0.001227   0.005579  0.019108    0.0   0.0   0.0   0.0
Dim.2  36.512850   0.015205   0.043724  0.177078    0.0   0.0   0.0   0.0
Dim.3   7.709536  44.727939   0.015304  0.406351    0.0   0.0   0.0   0.0
Dim.4  37.647295  15.076544   0.012899  2.422244    0.0   0.0   0.0   0.0
Dim.5  13.614165   0.079859  11.108740  0.140870    0.0   0.0   0.0   0.0

            2006-2
      Dim.5  Dim.1 Dim.2 Dim.3 Dim.4 Dim.5
Dim.1   0.0    0.0   0.0   0.0   0.0   0.0
Dim.2   0.0    0.0   0.0   0.0   0.0   0.0
Dim.3   0.0    0.0   0.0   0.0   0.0   0.0
Dim.4   0.0    0.0   0.0   0.0   0.0   0.0
Dim.5   0.0    0.0   0.0   0.0   0.0   0.0

### Partial axes correlation between

In [69]:
partial_axes["cor_between"].round(4)

                1979                                    2006                  \
               Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1   Dim.2   Dim.3
1979   Dim.1  1.0000  0.0000 -0.0000 -0.0000  0.0000  0.7369  0.2656  0.0030
       Dim.2  0.0000  1.0000  0.0000  0.0000 -0.0000 -0.4260  0.6071 -0.0563
       Dim.3  0.0000  0.0000  1.0000  0.0000  0.0000  0.0818  0.1613  0.7943
       Dim.4 -0.0000  0.0000  0.0000  1.0000  0.0000  0.0343 -0.1214  0.0488
       Dim.5  0.0000 -0.0000  0.0000  0.0000  1.0000  0.1205 -0.0416 -0.0675
2006   Dim.1  0.7369 -0.4260  0.0818  0.0343  0.1205  1.0000  0.0000  0.0000
       Dim.2  0.2656  0.6071  0.1613 -0.1214 -0.0416  0.0000  1.0000 -0.0000
       Dim.3  0.0030 -0.0563  0.7943  0.0488 -0.0675  0.0000 -0.0000  1.0000
       Dim.4 -0.0552  0.2026  0.0962  0.5489  0.4852 -0.0000  0.0000  0.0000
       Dim.5  0.2394  0.2373 -0.0883  0.1254 -0.3744  0.0000  0.0000 -0.0000
1979-2 Dim.1  1.0000  0.0000 -0.0000 -0.0000  0.0000  0.7369  0.2656  0.0030
       Dim.2 -0.0000  1.0000  0.0000  0.0000 -0.0000 -0.4260  0.6071 -0.0563
       Dim.3  0.0000 -0.0000  1.0000 -0.0000  0.0000  0.0818  0.1613  0.7943
       Dim.4 -0.0000  0.0000  0.0000  1.0000  0.0000  0.0343 -0.1214  0.0488
       Dim.5 -0.0000 -0.0000 -0.0000 -0.0000  1.0000  0.1205 -0.0416 -0.0675
2006-2 Dim.1  0.7369 -0.4260  0.0818  0.0343  0.1205  1.0000  0.0000  0.0000
       Dim.2  0.2656  0.6071  0.1613 -0.1214 -0.0416 -0.0000  1.0000 -0.0000
       Dim.3  0.0030 -0.0563  0.7943  0.0488 -0.0675 -0.0000 -0.0000  1.0000
       Dim.4 -0.0552  0.2026  0.0962  0.5489  0.4852  0.0000 -0.0000  0.0000
       Dim.5  0.2394  0.2373 -0.0883  0.1254 -0.3744  0.0000 -0.0000  0.0000

                              1979-2                                  2006-2  \
               Dim.4   Dim.5   Dim.1   Dim.2   Dim.3   Dim.4   Dim.5   Dim.1
1979   Dim.1 -0.0552  0.2394  1.0000 -0.0000 -0.0000  0.0000 -0.0000  0.7369
       Dim.2  0.2026  0.2373  0.0000  1.0000 -0.0000  0.0000 -0.0000 -0.4260
       Dim.3  0.0962 -0.0883  0.0000  0.0000  1.0000  0.0000  0.0000  0.0818
       Dim.4  0.5489  0.1254 -0.0000  0.0000  0.0000  1.0000 -0.0000  0.0343
       Dim.5  0.4852 -0.3744  0.0000 -0.0000  0.0000  0.0000  1.0000  0.1205
2006   Dim.1  0.0000  0.0000  0.7369 -0.4260  0.0818  0.0343  0.1205  1.0000
       Dim.2  0.0000  0.0000  0.2656  0.6071  0.1613 -0.1214 -0.0416  0.0000
       Dim.3  0.0000 -0.0000  0.0030 -0.0563  0.7943  0.0488 -0.0675  0.0000
       Dim.4  1.0000 -0.0000 -0.0552  0.2026  0.0962  0.5489  0.4852 -0.0000
       Dim.5 -0.0000  1.0000  0.2394  0.2373 -0.0883  0.1254 -0.3744 -0.0000
1979-2 Dim.1 -0.0552  0.2394  1.0000 -0.0000  0.0000 -0.0000  0.0000  0.7369
       Dim.2  0.2026  0.2373 -0.0000  1.0000 -0.0000  0.0000 -0.0000 -0.4260
       Dim.3  0.0962 -0.0883  0.0000 -0.0000  1.0000 -0.0000 -0.0000  0.0818
       Dim.4  0.5489  0.1254 -0.0000  0.0000 -0.0000  1.0000  0.0000  0.0343
       Dim.5  0.4852 -0.3744 -0.0000 -0.0000 -0.0000  0.0000  1.0000  0.1205
2006-2 Dim.1 -0.0000 -0.0000  0.7369 -0.4260  0.0818  0.0343  0.1205  1.0000
       Dim.2  0.0000  0.0000  0.2656  0.6071  0.1613 -0.1214 -0.0416  0.0000
       Dim.3 -0.0000 -0.0000  0.0030 -0.0563  0.7943  0.0488 -0.0675 -0.0000
       Dim.4  1.0000 -0.0000 -0.0552  0.2026  0.0962  0.5489  0.4852 -0.0000
       Dim.5  0.0000  1.0000  0.2394  0.2373 -0.0883  0.1254 -0.3744 -0.0000


               Dim.2   Dim.3   Dim.4   Dim.5
1979   Dim.1  0.2656  0.0030 -0.0552  0.2394
       Dim.2  0.6071 -0.0563  0.2026  0.2373
       Dim.3  0.1613  0.7943  0.0962 -0.0883
       Dim.4 -0.1214  0.0488  0.5489  0.1254
       Dim.5 -0.0416 -0.0675  0.4852 -0.3744
2006   Dim.1 -0.0000 -0.0000  0.0000  0.0000
       Dim.2  1.0000 -0.0000 -0.0000 -0.0000
       Dim.3 -0.0000  1.0000  0.0000  0.0000
       Dim.4  0.0000 -0.0000  1.0000  0.0000
       Dim.5  0.0000 -0.0000 -0.0000  1.0000
1979-2 Dim.1  0.2656  0.0030 -0.0552  0.2394
       Dim.2  0.6071 -0.0563  0.2026  0.2373
       Dim.3  0.1613  0.7943  0.0962 -0.0883
       Dim.4 -0.1214  0.0488  0.5489  0.1254
       Dim.5 -0.0416 -0.0675  0.4852 -0.3744
2006-2 Dim.1  0.0000 -0.0000  0.0000 -0.0000
       Dim.2  1.0000 -0.0000 -0.0000 -0.0000
       Dim.3 -0.0000  1.0000 -0.0000 -0.0000
       Dim.4 -0.0000 -0.0000  1.0000  0.0000
       Dim.5 -0.0000 -0.0000  0.0000  1.0000

### Groups informations

In [70]:
groups = res_mfact.group_
groups.keys()

dict_keys(['coord', 'contrib', 'cos2', 'correlation', 'Lg', 'dist2', 'RV', 'coord_sup', 'cos2_sup', 'dist2_sup'])

In [71]:
# Coordinates
groups["coord"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1979  0.879146  0.549622  0.133389  0.063513  0.064215
2006  0.905345  0.369528  0.159236  0.147711  0.061893

In [72]:
# Square cosinus
groups["cos2"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1979  0.577359  0.225659  0.013291  0.003013  0.003080
2006  0.658022  0.109624  0.020356  0.017516  0.003075

In [73]:
# Contributions
groups["contrib"].head(6)

         Dim.1      Dim.2      Dim.3      Dim.4      Dim.5
1979  49.26591  59.796772  45.583608  30.069114  50.920351
2006  50.73409  40.203228  54.416392  69.930886  49.079649

In [74]:
# Square distance to origin
groups["dist2"]

1979    1.338677
2006    1.245628
Name: Sq. Dist., dtype: float64

In [75]:
# Correlation
groups["correlation"].head(6)

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1979  0.950507  0.926368  0.768922  0.268963  0.324882
2006  0.953135  0.855716  0.820574  0.544666  0.314318

In [76]:
# Lg coefficients
groups["Lg"]

            1979      2006    1979-2    2006-2       MFA
1979    1.338677  0.797760  1.338677  0.797760  1.197225
2006    0.797760  1.245628  0.797760  1.245628  1.145082
1979-2  1.338677  0.797760  1.338677  0.797760  1.197225
2006-2  0.797760  1.245628  0.797760  1.245628  1.145082
MFA     1.197225  1.145082  1.197225  1.145082  1.312591

In [77]:
# RV coeffcients
groups["RV"]

            1979      2006    1979-2    2006-2       MFA
1979    1.000000  0.617789  1.000000  0.617789  0.903178
2006    0.617789  1.000000  0.617789  1.000000  0.895525
1979-2  1.000000  0.617789  1.000000  0.617789  0.903178
2006-2  0.617789  1.000000  0.617789  1.000000  0.895525
MFA     0.903178  0.895525  0.903178  0.895525  1.000000

In [78]:
# Inertia ratio
res_mfact.inertia_ratio_

Dim.1    0.905836
Dim.2    0.784441
Dim.3    0.631944
Dim.4    0.172515
Dim.5    0.102150
Name: inertia_ratio, dtype: float64

### Supplementary groups informations

In [79]:
# Factor coordinates
res_mfact.group_["coord_sup"]

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1979-2  0.879146  0.549622  0.133389  0.063513  0.064215
2006-2  0.905345  0.369528  0.159236  0.147711  0.061893

In [80]:
# Suare cosinus 
res_mfact.group_["cos2_sup"]

           Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1979-2  0.577359  0.225659  0.013291  0.003013  0.003080
2006-2  0.658022  0.109624  0.020356  0.017516  0.003075

In [81]:
# Square distance to origin
res_mfact.group_["dist2_sup"]

1979-2    1.338677
2006-2    1.245628
Name: Sq. Dist., dtype: float64

## Extraction

In [82]:
from scientisttools import get_eig,get_mfa, summaryMFA
eig = get_eig(res_mfact)
ind = get_mfa(res_mfact,choice="ind")
freq = get_mfa(res_mfact,choice ="freq")
partial_axes = get_mfa(res_mfact,choice = "partial_axes")

In [83]:
summaryMFA(res_mfact)

                     Multiple Factor Analysis - Results

Importance of components
                          Dim.1   Dim.2   Dim.3   Dim.4   Dim.5
Variance                  1.784   0.919   0.293   0.211   0.126
Difference                0.865   0.627   0.081   0.085   0.078
% of var.                51.293  26.420   8.411   6.071   3.625
Cumulative of % of var.  51.293  77.713  86.125  92.196  95.821

Groups

      Sq. Dist.  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
1979      1.339  0.879  49.266  0.577   0.55  59.797  0.226  0.133  45.584
2006      1.246  0.905  50.734  0.658   0.37  40.203  0.110  0.159  54.416

       cos2
1979  0.013
2006  0.020

Supplementary groups

        Sq. Dist.  Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
1979-2      1.339  0.879  0.577   0.55  0.226  0.133  0.013
2006-2      1.246  0.905  0.658   0.37  0.110  0.159  0.020

Individuals (the 10 first)

                                              Weight  Sq. Dist.  Inertia  \
Accidental poisoning                           0.002     45.818    0.082
Addiction to prescription medication           0.000    617.727    0.162
Alcohol abuse and alcohol-related psychosis    0.007     20.686    0.155
Asthma                                         0.003      0.427    0.001
Blood and hematopoietic disorders              0.005      0.389    0.002
Cerebrovascular disease                        0.117      0.980    0.115
Chronic liver disease                          0.028     12.088    0.338
Complications in pregnancy and childbirth      0.000    406.366    0.072
Congenital defects of the circulatory system   0.001     73.764    0.047
Congenital defects of the nervous system       0.000    110.543    0.014

                                              Dim.1     ctr   cos2   Dim.2  \
Accidental poisoning                          2.569   0.661  0.144   5.367
Addiction to prescription medication          5.155   0.391  0.043  13.837
Alcohol abuse and alcohol-related psychosis   3.834   6.168  0.711   0.624
Asthma                                        0.325   0.017  0.248   0.243
Blood and hematopoietic disorders            -0.313   0.028  0.251   0.426
Cerebrovascular disease                      -0.905   5.366  0.836  -0.137
Chronic liver disease                         3.176  15.784  0.835  -0.371
Complications in pregnancy and childbirth     5.385   0.288  0.071  17.371
Congenital defects of the circulatory system  3.758   0.506  0.191   7.121
Congenital defects of the nervous system      3.984   0.115  0.144   8.924

                                                ctr   cos2  Dim.3    ctr  \
Accidental poisoning                          5.600  0.629  0.332  0.067
Addiction to prescription medication          5.472  0.310  3.267  0.958
Alcohol abuse and alcohol-related psychosis   0.317  0.019  1.815  8.428
Asthma                                        0.019  0.138 -0.161  0.026
Blood and hematopoietic disorders             0.100  0.465 -0.012  0.000
Cerebrovascular disease                       0.239  0.019 -0.078  0.243
Chronic liver disease                         0.417  0.011  0.815  6.339
Complications in pregnancy and childbirth     5.827  0.743 -2.333  0.330
Congenital defects of the circulatory system  3.525  0.687 -0.781  0.133
Congenital defects of the nervous system      1.118  0.720 -1.527  0.103

                                               cos2
Accidental poisoning                          0.002
Addiction to prescription medication          0.017
Alcohol abuse and alcohol-related psychosis   0.159
Asthma                                        0.060
Blood and hematopoietic disorders             0.000
Cerebrovascular disease                       0.006
Chronic liver disease                         0.055
Complications in pregnancy and childbirth     0.013
Congenital defects of the circulatory system  0.008
Congenital defects of the nervous system      0.021

Supplementary individuals (the 10 first)

                                                Dim.1   cos2   Dim.2   cos2  \
Other infectious diseases and parasites        -0.326  0.001   0.157  0.000
Other malignent tumours                         1.164  0.013  -0.242  0.001
Other psychological and behavioural disorders  -1.734  0.023   0.528  0.002
Other respiratory ailments                     -0.917  0.008   0.060  0.000
Other tumours                                   0.432  0.002   0.207  0.000
Pneumonia                                      -1.547  0.021   0.375  0.001
Rhumatoid arthritis and osteoarthritis         -0.724  0.005  -0.222  0.000
Road accidents                                  4.154  0.056  11.275  0.412
Suicides                                        3.792  0.096   4.899  0.161
Tuberculosis                                    0.697  0.003  -0.021  0.000

                                                Dim.3   cos2
Other infectious diseases and parasites        -0.292  0.001
Other malignent tumours                        -0.126  0.000
Other psychological and behavioural disorders   0.398  0.001
Other respiratory ailments                      0.044  0.000
Other tumours                                  -0.302  0.001
Pneumonia                                       0.453  0.002
Rhumatoid arthritis and osteoarthritis         -0.579  0.003
Road accidents                                 -2.855  0.026
Suicides                                        0.679  0.003
Tuberculosis                                   -0.364  0.001

Frequencies (the 10 first)

                  Dim.1     ctr   cos2  Dim.2     ctr   cos2  Dim.3     ctr  \
15-24 (79)        0.814   1.303  0.064  2.837  30.738  0.772 -0.788   7.439
25-34 (79)        0.832   1.887  0.132  1.962  20.350  0.734 -0.411   2.807
35-44 (79)        0.890   4.239  0.573  0.608   3.831  0.267  0.113   0.417
45-54 (79)        0.850  11.984  0.834 -0.009   0.003  0.000  0.210   4.476
55-64 (79)        0.597   8.919  0.866 -0.154   1.152  0.058  0.041   0.256
65-74 (79)        0.169   1.686  0.361 -0.153   2.664  0.294 -0.128   5.896
75-84 (79)       -0.245   5.161  0.770 -0.054   0.489  0.038 -0.078   3.210
85-94 (79)       -0.510  12.037  0.776  0.059   0.317  0.011  0.200  11.246
95 and more (79) -0.699   2.049  0.445  0.177   0.254  0.028  0.620   9.837
15-24 (06)        0.541   0.256  0.037  2.357   9.413  0.701 -0.220   0.257

                   cos2
15-24 (79)        0.059
25-34 (79)        0.032
35-44 (79)        0.009
45-54 (79)        0.051
55-64 (79)        0.004
65-74 (79)        0.207
75-84 (79)        0.079
85-94 (79)        0.119
95 and more (79)  0.350
15-24 (06)        0.006

Supplementary frequencies (the 10 first)

                    Dim.1   cos2  Dim.2   cos2  Dim.3   cos2
15-24 (79)-2        0.814  0.064  2.837  0.772 -0.788  0.059
25-34 (79)-2        0.832  0.132  1.962  0.734 -0.411  0.032
35-44 (79)-2        0.890  0.573  0.608  0.267  0.113  0.009
45-54 (79)-2        0.850  0.834 -0.009  0.000  0.210  0.051
55-64 (79)-2        0.597  0.866 -0.154  0.058  0.041  0.004
65-74 (79)-2        0.169  0.361 -0.153  0.294 -0.128  0.207
75-84 (79)-2       -0.245  0.770 -0.054  0.038 -0.078  0.079
85-94 (79)-2       -0.510  0.776  0.059  0.011  0.200  0.119
95 and more (79)-2 -0.699  0.445  0.177  0.028  0.620  0.350
15-24 (06)-2        0.541  0.037  2.357  0.701 -0.220  0.006

In [84]:
res_mfact.transform(mortality).head(6)

,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5
Accidental poisoning,2.569324,5.367140,0.331603,3.091055,-0.476550
Addiction to prescription medication,5.154826,13.837143,3.266536,18.276503,-5.722817
Alcohol abuse and alcohol-related psychosis,3.834128,0.623989,1.815001,0.356597,-0.618893
Asthma,0.325436,0.243098,-0.160505,0.139221,-0.218079
Blood and hematopoietic disorders,-0.312516,0.425656,-0.012083,0.016053,-0.148215
Cerebrovascular disease,-0.905060,-0.137078,-0.078055,0.227332,0.097495

## Description of dimensions

In [85]:
from scientisttools import dimdesc
Dimdesc = dimdesc(res_mfact)
Dimdesc["Dim.1"]["quanti"]

                  correlation        pvalue
55-64 (79)           0.930458  0.000000e+00
45-54 (79)           0.913100  0.000000e+00
55-64 (06)           0.899321  0.000000e+00
45-54 (06)           0.885215  0.000000e+00
35-44 (79)           0.757251  1.965004e-10
65-74 (06)           0.724459  2.726574e-09
65-74 (79)           0.601132  3.908472e-06
35-44 (06)           0.588864  6.849719e-06
25-34 (79)           0.363587  9.447667e-03
75-84 (06)          -0.471518  5.472766e-04
95 and more (79)    -0.666820  1.242798e-07
95 and more (06)    -0.750155  3.591869e-10
75-84 (79)          -0.877486  0.000000e+00
85-94 (79)          -0.881053  0.000000e+00
85-94 (06)          -0.910178  0.000000e+00

In [86]:
Dimdesc["Dim.2"]["quanti"]

                  correlation        pvalue
15-24 (79)           0.878558  0.000000e+00
25-34 (79)           0.856807  1.998401e-15
15-24 (06)           0.837072  3.619327e-14
25-34 (06)           0.745104  5.451757e-10
35-44 (06)           0.537352  5.728710e-05
35-44 (79)           0.516635  1.225500e-04
95 and more (06)     0.301581  3.330468e-02
75-84 (06)          -0.290909  4.040623e-02
55-64 (06)          -0.304705  3.143316e-02
65-74 (06)          -0.476097  4.745387e-04
65-74 (79)          -0.542266  4.748073e-05