# Specific MCA - Poison

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
from scientisttools import load_poison
poison = load_poison()
poison.head(6)

,Age,Time,Sick,Sex,Nausea,Vomiting,Abdominals,Fever,Diarrhae,Potato,Fish,Mayo,Courgette,Cheese,Icecream
rownames,,,,,,,,,,,,,,,
1,9,22,Sick_y,F,Nausea_y,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
2,5,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_n,Icecream_y
3,6,16,Sick_y,F,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
4,9,0,Sick_n,F,Nausea_n,Vomit_n,Abdo_n,Fever_n,Diarrhea_n,Potato_y,Fish_y,Mayo_n,Courg_y,Cheese_y,Icecream_y
5,7,14,Sick_y,M,Nausea_n,Vomit_y,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_y,Mayo_y,Courg_y,Cheese_y,Icecream_y
6,72,9,Sick_y,M,Nausea_n,Vomit_n,Abdo_y,Fever_y,Diarrhea_y,Potato_y,Fish_n,Mayo_y,Courg_y,Cheese_y,Icecream_y

In [3]:
from scientisttools import SpecificMCA
# Junk 
excl = {"Sick" : "Sick_n", "Sex" : "F"}
res_mca = SpecificMCA(n_components=5,excl=excl,quanti_sup=[0,1],quali_sup=[13,14])
res_mca.fit(poison)

SpecificMCA(excl={'Sex': 'F', 'Sick': 'Sick_n'}, quali_sup=[13, 14],
            quanti_sup=[0, 1])

## Eigenvalues

In [4]:
res_mca.eig_

,eigenvalue,difference,proportion,cumulative,modified rates,cumulative modified rates
Dim.1,0.345458,0.220992,38.704126,38.704126,98.086085,98.086085
Dim.2,0.124466,0.021800,13.944852,52.648978,1.704666,99.790751
Dim.3,0.102666,0.021593,11.502415,64.151393,0.209249,100.000000
Dim.4,0.081073,0.017993,9.083166,73.234560,0.000000,100.000000
Dim.5,0.063080,0.001496,7.067335,80.301895,0.000000,100.000000
Dim.6,0.061585,0.012116,6.899784,87.201679,0.000000,100.000000
Dim.7,0.049468,0.010890,5.542301,92.743980,0.000000,100.000000
Dim.8,0.038579,0.025585,4.322253,97.066233,0.000000,100.000000
Dim.9,0.012994,0.000778,1.455809,98.522042,0.000000,100.000000
Dim.10,0.012216,0.011239,1.368596,99.890637,0.000000,100.000000
Dim.11,0.000976,NaN,0.109363,100.000000,0.000000,100.000000

## Individuals informations

In [5]:
ind = res_mca.ind_
ind.keys()

dict_keys(['coord', 'contrib', 'cos2', 'infos'])

# Individuals coordinates

In [6]:
ind["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.440528  0.284897 -0.121332 -0.116405  0.143585
2 -0.733351  0.049914 -0.023681 -0.146486 -0.355949
3  0.441478 -0.222924  0.053872 -0.225714 -0.022648
4 -0.973966 -0.032149 -0.068564  0.053242  0.335419
5  0.444577 -0.187343  0.102264 -0.191521 -0.000859
6  0.352338  0.378504  2.045537  0.655324 -0.055846

In [7]:
ind["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.309067  0.129265  0.023445  0.021580  0.032834
2  0.732019  0.003391  0.000763  0.029207  0.172455
3  0.483300  0.123229  0.007197  0.126333  0.001272
4  0.844279  0.000920  0.004184  0.002523  0.100132
5  0.486049  0.086310  0.025718  0.090202  0.000002
6  0.023699  0.027350  0.798776  0.081983  0.000595

## Supplementary quantitatives

In [8]:
quanti_sup = res_mca.quanti_sup_
quanti_sup.keys()

dict_keys(['coord', 'cos2'])

In [9]:
# Coordinates
quanti_sup["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.002857 -0.037462  0.306205  0.129299 -0.027888
Time  0.840685  0.036761  0.017441 -0.104713  0.029749

In [10]:
# Square cosinus
quanti_sup["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.000008  0.001403  0.093761  0.016718  0.000778
Time  0.706752  0.001351  0.000304  0.010965  0.000885

## Supplementary qualitatives

In [11]:
quali_sup = res_mca.quali_sup_
quali_sup.keys()

dict_keys(['coord', 'cos2', 'dist', 'vtest', 'eta2'])

### transform

In [12]:
ind = poison.drop(columns=["Age","Time","Cheese","Icecream"])
res_mca.transform(ind).head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.440528  0.284897 -0.121332 -0.116405  0.143585
2 -0.733351  0.049914 -0.023681 -0.146486 -0.355949
3  0.441478 -0.222924  0.053872 -0.225714 -0.022648
4 -0.973966 -0.032149 -0.068564  0.053242  0.335419
5  0.444577 -0.187343  0.102264 -0.191521 -0.000859
6  0.352338  0.378504  2.045537  0.655324 -0.055846

## Predict SpecificMCA

In [13]:
from scientisttools import predictSpecificMCA

predict = predictSpecificMCA(res_mca,X=ind)
predict.keys()

dict_keys(['coord', 'cos2', 'dist'])

In [14]:
predict["coord"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.440528  0.284897 -0.121332 -0.116405  0.143585
2 -0.733351  0.049914 -0.023681 -0.146486 -0.355949
3  0.441478 -0.222924  0.053872 -0.225714 -0.022648
4 -0.973966 -0.032149 -0.068564  0.053242  0.335419
5  0.444577 -0.187343  0.102264 -0.191521 -0.000859
6  0.352338  0.378504  2.045537  0.655324 -0.055846

In [15]:
predict["cos2"].head(6)

      Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
1  0.309067  0.129265  0.023445  0.021580  0.032834
2  0.732019  0.003391  0.000763  0.029207  0.172455
3  0.483300  0.123229  0.007197  0.126333  0.001272
4  0.844279  0.000920  0.004184  0.002523  0.100132
5  0.486049  0.086310  0.025718  0.090202  0.000002
6  0.023699  0.027350  0.798776  0.081983  0.000595

### Supvar

In [16]:
from scientisttools import supvarSpecificMCA
quantisup = poison.iloc[:,:2]
qualisup = poison.iloc[:,[13,14]]
supvar = supvarSpecificMCA(res_mca,X_quanti_sup=quantisup,X_quali_sup=qualisup)
supvar.keys()

dict_keys(['quanti', 'quali'])

### Supplementary quantitatives

In [17]:
supvar["quanti"].keys()

dict_keys(['coord', 'cos2'])

In [18]:
# Coordinates
supvar["quanti"]["coord"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age  -0.002857 -0.037462  0.306205  0.129299 -0.027888
Time  0.840685  0.036761  0.017441 -0.104713  0.029749

In [19]:
# Cos2
supvar["quanti"]["cos2"]

         Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Age   0.000008  0.001403  0.093761  0.016718  0.000778
Time  0.706752  0.001351  0.000304  0.010965  0.000885

### Supplementary qualitatives variables

In [20]:
# Coordinates
supvar["quali"].keys()

dict_keys(['coord', 'cos2', 'dist', 'vtest', 'eta2'])

In [21]:
# Coordinates
supvar["quali"]["coord"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Cheese_n   -0.875692 -0.229080 -0.056300  0.215892  0.062425
Cheese_y    0.127705  0.033408  0.008210 -0.031484 -0.009104
Icecream_n -0.417971 -0.340865 -0.297100  0.537827  0.579215
Icecream_y  0.032782  0.026734  0.023302 -0.042182 -0.045429

In [22]:
# Square cosinus
supvar["quali"]["cos2"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Cheese_n    0.111830  0.007653  0.000462  0.006797  0.000568
Cheese_y    0.111830  0.007653  0.000462  0.006797  0.000568
Icecream_n  0.013702  0.009113  0.006923  0.022687  0.026313
Icecream_y  0.013702  0.009113  0.006923  0.022687  0.026313

In [23]:
# square distance
supvar["quali"]["dist"]

Cheese_n       6.857143
Cheese_y       0.145833
Icecream_n    12.750000
Icecream_y     0.078431
Name: Sq. Dist., dtype: float64

In [24]:
# vtest
supvar["quali"]["vtest"]

               Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Cheese_n   -2.457405 -0.642854 -0.157991  0.605846  0.175180
Cheese_y    2.457405  0.642854  0.157991 -0.605846 -0.175180
Icecream_n -0.860177 -0.701494 -0.611426  1.106838  1.192015
Icecream_y  0.860177  0.701494  0.611426 -1.106838 -1.192015

In [25]:
# eta2
supvar["quali"]["eta2"]

             Dim.1     Dim.2     Dim.3     Dim.4     Dim.5
Cheese    0.111830  0.007653  0.000462  0.006797  0.000568
Icecream  0.013702  0.009113  0.006923  0.022687  0.026313